# Cleaning of Job Data

**Cleaning Part 1:**

First, the Location, Company Name, Job Titles, and Seniority Level are cleaned. Those columns will then be used to detect duplicates.


**Removal of Duplicates:**

The dataframe will be scanned for duplicated rows in multiple steps:
1. Drop rows that are duplicates based on all columns.
2. Drop rows that show duplicated values in a selection of columns.
3. Compare written job descriptions, flagging and dropping listings that show substantial similarity.


**Cleaning Part 2:**

After having removed duplicated listings, the following cleaning steps will be performed:
- Job Titles: titles will be categorized into 10 groups with the help of ChatGPT.
- Number of Days Online: The number of days a job ad has been online will be grouped.
- Tech Stack: Technologies will be defined and extracted if mentioned in job description.
- Geodata: Based on the cleaned location column, latitude and longitude of the individual locations will be added.
- Long format: the final dataframe will additionally be stored in a long format allowing for filtering of mentioned tech stack and job types in a streamlit dashboard.

In [1]:
# Import libraries
import Levenshtein
import numpy as np
import pandas as pd
import pickle

from geopy.geocoders import Nominatim

In [2]:
# Read file
file_name = "job_data_raw_anonymized.csv"
df = pd.read_csv(file_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1625 entries, 0 to 1624
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   title                        1625 non-null   object
 1   company                      1625 non-null   object
 2   location                     1625 non-null   object
 3   salary                       22 non-null     object
 4   seniority_level              796 non-null    object
 5   date_posted                  1147 non-null   object
 6   date_accessed                1625 non-null   object
 7   days_online                  1147 non-null   float64
 8   number_applicants            796 non-null    float64
 9   job_type_Vollzeit            1625 non-null   int64
 10  job_type_Teilzeit            1625 non-null   int64
 11  job_type_Festanstellung      1625 non-null   int64
 12  job_type_BefristeterVertrag  1625 non-null   int64
 13  job_type_Homeoffice          1625 non-null   int64
 14  job_type_FreieMitarbeit      1625 non-null   int64
 15  job_type_Traineeprogramm     1625 non-null   int64
 16  job_type_Berufsausbildung    1625 non-null   int64
 17  job_type_Praktikum           1625 non-null   int64
 18  job_type_Werkstudent         1625 non-null   int64
 19  job_description_anonymized   1625 non-null   object
 20  source_id                    1625 non-null   int64
dtypes: float64(2), int64(11), object(8)
memory usage: 266.7+ KB

## Location

In [3]:
df["location"].value_counts()

location
Berlin                       241
München                      147
Deutschland                   91
Hamburg                       76
 Berlin                       72
                            ...
 Bad Homburg vor der Höhe      1
 Straße                        1
Bremerhaven                    1
 Wuppertal                     1
Münchberg                      1
Name: count, Length: 302, dtype: int64

In [4]:
# clean white space
df["location"] = df["location"].str.strip()
df["location"].value_counts()

location
Berlin               324
München              200
Hamburg              110
Deutschland           96
Frankfurt am Main     87
                    ...
Penzberg               1
Büren                  1
Gießen                 1
Buch                   1
Münchberg              1
Name: count, Length: 236, dtype: int64

In [5]:
np.sort(df["location"].unique())

array(['Aachen',
       'Aachen, Bonn, Dortmund, Düsseldorf, Essen, Frankfurt, Hannover, Köln, Münster, Paderborn, Siegen',
       'Aalen', 'Ahrensburg', 'Arnstorf', 'Aschheim', 'Attenkirchen',
       'Augsburg',
       'Augsburg, Karlsruhe, Koblenz, München, Nürnberg, Saarbrücken, Stuttgart, Ulm, Walldorf',
       'Bad Berleburg', 'Bad Ems', 'Bad Gandersheim', 'Bad Homburg',
       'Bad Homburg vor der Höhe', 'Bad Nauheim', 'Bad Salzuflen',
       'Baden-Württemberg', 'Bargteheide', 'Bayern', 'Bayreuth',
       'Bensheim', 'Bergisch Gladbach', 'Berlin', 'Berlin-Kreuzberg',
       'Biberach', 'Biberach an der Riß', 'Bielefeld', 'Bochum', 'Bonn',
       'Braunschweig', 'Bremen', 'Bremen, Oldenburg', 'Bremerhaven',
       'Buch', 'Burgdorf', 'Burghausen', 'Böblingen', 'Büren',
       'Clausthal-Zellerfeld', 'Coburg', 'Coesfeld', 'Coesfeld-Lette',
       'Damme', 'Darmstadt', 'Detmold', 'Deutschland', 'Dorsten',
       'Dortmund', 'Dresden', 'Duisburg', 'Düsseldorf',
       'Düsseldorf, Paderborn', 'Ebermannstadt', 'Einbeck', 'Erlangen',
       'Esch', 'Eschborn', 'Essen', 'Ettlingen', 'Fellbach',
       'Fischach, Augsburg, Freising, München, Wachau, Dresden',
       'Frankfurt', 'Frankfurt am Main', 'Frankfurt am Main, München',
       'Freiburg', 'Freiburg im Breisgau', 'Fürth', 'Garching',
       'Gerlingen', 'Gießen', 'Gladbeck', 'Gotha', 'Grafing bei München',
       'Großenlüder', 'Großwallstadt', 'Grünheide', 'Grünwald',
       'Gunzenhausen', 'Görlitz', 'Göttingen', 'Gütersloh', 'Hamburg',
       'Hamburg, Köln',
       'Hamburg, München, Ulm, Donauwörth, Friedrichshafen, Manching',
       'Hameln', 'Hanau', 'Hannover',
       'Hannover-Braunschweig-Göttingen-Wolfsburg Region', 'Harsewinkel',
       'Hechingen', 'Heidelberg', 'Heidenheim', 'Heilbronn', 'Hessen',
       'Hoisdorf', 'Holm', 'Homeoffice', 'Hürth', 'Ilmenau', 'Ilsenburg',
       'Immenstadt', 'Ingelfingen', 'Ingolstadt', 'Innsbruck', 'Jena',
       'Jena, Oberkochen, Roßdorf', 'Jülich', 'Karlsruhe', 'Kassel',
       'Kempten', 'Kiel', 'Kirchentellinsfurt', 'Koblenz', 'Konstanz',
       'Kornwestheim', 'Krailling', 'Krefeld', 'Kronberg', 'Kulmbach',
       'Köln', 'Köln, Düsseldorf', 'Königstein im Taunus', 'Künsebeck',
       'Lampertheim', 'Langenhagen', 'Langenselbold', 'Leimen', 'Leipzig',
       'Lingen', 'Ludwigshafen', 'Ludwigshafen am Rhein', 'Luxembourg',
       'Lübbecke', 'Lübeck', 'Lüneburg', 'Mailand', 'Maintal', 'Mainz',
       'Mannheim', 'Mannheim, Fürth', 'Marburg an der Lahn',
       'Martinsried', 'Minden', 'Monheim am Rhein', 'Munich',
       'Mühlheim am Main', 'Mülheim an der Ruhr', 'Münchberg', 'München',
       'München, Tübingen', 'Münster', 'Neuenstadt am Kocher',
       'Neuherberg', 'Neukölln', 'Neuried', 'Neuss', 'Neuwied',
       'Norderstedt', 'Nordrhein-Westfalen', 'Nördlingen', 'Nürnberg',
       'Nürnberg, München', 'Oberkochen', 'Oberschleißheim',
       'Obersontheim', 'Obertshausen', 'Offenbach', 'Offenburg',
       'Offingen', 'Oldenburg', 'Osnabrück', 'Osnabrück, Saarbrücken',
       'Ostseebad Kühlungsborn', 'Ottobrunn', 'Paderborn', 'Penzberg',
       'Planegg', 'Potsdam', 'Puchheim', 'Regensburg', 'Remscheid',
       'Rheda-Wiedenbrück', 'Rodgau', 'Rosenberg', 'Rosenheim', 'Rust',
       'Saarbrücken', 'Salzgitter', 'Sankt Augustin', 'Saterland',
       'Schenefeld', 'Schrobenhausen', 'Schwabmünchen', 'Schwalbach',
       'Schwarzenbruck', 'Schweinfurt', 'Schwäbisch Gmünd',
       'Seligenstadt', 'Siegburg', 'Siegen', 'Sindelfingen', 'Solingen',
       'St. Leon-Rot,', 'Starnberg', 'Stephanskirchen', 'Straubing',
       'Straße', 'Stuttgart', 'Stuttgart, Esslingen, Sindelfingen',
       'Stuttgart, Frankfurt am Main', 'Stuttgart, Hamburg', 'Sulzbach',
       'Taufkirchen', 'Tettnang', 'Traunreut', 'Trittau', 'Tübingen',
       'Ulm', 'Unterföhring', 'Unterschleißheim', 'Urbar', 'Vallendar',
       'Verl', 'Weeze', 'Weikersheim', 'Weil am Rhein', 'Weinheim',
       'Wesel', 'Westerstede', 'Wiesbaden', 'Winnenden', 'Wolfsburg',
       'Wuppertal', 'Würzburg', 'Zeuthen', 'Zweibrücken'], dtype=object)

In [6]:
# show listings with more than one location
df.loc[df["location"].str.contains(","), "location"]

1300                                    Nürnberg, München
1302                                    Bremen, Oldenburg
1310                         Stuttgart, Frankfurt am Main
1337                               Osnabrück, Saarbrücken
1370                           Frankfurt am Main, München
1372                                Düsseldorf, Paderborn
1382                                        St. Leon-Rot,
1388                                        Hamburg, Köln
1398                                      Mannheim, Fürth
1460                                   Stuttgart, Hamburg
1483                   Stuttgart, Esslingen, Sindelfingen
1505    Hamburg, München, Ulm, Donauwörth, Friedrichsh...
1527                                     Köln, Düsseldorf
1532    Fischach, Augsburg, Freising, München, Wachau,...
1557                                    München, Tübingen
1578    Augsburg, Karlsruhe, Koblenz, München, Nürnber...
1579    Aachen, Bonn, Dortmund, Düsseldorf, Essen, Fra...
1585                            Jena, Oberkochen, Roßdorf
Name: location, dtype: object

In [7]:
# For simplicity, use first location mentioned
# Create regular expression removing all characters after a comma
my_regex = r"(,).*$"

# Test regex
df.loc[df["location"].str.contains(","), "location"].str.replace(my_regex, "", regex=True)

1300             Nürnberg
1302               Bremen
1310            Stuttgart
1337            Osnabrück
1370    Frankfurt am Main
1372           Düsseldorf
1382         St. Leon-Rot
1388              Hamburg
1398             Mannheim
1460            Stuttgart
1483            Stuttgart
1505              Hamburg
1527                 Köln
1532             Fischach
1557              München
1578             Augsburg
1579               Aachen
1585                 Jena
Name: location, dtype: object

In [8]:
# Apply regex
my_regex = r"(,).*$"
df["location_clean"] = df["location"].str.replace(my_regex, "", regex=True)
np.sort(df["location_clean"].unique())

array(['Aachen', 'Aalen', 'Ahrensburg', 'Arnstorf', 'Aschheim',
       'Attenkirchen', 'Augsburg', 'Bad Berleburg', 'Bad Ems',
       'Bad Gandersheim', 'Bad Homburg', 'Bad Homburg vor der Höhe',
       'Bad Nauheim', 'Bad Salzuflen', 'Baden-Württemberg', 'Bargteheide',
       'Bayern', 'Bayreuth', 'Bensheim', 'Bergisch Gladbach', 'Berlin',
       'Berlin-Kreuzberg', 'Biberach', 'Biberach an der Riß', 'Bielefeld',
       'Bochum', 'Bonn', 'Braunschweig', 'Bremen', 'Bremerhaven', 'Buch',
       'Burgdorf', 'Burghausen', 'Böblingen', 'Büren',
       'Clausthal-Zellerfeld', 'Coburg', 'Coesfeld', 'Coesfeld-Lette',
       'Damme', 'Darmstadt', 'Detmold', 'Deutschland', 'Dorsten',
       'Dortmund', 'Dresden', 'Duisburg', 'Düsseldorf', 'Ebermannstadt',
       'Einbeck', 'Erlangen', 'Esch', 'Eschborn', 'Essen', 'Ettlingen',
       'Fellbach', 'Fischach', 'Frankfurt', 'Frankfurt am Main',
       'Freiburg', 'Freiburg im Breisgau', 'Fürth', 'Garching',
       'Gerlingen', 'Gießen', 'Gladbeck', 'Gotha', 'Grafing bei München',
       'Großenlüder', 'Großwallstadt', 'Grünheide', 'Grünwald',
       'Gunzenhausen', 'Görlitz', 'Göttingen', 'Gütersloh', 'Hamburg',
       'Hameln', 'Hanau', 'Hannover',
       'Hannover-Braunschweig-Göttingen-Wolfsburg Region', 'Harsewinkel',
       'Hechingen', 'Heidelberg', 'Heidenheim', 'Heilbronn', 'Hessen',
       'Hoisdorf', 'Holm', 'Homeoffice', 'Hürth', 'Ilmenau', 'Ilsenburg',
       'Immenstadt', 'Ingelfingen', 'Ingolstadt', 'Innsbruck', 'Jena',
       'Jülich', 'Karlsruhe', 'Kassel', 'Kempten', 'Kiel',
       'Kirchentellinsfurt', 'Koblenz', 'Konstanz', 'Kornwestheim',
       'Krailling', 'Krefeld', 'Kronberg', 'Kulmbach', 'Köln',
       'Königstein im Taunus', 'Künsebeck', 'Lampertheim', 'Langenhagen',
       'Langenselbold', 'Leimen', 'Leipzig', 'Lingen', 'Ludwigshafen',
       'Ludwigshafen am Rhein', 'Luxembourg', 'Lübbecke', 'Lübeck',
       'Lüneburg', 'Mailand', 'Maintal', 'Mainz', 'Mannheim',
       'Marburg an der Lahn', 'Martinsried', 'Minden', 'Monheim am Rhein',
       'Munich', 'Mühlheim am Main', 'Mülheim an der Ruhr', 'Münchberg',
       'München', 'Münster', 'Neuenstadt am Kocher', 'Neuherberg',
       'Neukölln', 'Neuried', 'Neuss', 'Neuwied', 'Norderstedt',
       'Nordrhein-Westfalen', 'Nördlingen', 'Nürnberg', 'Oberkochen',
       'Oberschleißheim', 'Obersontheim', 'Obertshausen', 'Offenbach',
       'Offenburg', 'Offingen', 'Oldenburg', 'Osnabrück',
       'Ostseebad Kühlungsborn', 'Ottobrunn', 'Paderborn', 'Penzberg',
       'Planegg', 'Potsdam', 'Puchheim', 'Regensburg', 'Remscheid',
       'Rheda-Wiedenbrück', 'Rodgau', 'Rosenberg', 'Rosenheim', 'Rust',
       'Saarbrücken', 'Salzgitter', 'Sankt Augustin', 'Saterland',
       'Schenefeld', 'Schrobenhausen', 'Schwabmünchen', 'Schwalbach',
       'Schwarzenbruck', 'Schweinfurt', 'Schwäbisch Gmünd',
       'Seligenstadt', 'Siegburg', 'Siegen', 'Sindelfingen', 'Solingen',
       'St. Leon-Rot', 'Starnberg', 'Stephanskirchen', 'Straubing',
       'Straße', 'Stuttgart', 'Sulzbach', 'Taufkirchen', 'Tettnang',
       'Traunreut', 'Trittau', 'Tübingen', 'Ulm', 'Unterföhring',
       'Unterschleißheim', 'Urbar', 'Vallendar', 'Verl', 'Weeze',
       'Weikersheim', 'Weil am Rhein', 'Weinheim', 'Wesel', 'Westerstede',
       'Wiesbaden', 'Winnenden', 'Wolfsburg', 'Wuppertal', 'Würzburg',
       'Zeuthen', 'Zweibrücken'], dtype=object)

In [9]:
# Some locations need extra attention
location_dict = {
    "Biberach": "Biberach an der Riß",
    "Hannover-Braunschweig-Göttingen-Wolfsburg Region": "Hannover",
    "Ludwigshafen am Rhein": "Ludwigshafen",
    "Berlin-Kreuzberg": "Berlin",
    "Neukölln": "Berlin",
    "Munich": "München",
    "Homeoffice": "Deutschland",
}

for old_location, new_location in location_dict.items():
    df.loc[df["location_clean"] == old_location, "location_clean"] = new_location

np.sort(df["location_clean"].unique())

array(['Aachen', 'Aalen', 'Ahrensburg', 'Arnstorf', 'Aschheim',
       'Attenkirchen', 'Augsburg', 'Bad Berleburg', 'Bad Ems',
       'Bad Gandersheim', 'Bad Homburg', 'Bad Homburg vor der Höhe',
       'Bad Nauheim', 'Bad Salzuflen', 'Baden-Württemberg', 'Bargteheide',
       'Bayern', 'Bayreuth', 'Bensheim', 'Bergisch Gladbach', 'Berlin',
       'Biberach an der Riß', 'Bielefeld', 'Bochum', 'Bonn',
       'Braunschweig', 'Bremen', 'Bremerhaven', 'Buch', 'Burgdorf',
       'Burghausen', 'Böblingen', 'Büren', 'Clausthal-Zellerfeld',
       'Coburg', 'Coesfeld', 'Coesfeld-Lette', 'Damme', 'Darmstadt',
       'Detmold', 'Deutschland', 'Dorsten', 'Dortmund', 'Dresden',
       'Duisburg', 'Düsseldorf', 'Ebermannstadt', 'Einbeck', 'Erlangen',
       'Esch', 'Eschborn', 'Essen', 'Ettlingen', 'Fellbach', 'Fischach',
       'Frankfurt', 'Frankfurt am Main', 'Freiburg',
       'Freiburg im Breisgau', 'Fürth', 'Garching', 'Gerlingen', 'Gießen',
       'Gladbeck', 'Gotha', 'Grafing bei München', 'Großenlüder',
       'Großwallstadt', 'Grünheide', 'Grünwald', 'Gunzenhausen',
       'Görlitz', 'Göttingen', 'Gütersloh', 'Hamburg', 'Hameln', 'Hanau',
       'Hannover', 'Harsewinkel', 'Hechingen', 'Heidelberg', 'Heidenheim',
       'Heilbronn', 'Hessen', 'Hoisdorf', 'Holm', 'Hürth', 'Ilmenau',
       'Ilsenburg', 'Immenstadt', 'Ingelfingen', 'Ingolstadt',
       'Innsbruck', 'Jena', 'Jülich', 'Karlsruhe', 'Kassel', 'Kempten',
       'Kiel', 'Kirchentellinsfurt', 'Koblenz', 'Konstanz',
       'Kornwestheim', 'Krailling', 'Krefeld', 'Kronberg', 'Kulmbach',
       'Köln', 'Königstein im Taunus', 'Künsebeck', 'Lampertheim',
       'Langenhagen', 'Langenselbold', 'Leimen', 'Leipzig', 'Lingen',
       'Ludwigshafen', 'Luxembourg', 'Lübbecke', 'Lübeck', 'Lüneburg',
       'Mailand', 'Maintal', 'Mainz', 'Mannheim', 'Marburg an der Lahn',
       'Martinsried', 'Minden', 'Monheim am Rhein', 'Mühlheim am Main',
       'Mülheim an der Ruhr', 'Münchberg', 'München', 'Münster',
       'Neuenstadt am Kocher', 'Neuherberg', 'Neuried', 'Neuss',
       'Neuwied', 'Norderstedt', 'Nordrhein-Westfalen', 'Nördlingen',
       'Nürnberg', 'Oberkochen', 'Oberschleißheim', 'Obersontheim',
       'Obertshausen', 'Offenbach', 'Offenburg', 'Offingen', 'Oldenburg',
       'Osnabrück', 'Ostseebad Kühlungsborn', 'Ottobrunn', 'Paderborn',
       'Penzberg', 'Planegg', 'Potsdam', 'Puchheim', 'Regensburg',
       'Remscheid', 'Rheda-Wiedenbrück', 'Rodgau', 'Rosenberg',
       'Rosenheim', 'Rust', 'Saarbrücken', 'Salzgitter', 'Sankt Augustin',
       'Saterland', 'Schenefeld', 'Schrobenhausen', 'Schwabmünchen',
       'Schwalbach', 'Schwarzenbruck', 'Schweinfurt', 'Schwäbisch Gmünd',
       'Seligenstadt', 'Siegburg', 'Siegen', 'Sindelfingen', 'Solingen',
       'St. Leon-Rot', 'Starnberg', 'Stephanskirchen', 'Straubing',
       'Straße', 'Stuttgart', 'Sulzbach', 'Taufkirchen', 'Tettnang',
       'Traunreut', 'Trittau', 'Tübingen', 'Ulm', 'Unterföhring',
       'Unterschleißheim', 'Urbar', 'Vallendar', 'Verl', 'Weeze',
       'Weikersheim', 'Weil am Rhein', 'Weinheim', 'Wesel', 'Westerstede',
       'Wiesbaden', 'Winnenden', 'Wolfsburg', 'Wuppertal', 'Würzburg',
       'Zeuthen', 'Zweibrücken'], dtype=object)

In [10]:
df["location_clean"].value_counts()

location_clean
Berlin               326
München              212
Hamburg              112
Deutschland          109
Frankfurt am Main     88
                    ...
Penzberg               1
Büren                  1
Gießen                 1
Urbar                  1
Münchberg              1
Name: count, Length: 213, dtype: int64

## Company Names

In [11]:
# Explore unique company names
np.sort(df["company"].unique()).tolist()

['1&1 Mail & Media Applications SE',
 '1KOMMA5°',
 '1Komma5° GmbH',
 '1komma6 - Multimediale Dienstleistungen GmbH',
 '1x2 Technologies GmbH',
 '4.screen GmbH',
 '4screen',
 'ABB',
 'ABOUT YOU',
 'ABOUT YOU AG & Co. KG',
 'ACCURE Battery Intelligence',
 'ACONEXT',
 'ACONEXT Stuttgart GmbH',
 'ADAC',
 'ADAC Allgemeiner Deutscher Automobil Club',
 'ADEAL Systems GmbH',
 'ADG Apotheken-Dienstleistungsgesellschaft mbH',
 'ADM',
 'AI Futures',
 'AI.Associates GmbH',
 'AITAD GmbH',
 'AL Solutions',
 'ALACRiS Theranostics GmbH',
 'ALDI Einkauf SE & Co. oHG',
 'ALDI SÜD',
 'ALTEN Consulting Services GmbH',
 'ALTEN Germany',
 'AMAI GmbH',
 'AMD',
 'AOK Bayern - Die Gesundheitskasse',
 'ATH Altonaer-Technologie-Holding GmbH',
 'ATLAS ELEKTRONIK GmbH',
 'ATLAS MARIDAN ApS',
 'ATOSS Software AG',
 'AUTO1 Group',
 'AVAT Automation GmbH',
 'AWS EMEA SARL (Germany Branch)',
 'AXULUS',
 'AbbVie',
 'AbbVie Deutschland GmbH & Co. KG',
 'Accenture',
 'Aerzener Maschinenfabrik',
 'Aignostics',
 'Ailio GmbH',
 'Akkodis',
 'Aklass Solutions',
 'Albatross AI',
 'Alcedis - a HUMA company',
 'Alexander Thamm GmbH',
 'Alfred-Wegener-Institut für Polar- und...',
 'Algea Care',
 'Alithea Bio',
 'AlixPartners',
 'Allgeier Public',
 'Allianz',
 'Allianz Digital Health GmbH',
 'Allianz Versicherungs-AG',
 'Allos Hof-Manufaktur GmbH',
 'Almedia',
 'Amazon',
 'Amazon Development Center Germany GmbH',
 'Amazon Development Center Germany GmbH - C92',
 'Amazon Europe Core',
 'Amazon Web Services (AWS)',
 'Amazon Web Services Development Center Germany...',
 'Amfileon AG',
 'Ammerländer Versicherung VVaG',
 'Amprion GmbH',
 'Amundi',
 'Amundi Deutschland GmbH',
 'Analytik Jena GmbH+Co. KG',
 'AppLike GmbH',
 'Appinio',
 'Aptiv',
 'Arete AG',
 'Ariadne',
 'Artivion EMEA',
 'Arvato',
 'Arvato Systems',
 'Arvato Systems Digital GmbH',
 'Ascendis Pharma',
 'Asklepios Service IT GmbH',
 'Atruvia AG',
 'AudaCity Capital Management',
 'Audible',
 'Ausbildung.de',
 'Autonomous Teaming Solutions',
 'Avo Intelligence',
 'Axel Springer',
 'Axel Springer National Media & Tech GmbH & Co. KG',
 'BARMER',
 'BASF',
 'BASF SE',
 'BAUER Group',
 'BCG X',
 'BI Pharma GmbH&Co.KG',
 'BI Vetmedica GmbH',
 'BID Bayerischer Inkasso Dienst GmbH',
 'BIKAR-METALLE GmbH',
 'BIOTRONIK Corporate Services SE',
 'BIOTYPE GmbH',
 'BITA',
 'BMW',
 'BMW Group',
 'BN Automation AG',
 'BNP Paribas Personal Investors',
 'BRIGHT Testing GmbH',
 'BRUSS Sealing Systems GmbH',
 'BUDNI Handels- und Service GmbH & Co. KG',
 'BWF Group',
 'BWorks HR Professional',
 'BYK Additives',
 'BYK-Chemie GmbH',
 'Babbel GmbH',
 'Baker Tilly',
 'Barbaricum',
 'Baumlink',
 'BayWa r.e. Solar Trade Holding GmbH',
 'Bayer',
 'Bayerisches Landesamt für Gesundheit und Lebensmittelsicherheit',
 'Bayerisches Landesamt für Statistik',
 'Beam AI',
 'BearingPoint',
 'Bechtle GmbH Bremen',
 'Bechtle GmbH IT-Systemhaus Bremen',
 'Behrend e.K.',
 'Beiersdorf',
 'Beiersdorf Shared Services',
 'Bergfreunde GmbH',
 'Berliner Wasserbetriebe',
 'Bertrandt AG',
 'Binance',
 'BioNTech SE',
 'Biomarker Services GmbH',
 'Blacklane',
 'BlueOak Advertising GmbH',
 'BluePrint Executive Search',
 'BlueThrone',
 'Boehringer Ingelheim',
 'Bolt',
 'Booz Allen',
 'Booz Allen Hamilton',
 'Bosch',
 'Bosch Gruppe',
 'Boston Consulting Group',
 'Branch Tech',
 'Breuninger',
 'BridgingIT GmbH',
 'Bring! Labs AG',
 'Brunel',
 'Bundesagentur für Arbeit',
 'C. Melchers GmbH & Co. KG',
 'CANCOM SE',
 'CBM Christoffel-Blindenmission Christian Blind Mission e.V.',
 'CBTW',
 'CDP',
 'CEEZER',
 'CGI',
 'CHECK24',
 'CHECK24 Vergleichsportal',
 'CHEFS CULINAR',
 'CHEFS CULINAR GmbH & Co. KG',
 'CIDEON Software & Services GmbH & Co. KG',
 'CLAAS KGaA mbH',
 'CONET',
 'CONNECTMETA.AI',
 'COREcruitment Ltd',
 'CRELUX GmbH',
 'CSL Behring',
 'CUJU',
 'Cambrium',
 'Capgemini',
 'Capgemini Deutschland',
 'Capgemini Invent',
 'CarOnSale',
 'Carhartt WIP (Work In Progress)',
 'Carl Zeiss IQS Software R&D Center',
 'Celonis',
 'Centric Software',
 'Certivity',
 'Chaozhou Three-circle Group Co., Ltd.',
 'Cherry Ventures',
 'Cherry Ventures Management GmbH',
 'Choco',
 'Choco Communications GmbH',
 'Christ&Company Consulting GmbH',
 'Ciklo Talent',
 'Cimt ag',
 'Cinemo',
 'Cint',
 'Clariness',
 'Climatiq',
 'Cloover',
 'Cobrainer',
 'Cofinity-X',
 'Cofinpro AG',
 'Cognitivo GmbH',
 'Collaboration Betters The World GmbH',
 'Coltech',
 'Comma Soft',
 'Comma Soft AG',
 'Comparus GmbH',
 'CompuGroup Medical',
 'CompuGroup Medical Deutschland AG',
 'CompuGroup Medical SE & Co. KGaA',
 'CompuSafe Data Systems AG',
 'Computer Futures',
 'Computomics',
 'Control Expert GmbH',
 'Convit GmbH',
 'Convolut',
 'Coriolis Pharma Research GmbH',
 'Cosuno',
 'Cozero',
 'Crayon',
 'Crealytics',
 'Creditplus Bank AG',
 'CrowdStrike',
 'CureVac',
 'Cyber Valley',
 'Cytiva',
 'DADAJ',
 'DAHAG Rechtsservices AG',
 'DAMEDIC GmbH',
 'DATASEC information factory',
 'DATEV eG',
 'DEVnet',
 'DEVnet Holding',
 'DFB',
 'DHL Consulting GmbH',
 'DIN Solutions GmbH',
 'DOUGLAS',
 'DR. JOHANNES HEIDENHAIN GmbH',
 'DYMATRIX',
 'DZ BANK AG',
 'Daiichi Sankyo Europe',
 'Data-Talent GmbH',
 'DataCamp',
 'DataCraft',
 'DataMonkey',
 'Datamics',
 'DeepRec.ai',
 'Deichmann',
 'Deichmann SE',
 'Delivery Hero',
 'Deloitte',
 'Deloitte GmbH',
 'Deltia',
 'Dennemeyer',
 'Deutsche Apotheker- und Ärztebank eG - apoBank',
 'Deutsche Bank',
 'Deutsche Bundesbank',
 'Deutsche Kreditbank AG (DKB)',
 'Deutsche Rentenversicherung Bund',
 'Deutsches Elektronen-Synchrotron DESY',
 'Deutsches Krebsforschungszentrum',
 'Devoteam I Google Cloud Partner',
 'DiMOS Operations GmbH',
 'DigiTech Search',
 'Digital Charging Solutions GmbH',
 'DigitalTwin Technology GmbH',
 'Digitaltreiber UG',
 'Digitl',
 'Discover International',
 'Doctolib',
 'Dohle Handelsgruppe Holding GmbH & Co. KG',
 'Dr. Kurt Wolff GmbH & Co. KG',
 'Dr. Wolff Group',
 'Drees & Sommer SE',
 'Dräger',
 'Drägerwerk AG & Co. KGaA',
 'E.ON Digital Technology GmbH',
 'ECE',
 'ECE Group GmbH & Co. KG',
 'ECMWF',
 'EGYM GmbH',
 'EGYM | DACH',
 'EIDU',
 'EIDU GmbH',
 'EPM Scientific',
 'ERC System',
 'ERDMANN-Softwaregesellschaft mbH',
 'ERGO Group',
 'ES-Tec GmbH',
 'ESL FACEIT Group - EFG',
 'ESQlabs GmbH',
 'EWE TEL GmbH',
 'EY',
 'Ebenbuild',
 'Eggersmann - Gruppe',
 'Eggersmann Gruppe',
 'Ehrenmüller GmbH',
 'ElevenLabs',
 'Embassy of the United States of America',
 'Emma – The Sleep Company',
 'Empion',
 'EnBW Energie Baden-Württemberg AG',
 'Encavis AG',
 'EnergyEffizienz GmbH',
 'Enjins',
 'Enpal',
 'Enpal Dragon GmbH',
 'Entrix',
 'Entrix GmbH',
 'Enzo',
 'Enzo Tech Group',
 'Ergotopia',
 "Ernsting's Family GMBH & CO. KG",
 'Ernsting’s family',
 'Etribes',
 'Europa Park GmbH & Co Mack KG.',
 'Europa-Park Erlebnis-Resort',
 'Europa-Park GmbH & Co Mack KG',
 'European Centre for Medium-Range Weather Forecasts',
 'European Tech Recruit',
 'European X-Ray Free-Electron Laser Facility GmbH',
 'Eversion Technologies',
 'Evonik',
 'Exact Sciences Corporation',
 'ExoMatter',
 'Expatrio',
 'Expleo',
 'Expleo Group',
 'FERCHAU GmbH',
 'FINN',
 'FLYERALARM Bit Labs GmbH',
 'FOM University of Applied Sciences for Economics and Management',
 'FORRS Partners GmbH',
 'Few&Far',
 'Fiber Experts Deutschland GmbH',
 'Finanz-DATA GmbH',
 'Finanzamt Kassel',
 'Finanzguru',
 'Fincon Reply GmbH',
 'Fit Analytics',
 'Flexa',
 'Flink',
 'Flip',
 'Floortex Europe Ltd.',
 'Flughafen Hannover Langenhagen GmbH',
 'Forschungszentrum Jülich GmbH',
 'Forvis Mazars GmbH & Co. KG',
 'Forward-earth',
 'FoxBase GmbH',
 'Franz & Wach Personalservice GmbH',
 'Fraunhofer FIT',
 'Fraunhofer-Institute for Microelectronic Circuits and Systems',
 'Freie Universität Berlin',
 'Friedrich-Schiller-Universität Jena',
 'Fusion Consulting',
 'Futurae Technologies AG',
 'Futurised GmbH',
 'GAF AG',
 'GARANT Holding GmbH',
 'GASCADE Gastransport GmbH',
 'GEMA - Gesellschaft für musik. Aufführungs- und mechan. Vervielfältigungsrechte',
 'GEMÜ Group',
 'GENERALI DEUTSCHLAND AG',
 'GHARAGE',
 'GIM Gesellschaft für innovative Marktforschung mbH',
 'GSI Helmholtzzentrum für Schwerionenforschung',
 'GSK',
 'GWQ ServicePlus AG',
 'Gebr. Heinemann SE & Co. KG',
 'Gen Re',
 'Generali Deutschland AG',
 'German Aerospace Center (DLR)',
 'Gesellschaft für musikalische Aufführungs- und...',
 'GetML Research',
 'GetYourGuide',
 'Getriebebau NORD GmbH & Co. KG',
 'Gießerei-Institut der RWTH Aachen',
 'Gigs',
 'GlassDollar',
 'Global Energy Interconnection Research Institute Europe GmbH',
 'Global Market Solutions - Germany',
 'Global University Systems',
 'Gnosis',
 'Goldner GmbH',
 'Google',
 'Green Energy Origin (GEO)',
 'Green Fusion',
 'Green Fusion GmbH',
 'Green Value Management Ltd.',
 'GreenPocket GmbH',
 'Greenbootcamps GmbH',
 'Grimme Landmaschinenfabrik',
 'Grimme Landmaschinenfabrik GmbH & Co. KG',
 'Grohe AG',
 'Groß Business Group GmbH',
 'Grünenthal',
 'HAGIUS',
 'HAPEKO Deutschland GmbH',
 'HAUSGOLD | talocasa GmbH',
 'HDI AG',
 'HIT Handelsgruppe GmbH & Co. KG',
 'HMS Analytical Software GmbH',
 'HMS Analytical Software | Consulting & End-to-End Solutions for Data Science & Analytics',
 'HP',
 'HR UNIVERSAL GmbH',
 'HUK-COBURG',
 'HUK-COBURG Versicherungsgruppe',
 'Hamburg University of Technology',
 'Hamlyn Williams',
 'Handelsblatt',
 'Hannover Re',
 'Hannover Rück SE',
 'HanseMerkur',
 'Harvey Nash',
 'Hashlist',
 'Haufe Group SE',
 'Havas Group',
 'Hawk',
 'Hays – Working for your tomorrow',
 'Heidelberg Materials AG',
 'Heidelberg University',
 'Hellowork Consultants',
 'Helmholtz Zentrum München',
 'Helpling',
 'Henkel',
 'Hetzner',
 'Highberg MediaMinds',
 'Highlander Solutions',
 'Hit Handelsgruppe GmbH & Co. KG',
 'Hochschule Kaiserslautern',
 'Hopmann Marketing Analytics GmbH',
 'Hopmann | Marketing Analytics Inh. Jörg Hopmann',
 'Horváth',
 'Hottgenroth Gruppe',
 'Hyundai Motor Deutschland GmbH',
 'Händlerbund',
 'IABG',
 'IBA',
 'IBA Dosimetry GmbH',
 'ICIS Tschach Solution',
 'IK Partners',
 'ING',
 'ING Deutschland',
 'IOTIS GmbH',
 'IPPEN.MEDIA',
 'ISS Software GmbH',
 'IT International Mobility',
 'IT-P Information Technology-Partner GmbH',
 'IT-Service GmbH',
 'IT4IPM GmbH',
 'IUNA AI',
 'IfTA GmbH',
 'Ilsenburger Grobblech GmbH',
 'Impala Search',
 'Incari Development Platform',
 'Indivumed GmbH',
 'Infineon Technologies',
 'Infraserv Höchst',
 'Innomotics',
 'Instaffo',
 'Instapro Group',
 'Institut für Medizinische Informatik',
 'Intapp',
 'IntegrityNext',
 'InterEx Group',
 'InterJob® GmbH',
 'InterWorks',
 'Interhyp Gruppe',
 'Invia Travel Germany GmbH',
 'Ippen Digital',
 'Ipsos',
 'Iron EagleX, Inc.',
 'J. RETTENMAIER & SÖHNE GmbH + Co KG',
 'J. Rettenmaier & Söhne GmbH + Co. KG.',
 'JAAI | JUST ADD AI GmbH',
 'JET Services Marketing GmbH & Co. KG',
 'JSS ASSOCIATES',
 'JUST ADD AI GmbH',
 'Jina AI',
 'Johnson & Johnson',
 'Just Eat Takeaway.com',
 'KI performance GmbH',
 'KLA',
 'KOSATEC Computer GmbH',
 'KPMG AG Wirtschaftsprüfungsgesellschaft',
 'KWS Group',
 'Kassenzahnärztliche Vereinigung Hessen - Körperschaft des öffentlichen Rechts',
 'Kayzen',
 'Key-Work Consulting GmbH',
 'Kienbaum Consultants International GmbH - Zentrale',
 'Klang Games',
 'Klim',
 'Klinik für Allgemein-, Viszeral- und...',
 'Knuddels',
 'Knuddels GmbH & Co. KG',
 'Konfuzio',
 'Korro AI',
 'Kreativstorm',
 'Kärcher',
 'LANCH',
 'LGC Axolabs',
 'LILT',
 'Laboremus GmbH',
 'Ladgov Corporation',
 'Landeshauptstadt Stuttgart',
 'Landeskrankenhilfe V.V.a.G.',
 'Landkreis Bodenseekreis',
 'Lang Service GmbH',
 'Lehmann + Pioneers Digital GmbH',
 'Leibniz Institut für Astrophysik',
 'Leibniz-Institut für Analytische Wissenschaften -...',
 'Leibniz-Institut für Analytische Wissenschaften -ISAS - e.V.',
 'Leibniz-Institut für Astrophysik Potsdam',
 'Leibniz-Institut für Naturstoff- Forschung u. Infektionsbiologie e.V.',
 'Leibniz-Institut für Naturstoff-Forschung und...',
 'Leibniz-Institute of Atmospheric Physics',
 'Leipfinger-Bader',
 'Leipzig University',
 'LexisNexis',
 'LexisNexis GmbH',
 'Lexware',
 'Libra',
 'Liebherr Group',
 'Liebherr-Hausgeräte Ochsenhausen GmbH',
 'Lieferando',
 'Life Science Nord',
 'Lindner Group',
 'Lipotype GmbH',
 'Lloyds Bank GmbH',
 'Logic Hire Solutions LTD',
 'Lonza',
 'Lotum',
 'Lotum GmbH',
 'Lotum media GmbH',
 'Lufthansa Technik',
 'Luminary Group',
 'Lumino',
 'Lunit',
 'Lunit Cancer Screening',
 'Löwenstein Medical SE & Co. KG',
 'M&M Software GmbH',
 'MAINGAU Energie GmbH',
 'MAM Gruppe',
 'MAN Truck & Bus Group',
 'MARKT-PILOT',
 'MED-EL Medical Electronics',
 'MEDIFOX DAN GmbH',
 'MHP – A Porsche Company',
 'MICE Portal GmbH',
 'ML6 | Your partner in AI',
 'MLL Münchner Leukämielabor GmbH',
 'MPA Pharma GmbH',
 'MPB',
 'MTU Aero Engines',
 'MVGM Deutschland',
 'MVGM International',
 'MVV Trading GmbH',
 'MVZ Düsseldorf-Centrum GbR',
 'MVZ Martinsried GmbH',
 'Machine Learning Reply GmbH',
 'Mainwebsolutions',
 'Makersite GmbH',
 "Marc O'Polo",
 'Markant Gruppe',
 'Masentó Group',
 'Masterschool',
 'Materna Information & Communications SE',
 'Max Planck Computing and Data Facility (MPCDF)',
 'Max Planck Digital Library',
 'Max Planck Institute for Chemical Energy Conversion',
 'Max-Planck-Institut für Biologie Tübingen',
 'Max-Planck-Institut für Kolloid- und...',
 'Max-Planck-Institut für Meteorologie',
 'Mechanics of Materials',
 'MediSync AI',
 'Mediaplus Group',
 'Mediaplus Gruppe',
 'Medpace',
 'Medscape',
 'Melchers',
 'MeloTech',
 'Melotech',
 'Mendel Verlag GmbH & Co.KG',
 'Merantix Capital',
 'Mercedes-Benz AG',
 'Mercedes-Benz Tech Innovation',
 'Merck Group',
 'Merck Healthcare',
 'Merz Therapeutics',
 'Meta',
 'Meyerthole Siems Kohlruss Gesellschaft für...',
 'Michael Bauer Research GmbH',
 'Midea Group',
 'Milldent GmbH',
 'Miltenyi Biotec',
 'Mindfuel',
 'Mindpeak GmbH',
 'MobiLab Solutions',
 'Mondelēz International',
 'Morpheus Talent Solutions',
 'Munich Re',
 'München',
 'NEEW Ventures',
 'NETCONOMY GmbH',
 'NOWEDA Apothekergenossenschaft eG',
 'Nanogami',
 'NeoPredics AG',
 'Nestlé',
 'Net Services S.à.r.l.',
 'Netlight',
 'New Yorker',
 'NexWafe',
 'Nextcoder Softwareentwicklungs UG',
 'NielsenIQ',
 'Nokia',
 'Nomad Atomics',
 'NorCom Information Technology GmbH & Co. KGaA',
 'Nordmann, Rassmann GmbH',
 'Norgine',
 'Novo AI',
 'Nucs AI',
 'Nuromedia GmbH',
 'Nuvisan GmbH',
 'OBI Group Holding SE & Co. KGaA',
 'OLX',
 'OMMAX GmbH',
 'OPITZ CONSULTING Deutschland GmbH',
 'OUTFITTERY',
 'OXG Glasfaser GmbH',
 'OYAK ANKER Bank GmbH',
 'Olympus EMEA',
 'Omio',
 'Optronics, System Technologies and Image...',
 'Orange Cyberdefense',
 'Orange Quarter',
 'Orbem',
 'Orbem GmbH',
 'Otto (GmbH & Co KG)',
 'Otto Group data.works',
 'Outdooractive',
 'PAIR Finance',
 'PARI Firmengruppe',
 'PAUL HARTMANN AG',
 'PAYBACK',
 'PIMCO Prime Real Estate',
 'PLAN D',
 'PREVENTIO GmbH',
 'PROLYTIC',
 'PSI Software',
 'Pair Finance GmbH',
 'Parker B Associates',
 'ParshipMeet Group',
 'PartSpace',
 'Partex',
 'Pass App',
 'Peek & Cloppenburg B.V. & Co. KG',
 'Peek & Cloppenburg* B.V. & Co. KG, Düsseldorf',
 'Pexon Consulting GmbH',
 'Pfizer',
 'Pflegewegweiser GmbH',
 'Phoenix Medical',
 'Pivot Search',
 'Pivotal',
 'Planet A Foods GmbH',
 'PolarAnalytics',
 'Polyteia',
 'Porsche Consulting',
 'PowerCo',
 'Predium',
 'Predium Technology GmbH',
 'Preventio',
 'Preventio GmbH',
 'Primal State Performance GmbH',
 'ProCredit Holding',
 'ProSiebenSat.1 Tech & Services GmbH',
 'Process& GmbH',
 'Processand',
 'Procter & Gamble',
 'Professional Scientists GmbH & Co. KG',
 'Project A',
 'Projektträger Jülich (PtJ)',
 'Property Finder',
 'Protection One GmbH',
 'Proteros biostructures GmbH',
 'Provide',
 'Publicis Media Germany',
 'Puls',
 'PwC Germany',
 'PŸUR | Tele Columbus',
 'Q ENERGY',
 'QIMIA GmbH',
 'QPLIX GmbH',
 'Qimia GmbH',
 'Qruise',
 'Quantagonia',
 'Quantistry',
 'QuantumBlack, AI by McKinsey',
 'QuoData',
 'Quotacom',
 'R+V Allgemeine Versicherung AG',
 'REMATIQ',
 'REWE Group',
 'REWE digital',
 'RHEINISCHE POST Medien GmbH',
 'RISK IDENT',
 'RJC Group',
 'RMS. Der Audiovermarkter.',
 'ROLAND Rechtsschutz-Versicherungs-AG',
 'RSight®',
 'RWTH Aachen',
 'RWTH Aachen University',
 'Rabot Energy',
 'Railpool',
 'Railpool GmbH',
 'Ratbacher GmbH',
 'Ratepay GmbH',
 'Rausgegangen',
 'Razor Group',
 'Re7 Capital',
 'Rechenzentrum der Finanzverwaltung des Landes Nordrhein Westfalen',
 'Remobi',
 'Reply',
 'RevenueCat',
 'Rewire',
 'Rheinmetall Aviation Services GmbH',
 'Rheinmetall Electronics GmbH',
 'Rheinmetall Technology Center GmbH',
 'Rhesis AI',
 'Risk Research GmbH',
 'Risk Solutions',
 'Ritter GmbH',
 'Riverty',
 'Robotron Datenbank-Software GmbH',
 'Roche',
 'Rohde & Schwarz',
 'RoomPriceGenie',
 'Rosenxt Group',
 'S-Payment GmbH - Ein Unternehmen der DSV-Gruppe',
 'SAP',
 'SAP Fioneer',
 'SAP SE',
 'SCALEUP.agency',
 'SCHOTT AG',
 'SCHWARM Technologies Inc.',
 'SII Deutschland GmbH',
 'SINTEC Informatik GmbH',
 'SKM Group',
 'SKOPOS',
 'SLAY',
 'SMA Development GmbH',
 'SOKA-Bau',
 'SR2 | Socially Responsible Recruitment | Certified B Corporation™',
 'STATWORX GmbH',
 'STI GmbH',
 'STYLINK Social Media GmbH',
 'SThree',
 'SVA System Vertrieb Alexander GmbH',
 'SWK Energie GmbH',
 'SafeAD',
 'SafeDriver Group',
 'Sanofi',
 'Scalefree',
 'Scheer Group',
 'Schickler Unternehmensberatung GmbH',
 'Schluchseewerk Aktiengesellschaft',
 'Schmitt Engineering',
 'Seer Inc.',
 'SellerX',
 'Senacor Technologies AG',
 'Sentient Foundation',
 'Shopify',
 'Siegwerk Druckfarben AG & Co. KGaA',
 'Skeleton Technologies',
 'Skill Farm',
 'Skills Alliance',
 'Skillspark AB',
 'Social Match - We are hiring!',
 'Societe Generale',
 'SoftServe',
 'Solera',
 'Sono Motors',
 'Sopra Steria',
 'Source Group International',
 'Sparkasse Bremen AG',
 'Sparkassen Rating und Risikosysteme GmbH',
 'Sphera',
 'Staburo GmbH',
 'Stadler Signalling Deutschland GmbH',
 'Stadt Köln',
 'Stadtsparkasse Gladbeck',
 'Stadtwerke Verkehrsgesellschaft Frankfurt am Main',
 'Starkflow',
 'Statista',
 'Statista GmbH',
 'Steadforce',
 'Stimme Mediengruppe',
 'Storyblok',
 'Strategion GmbH',
 'Strativ Group',
 'StriveNest',
 'Studyflix',
 'Städtisches Klinikum Karlsruhe gGmbH',
 'Surge Group',
 'Swiss Re',
 'Synamic Technologies UG',
 'Syngenta',
 'SÜDKURIER GmbH Medienhaus',
 'TARGOBANK',
 'TELUS Digital',
 'TERAKI GmbH',
 'TERRITORY MEDIA',
 'THRYVE',
 'TMM AG',
 'TOP TECHNOLOGIES CONSULTING GmbH',
 'TRKKN',
 'TRON',
 'TRUSTEQ GmbH',
 'Table.Briefings',
 'Tacto',
 'Targobank AG',
 'Targomo',
 'Tchibo',
 'TeamViewer',
 'TecAlliance',
 'Tecan Software Competence Center GmbH',
 'Tecan Trading AG',
 'Techniker Krankenkasse',
 'Technische Informationsbibliothek (TIB)',
 'Technische Universität Clausthal',
 'Technische Universität Ilmenau',
 'Technology & Strategy',
 'Teckentrup GmbH & Co. KG',
 'Temu',
 'Tenthpin',
 'Teraki',
 'Tesla',
 'Tesla Automation GmbH',
 'Tether.io',
 'TetraScience',
 'The Creative Club',
 'The Product Guys',
 'Theion GmbH',
 'Theo Förch GmbH & Co. KG',
 'Thermo Fisher Scientific',
 'Thomann.io',
 'Thyssengas',
 'Thyssengas GmbH',
 'TieTalent',
 'Tinybird',
 'Tomorrow University of Applied Sciences',
 'Tourlane GmbH',
 'Trakken GmbH',
 'TransnetBW GmbH',
 'Transparent Hiring',
 'Trelleborg Sealing Solutions Germany GmbH',
 'TriNetX',
 'Triathlon Group',
 'Tris Technology',
 'Truemetrics',
 'Trust In SODA',
 'Trust Wallet',
 'TÜV SÜD',
 'TÜV SÜD Digital Service GmbH',
 'UCG United Consulting Group GmbH',
 'UKSH',
 'UNITY Consulting & Innovation',
 'US Commander, Naval Information Warfare Systems...',
 'UTILIGENCE GmbH',
 'Ucaneo',
 'Uelzener Allgemeine Versicherungs-Gesellschaft a.G.',
 'Union Investment',
 'University Hospital Schleswig-Holstein (UKSH)',
 'University of Bayreuth',
 'University of Hamburg',
 'Universitätsklinikum Münster',
 'Universitätsklinikum Würzburg',
 'Unternehmensgruppe Theo Müller GmbH & Co. KG',
 'Upvest',
 'VALUEZON',
 'VARTA Micro Production GmbH',
 'VBN GmbH',
 'VHV Gruppe',
 'VKB',
 'VLS Versicherungslogistik GmbH',
 'VOLKSWOHL BUND LEBENSVERSICHERUNG a.G.',
 'VOLKSWOHL BUND Lebensversicherung a. G.',
 'VP Verbund Pflegehilfe GmbH',
 'VTG',

In order to consolidate company names, the column will undergo several steps of cleaning.

In [12]:
# First, remove common legal terms describing the type of company
df["company_clean_ish"] = df["company"]

replace_strings = [
    "GmbH",
    "GMBH",
    "AG",
    "a.G.",
    "a. G.",
    "KGaA",
    "Co KG",
    "Co. KG",
    "CO. KG",
    "Co Mack KG",
    "Deutschland",
    "Gruppe",
    "Group",
    "Holding",
    "B.V.",
    "SE",
    "DACH"
]

for s in replace_strings:
    string = f" {s}" # add blank in order to not replace e.g. AG in the middle of a sentence.
    df["company_clean_ish"] = df["company_clean_ish"].str.replace(string, "")

df.loc[df["company"] != df["company_clean_ish"], ["company", "company_clean_ish"]].head()

                       company     company_clean_ish
30             Enzo Tech Group             Enzo Tech
34                  MAM Gruppe                   MAM
46                  IOTIS GmbH                 IOTIS
47                   elunic AG                elunic
48  Source Group International  Source International

In [13]:
# Remove all non-word charachters; keep blanks
df["company_clean_ish"] = df["company_clean_ish"].str.replace("[^a-zA-Z0-9\s]", " ", regex=True)

# show datapoints that have changed:
df.loc[df["company"] != df["company_clean_ish"], ["company", "company_clean_ish"]].head()

,company,company_clean_ish
2,Global Market Solutions - Germany,Global Market Solutions Germany
4,vent.io,vent io
7,HUK-COBURG,HUK COBURG
13,CONNECTMETA.AI,CONNECTMETA AI
18,SR2 | Socially Responsible Recruitment | Certi...,SR2 Socially Responsible Recruitment Certi...

In [14]:
# remove leading/trailing blanks
df["company_clean_ish"] = df["company_clean_ish"].str.strip()

In [15]:
# Transform company names to upper 
df["company_clean_ish"] = df["company_clean_ish"].str.upper()

In [16]:
# Check unique list of company names to find spellings of company names that can be combined.
np.sort(df["company_clean_ish"].unique()).tolist()

['1 1 MAIL   MEDIA APPLICATIONS',
 '1KOMMA5',
 '1KOMMA6   MULTIMEDIALE DIENSTLEISTUNGEN',
 '1X2 TECHNOLOGIES',
 '4 SCREEN',
 '4SCREEN',
 'ABAT NORTH AMERICA',
 'ABB',
 'ABBVIE',
 'ABOUT YOU',
 'ACCANTEC GROUP',
 'ACCENTURE',
 'ACCURE BATTERY INTELLIGENCE',
 'ACONEXT',
 'ACONEXT STUTTGART',
 'ADAC',
 'ADAC ALLGEMEINER DEUTSCHER AUTOMOBIL CLUB',
 'ADEAL SYSTEMS',
 'ADESSO',
 'ADG APOTHEKEN DIENSTLEISTUNGSGESELLSCHAFT MBH',
 'ADM',
 'AERZENER MASCHINENFABRIK',
 'AI ASSOCIATES',
 'AI FUTURES',
 'AIGNOSTICS',
 'AILIO',
 'AINOVI',
 'AITAD',
 'AKKODIS',
 'AKLASS SOLUTIONS',
 'AL SOLUTIONS',
 'ALACRIS THERANOSTICS',
 'ALBATROSS AI',
 'ALCEDIS   A HUMA COMPANY',
 'ALDI EINKAUF   CO  OHG',
 'ALDI S D',
 'ALEXANDER THAMM',
 'ALFRED WEGENER INSTITUT F R POLAR  UND',
 'ALGEA CARE',
 'ALITHEA BIO',
 'ALIXPARTNERS',
 'ALLGEIER PUBLIC',
 'ALLIANZ',
 'ALLIANZ DIGITAL HEALTH',
 'ALLIANZ VERSICHERUNGS AG',
 'ALLOS HOF MANUFAKTUR',
 'ALMEDIA',
 'ALTEN CONSULTING SERVICES',
 'ALTEN GERMANY',
 'AMAI',
 'AMAZON',
 'AMAZON DEVELOPMENT CENTER GERMANY',
 'AMAZON DEVELOPMENT CENTER GERMANY   C92',
 'AMAZON EUROPE CORE',
 'AMAZON WEB SERVICES  AWS',
 'AMAZON WEB SERVICES DEVELOPMENT CENTER GERMANY',
 'AMD',
 'AMFILEON',
 'AMMERL NDER VERSICHERUNG VVAG',
 'AMPRION',
 'AMUNDI',
 'ANALYTIK JENA CO  KG',
 'AOK BAYERN   DIE GESUNDHEITSKASSE',
 'APPINIO',
 'APPLIKE',
 'APPLOFT',
 'APTIV',
 'ARETE',
 'ARETO CONSULTING GMBH',
 'ARIADNE',
 'ARTIVION EMEA',
 'ARVATO',
 'ARVATO SYSTEMS',
 'ARVATO SYSTEMS DIGITAL',
 'ASCENDIS PHARMA',
 'ASKLEPIOS SERVICE IT',
 'ATH ALTONAER TECHNOLOGIE HOLDING',
 'ATLAS ELEKTRONIK',
 'ATLAS MARIDAN APS',
 'ATMIO',
 'ATOSS SOFTWARE',
 'ATRUVIA',
 'AUDACITY CAPITAL MANAGEMENT',
 'AUDIBENE',
 'AUDIBLE',
 'AUSBILDUNG DE',
 'AUTO1',
 'AUTONOMOUS TEAMING SOLUTIONS',
 'AUXMONEY',
 'AVAT AUTOMATION',
 'AVO INTELLIGENCE',
 'AWS EMEA SARL  GERMANY BRANCH',
 'AXEL SPRINGER',
 'AXEL SPRINGER NATIONAL MEDIA   TECH',
 'AXULUS',
 'BABBEL',
 'BAKER TILLY',
 'BARBARICUM',
 'BARMER',
 'BASF',
 'BAUER',
 'BAUMLINK',
 'BAYER',
 'BAYERISCHES LANDESAMT F R GESUNDHEIT UND LEBENSMITTELSICHERHEIT',
 'BAYERISCHES LANDESAMT F R STATISTIK',
 'BAYWA R E  SOLAR TRADE',
 'BCG X',
 'BCMED',
 'BEAM AI',
 'BEARINGPOINT',
 'BECHTLE BREMEN',
 'BECHTLE IT SYSTEMHAUS BREMEN',
 'BEHREND E K',
 'BEIERSDORF',
 'BEIERSDORF SHARED SERVICES',
 'BERGFREUNDE',
 'BERLINER WASSERBETRIEBE',
 'BERTRANDT',
 'BI PHARMA CO KG',
 'BI VETMEDICA',
 'BID BAYERISCHER INKASSO DIENST',
 'BIKAR METALLE',
 'BINANCE',
 'BIOMARKER SERVICES',
 'BIONTECH',
 'BIOTRONIK CORPORATE SERVICES',
 'BIOTYPE',
 'BITA',
 'BLACKLANE',
 'BLUEOAK ADVERTISING',
 'BLUEPRINT EXECUTIVE SEARCH',
 'BLUETHRONE',
 'BMW',
 'BN AUTOMATION',
 'BNP PARIBAS PERSONAL INVESTORS',
 'BOEHRINGER INGELHEIM',
 'BOLT',
 'BOOZ ALLEN',
 'BOOZ ALLEN HAMILTON',
 'BOSCH',
 'BOSTON CONSULTING',
 'BRANCH TECH',
 'BRAVOBIKE',
 'BREUNINGER',
 'BRIDGINGIT',
 'BRIGHT TESTING',
 'BRING  LABS',
 'BRUNEL',
 'BRUSS SEALING SYSTEMS',
 'BUDNI HANDELS  UND SERVICE',
 'BUNDESAGENTUR F R ARBEIT',
 'BWF',
 'BWORKS HR PROFESSIONAL',
 'BYK ADDITIVES',
 'BYK CHEMIE',
 'C  MELCHERS',
 'CAMBRIUM',
 'CAMPOINT',
 'CANCOM',
 'CAPGEMINI',
 'CAPGEMINI INVENT',
 'CARHARTT WIP  WORK IN PROGRESS',
 'CARL ZEISS IQS SOFTWARE R D CENTER',
 'CARONSALE',
 'CAVALIS',
 'CBM CHRISTOFFEL BLINDENMISSION CHRISTIAN BLIND MISSION E V',
 'CBTW',
 'CDP',
 'CEEZER',
 'CELONIS',
 'CENTRIC SOFTWARE',
 'CERTIVITY',
 'CGI',
 'CHAOZHOU THREE CIRCLE CO   LTD',
 'CHECK24',
 'CHECK24 VERGLEICHSPORTAL',
 'CHEFS CULINAR',
 'CHERRY VENTURES',
 'CHERRY VENTURES MANAGEMENT',
 'CHOCO',
 'CHOCO COMMUNICATIONS',
 'CHRIST COMPANY CONSULTING',
 'CIDEON SOFTWARE   SERVICES',
 'CIKLO TALENT',
 'CIMT AG',
 'CINEMO',
 'CINT',
 'CLAAS MBH',
 'CLARINESS',
 'CLIMATIQ',
 'CLOOVER',
 'COAC',
 'COBRAINER',
 'COFINITY X',
 'COFINPRO',
 'COGNITIVO',
 'COLLABORATION BETTERS THE WORLD',
 'COLTECH',
 'COMMA SOFT',
 'COMPANION STRATEGIEBERATUNG',
 'COMPARUS',
 'COMPUGROUP MEDICAL',
 'COMPUGROUP MEDICAL   CO',
 'COMPUSAFE DATA SYSTEMS',
 'COMPUTER FUTURES',
 'COMPUTOMICS',
 'CONET',
 'CONNECTMETA AI',
 'CONSTELLR',
 'CONTROL EXPERT',
 'CONVIT',
 'CONVOLUT',
 'CORECRUITMENT LTD',
 'CORIOLIS PHARMA RESEARCH',
 'COSNOVA',
 'COSUNO',
 'COZERO',
 'CRAYON',
 'CREALYTICS',
 'CREDITPLUS BANK',
 'CREDITSHELF AKTIENGESELLSCHAFT',
 'CREDIUM',
 'CRELUX',
 'CROWDSTRIKE',
 'CSL BEHRING',
 'CUJU',
 'CUREVAC',
 'CUREXUS',
 'CYBER VALLEY',
 'CYTIVA',
 'DADAJ',
 'DAHAG RECHTSSERVICES',
 'DAIICHI SANKYO EUROPE',
 'DAMEDIC',
 'DATA TALENT',
 'DATACAMP',
 'DATACRAFT',
 'DATAMICS',
 'DATAMONKEY',
 'DATASEC INFORMATION FACTORY',
 'DATASOLUT',
 'DATEV EG',
 'DEEPREC AI',
 'DEICHMANN',
 'DELIVERY HERO',
 'DELOITTE',
 'DELTIA',
 'DELTRA BUSINESS SOFTWARE',
 'DENNEMEYER',
 'DEUTSCHE APOTHEKER  UND  RZTEBANK EG   APOBANK',
 'DEUTSCHE BANK',
 'DEUTSCHE BUNDESBANK',
 'DEUTSCHE KREDITBANK  DKB',
 'DEUTSCHE RENTENVERSICHERUNG BUND',
 'DEUTSCHES ELEKTRONEN SYNCHROTRON DESY',
 'DEUTSCHES KREBSFORSCHUNGSZENTRUM',
 'DEVELOPREC',
 'DEVNET',
 'DEVOTEAM I GOOGLE CLOUD PARTNER',
 'DEXTER HEALTH',
 'DFB',
 'DHL CONSULTING',
 'DIDA',
 'DIGITAL CHARGING SOLUTIONS',
 'DIGITALTREIBER UG',
 'DIGITALTWIN TECHNOLOGY',
 'DIGITECH SEARCH',
 'DIGITL',
 'DIMOS OPERATIONS',
 'DIN SOLUTIONS',
 'DISCOVER INTERNATIONAL',
 'DLTHUB',
 'DOCTOLIB',
 'DOHLE HANDELSGRUPPE',
 'DOUGLAS',
 'DR  JOHANNES HEIDENHAIN',
 'DR  KURT WOLFF',
 'DR  WOLFF',
 'DR GER',
 'DR GERWERK   CO',
 'DREES   SOMMER',
 'DYMATRIX',
 'DZ BANK',
 'E ON DIGITAL TECHNOLOGY',
 'E2N',
 'EBENBUILD',
 'ECE',
 'ECMWF',
 'EGGERSMANN',
 'EGYM',
 'EHRENM LLER',
 'EIDU',
 'ELEVENLABS',
 'ELUNIC',
 'EMBASSY OF THE UNITED STATES OF AMERICA',
 'EMMA   THE SLEEP COMPANY',
 'EMPION',
 'ENBW ENERGIE BADEN W RTTEMBERG',
 'ENCAVIS',
 'ENERCITY',
 'ENERGYEFFIZIENZ',
 'ENGAIGE',
 'ENJINS',
 'ENPAL',
 'ENPAL DRAGON',
 'ENTRIX',
 'ENZO',
 'ENZO TECH',
 'EODA',
 'EPM SCIENTIFIC',
 'ERC SYSTEM',
 'ERDMANN SOFTWAREGESELLSCHAFT MBH',
 'ERGO',
 'ERGOTOPIA',
 'ERNSTING S FAMILY',
 'ES TEC',
 'ESL FACEIT   EFG',
 'ESQLABS',
 'ETRIBES',
 'EUROPA PARK',
 'EUROPA PARK ERLEBNIS RESORT',
 'EUROPEAN CENTRE FOR MEDIUM RANGE WEATHER FORECASTS',
 'EUROPEAN TECH RECRUIT',
 'EUROPEAN X RAY FREE ELECTRON LASER FACILITY',
 'EVERSION TECHNOLOGIES',
 'EVIDANZA',
 'EVONIK',
 'EWE TEL',
 'EWOLFF',
 'EXACT SCIENCES CORPORATION',
 'EXOMATTER',
 'EXPATRIO',
 'EXPLEO',
 'EY',
 'EYEO',
 'FAIR PARKEN',
 'FERCHAU',
 'FEW FAR',
 'FIBER EXPERTS',
 'FINANZ DATA',
 'FINANZAMT KASSEL',
 'FINANZGURU',
 'FINCON REPLY',
 'FINN',
 'FIT ANALYTICS',
 'FLASCHENPOST',
 'FLEXA',
 'FLINK',
 'FLIP',
 'FLOORTEX EUROPE LTD',
 'FLUGHAFEN HANNOVER LANGENHAGEN',
 'FLYERALARM BIT LABS',
 'FOM UNIVERSITY OF APPLIED SCIENCES FOR ECONOMICS AND MANAGEMENT',
 'FORRS PARTNERS',
 'FORSCHUNGSZENTRUM J LICH',
 'FORVIS MAZARS',
 'FORWARD EARTH',
 'FOXBASE',
 'FRANZ   WACH PERSONALSERVICE',
 'FRAUNHOFER FIT',
 'FRAUNHOFER INSTITUTE FOR MICROELECTRONIC CIRCUITS AND SYSTEMS',
 'FREENET DLS',
 'FREIE UNIVERSIT T BERLIN',
 'FRIEDRICH SCHILLER UNIVERSIT T JENA',
 'FUSION CONSULTING',
 'FUTURAE TECHNOLOGIES',
 'FUTURISED',
 'G2 RECRUITMENT',
 'GAF',
 'GARANT',
 'GASCADE GASTRANSPORT',
 'GEBR  HEINEMANN',
 'GEM',
 'GEMA   GESELLSCHAFT F R MUSIK  AUFF HRUNGS  UND MECHAN  VERVIELF LTIGUNGSRECHTE',
 'GEN RE',
 'GENERALI',
 'GENERALI DEUTSCHLAND',
 'GERMAN AEROSPACE CENTER  DLR',
 'GESELLSCHAFT F R MUSIKALISCHE AUFF HRUNGS  UND',
 'GETML RESEARCH',
 'GETRIEBEBAU NORD',
 'GETYOURGUIDE',
 'GHARAGE',
 'GIE EREI INSTITUT DER RWTH AACHEN',
 'GIGS',
 'GIM GESELLSCHAFT F R INNOVATIVE MARKTFORSCHUNG MBH',
 'GLASSDOLLAR',
 'GLOBAL ENERGY INTERCONNECTION RESEARCH INSTITUTE EUROPE',
 'GLOBAL MARKET SOLUTIONS   GERMANY',
 'GLOBAL UNIVERSITY SYSTEMS',
 'GNOSIS',
 'GOLDNER',
 'GOOGLE',
 'GR NENTHAL',
 'GREEN ENERGY ORIGIN  GEO',
 'GREEN FUSION',
 'GREEN VALUE MANAGEMENT LTD',
 'GREENBOOTCAMPS',
 'GREENPOCKET',
 'GREENVENTORY',
 'GREY ENGINEERING',
 'GRIMME LANDMASCHINENFABRIK',
 'GRO  BUSINESS',
 'GROHE',
 'GSI HELMHOLTZZENTRUM F R SCHWERIONENFORSCHUNG',
 'GSK',
 'GWQ SERVICEPLUS',
 'H NDLERBUND',
 'HAGIUS',
 'HAMBURG UNIVERSITY OF TECHNOLOGY',
 'HAMLYN WILLIAMS',
 'HANDELSBLATT',
 'HANDZ ON',
 'HANNOVER R CK',
 'HANNOVER RE',
 'HANSEMERKUR',
 'HANSETHERM',
 'HAPEKO',
 'HARVEY NASH',
 'HASHLIST',
 'HAUFE',
 'HAUSGOLD   TALOCASA',
 'HAVAS',
 'HAWK',
 'HAYS   WORKING FOR YOUR TOMORROW',
 'HDI',
 'HEIDELBERG MATERIALS',
 'HEIDELBERG UNIVERSITY',
 'HELLOWORK CONSULTANTS',
 'HELMHOLTZ ZENTRUM M NCHEN',
 'HELPLING',
 'HENKEL',
 'HETZNER',
 'HIGHBERG MEDIAMINDS',
 'HIGHLANDER SOLUTIONS',
 'HIT HANDELSGRUPPE',
 'HMS ANALYTICAL SOFTWARE',
 'HMS ANALYTICAL SOFTWARE   CONSULTING   END TO END SOLUTIONS FOR DATA SCIENCE   ANALYTICS',
 'HOCHSCHULE KAISERSLAUTERN',
 'HOME24',
 'HOPMANN   MARKETING ANALYTICS INH  J RG HOPMANN',
 'HOPMANN MARKETING ANALYTICS',
 'HORV TH',
 'HOTTGENROTH',
 'HP',
 'HR UNIVERSAL',
 'HUK COBURG',
 'HUK COBURG VERSICHERUNGSGRUPPE',
 'HYUNDAI MOTOR',
 'IABG',
 'IBA',
 'IBA DOSIMETRY',
 'ICIS TSCHACH SOLUTION',
 'IFTA',
 'IK PARTNERS',
 'ILSENBURGER GROBBLECH',
 'IMPALA SEARCH',
 'INCARI DEVELOPMENT PLATFORM',
 'INDIVUMED',
 'INFINEON TECHNOLOGIES',
 'INFRASERV H CHST',
 'ING',
 'INITIONS',
 'INNNOW',
 'INNOMOTICS',
 'INOVEX',
 'INSTAFFO',
 'INSTAPRO',
 'INSTITUT F R MEDIZINISCHE INFORMATIK',
 'INTAPP',
 'INTEGRITYNEXT',
 'INTEREX',
 'INTERHYP',
 'INTERJOB',
 'INTERWORKS',
 'INVIA TRAVEL GERMANY',
 'IOTIS',
 'IPPEN DIGITAL',
 'IPPEN MEDIA',
 'IPSOS',
 'IRON EAGLEX  INC',
 'ISS SOFTWARE',
 'IT INTERNATIONAL MOBILITY',
 'IT P INFORMATION TECHNOLOGY PARTNER',
 'IT SERVICE',
 'IT4IPM',
 'ITEM INDUSTRIETECHNIK',
 'IUNA AI',
 'IWOCA',
 'J  RETTENMAIER   S HNE',
 'JAAI   JUST ADD AI',
 'JET SERVICES MARKETING',
 'JINA AI',
 'JOHNSON   JOHNSON',
 'JOIN COM',
 'JSS ASSOCIATES',
 'JUST ADD AI',
 'JUST EAT TAKEAWAY COM',
 'K RCHER',
 'KAPA AI',
 'KARRIERE TUTOR',
 'KASSENZAHN RZTLICHE VEREINIGUNG HESSEN   K RPERSCHAFT DES  FFENTLICHEN RECHTS',
 'KAYZEN',
 'KEY WORK CONSULTING',
 'KI PERFORMANCE',
 'KIENBAUM CONSULTANTS INTERNATIONAL   ZENTRALE',
 'KIRESULT',
 'KLA',
 'KLANG GAMES',
 'KLIM',
 'KLINIK F R ALLGEMEIN   VISZERAL  UND',
 'KNUDDELS',
 'KONFUZIO',
 'KONVERSIONSKRAFT',
 'KORRO AI',
 'KOSATEC COMPUTER',
 'KPMG WIRTSCHAFTSPR FUNGSGESELLSCHAFT',
 'KREATIVSTORM',
 'KWS',
 'L WENSTEIN MEDICAL',
 'LABOREMUS',
 'LADGOV CORPORATION',
 'LANCH',
 'LANDESHAUPTSTADT STUTTGART',
 'LANDESKRANKENHILFE V V A G',
 'LANDKREIS BODENSEEKREIS',
 'LANG SERVICE',
 'LEHMANN   PIONEERS DIGITAL',
 'LEIBNIZ INSTITUT F R ANALYTISCHE WISSENSCHAFTEN',
 'LEIBNIZ INSTITUT F R ANALYTISCHE WISSENSCHAFTEN  ISAS   E V',
 'LEIBNIZ INSTITUT F R ASTROPHYSIK',
 'LEIBNIZ INSTITUT F R ASTROPHYSIK POTSDAM',
 'LEIBNIZ INSTITUT F R NATURSTOFF  FORSCHUNG U  INFEKTIONSBIOLOGIE E V',
 'LEIBNIZ INSTITUT F R NATURSTOFF FORSCHUNG UND',
 'LEIBNIZ INSTITUTE OF ATMOSPHERIC PHYSICS',
 'LEIPFINGER BADER',
 'LEIPZIG UNIVERSITY',
 'LEXISNEXIS',
 'LEXWARE',
 'LGC AXOLABS',
 'LIBRA',
 'LIEBHERR',
 'LIEBHERR HAUSGER TE OCHSENHAUSEN',
 'LIEFERANDO',
 'LIFE SCIENCE NORD',
 'LILT',
 'LINDNER',
 'LIPOTYPE',
 'LLOYDS BANK',
 'LOGIC HIRE SOLUTIONS LTD',
 'LONZA',
 'LOTUM',
 'LOTUM MEDIA',
 'LUFTHANSA TECHNIK',
 'LUMINARY',
 'LUMINO',
 'LUNIT',
 'LUNIT CANCER SCREENING',
 'M M SOFTWARE',
 'M NCHEN',
 'MACHINE LEARNING REPLY',
 'MAINGAU ENERGIE',
 'MAINWEBSOLUTIONS',
 'MAKERSITE',
 'MAM',
 'MAN TRUCK   BUS',
 'MARC O POLO',
 'MARKANT',
 'MARKT PILOT',
 'MASENT',
 'MASTERSCHOOL',
 'MATERNA INFORMATION   COMMUNICATIONS',
 'MAX PLANCK COMPUTING AND DATA FACILITY  MPCDF',
 'MAX PLANCK DIGITAL LIBRARY',
 'MAX PLANCK INSTITUT F R BIOLOGIE T BINGEN',
 'MAX PLANCK INSTITUT F R KOLLOID  UND',
 'MAX PLANCK INSTITUT F R METEOROLOGIE',
 'MAX PLANCK INSTITUTE FOR CHEMICAL ENERGY CONVERSION',
 'MBIOMICS',
 'MECHANICS OF MATERIALS',
 'MED EL MEDICAL ELECTRONICS',
 'MEDIAPLUS',
 'MEDIFOX DAN',
 'MEDISYNC AI',
 'MEDPACE',
 'MEDSCAPE',
 'MEINESTADT DE',
 'MELCHERS',
 'MELOTECH',
 'MENDEL VERLAG   CO KG',
 'MERANTIX CAPITAL',
 'MERCEDES BENZ',
 'MERCEDES BENZ TECH INNOVATION',
 'MERCK',
 'MERCK HEALTHCARE',
 'MERZ THERAPEUTICS',
 'META',
 'MEYERTHOLE SIEMS KOHLRUSS GESELLSCHAFT F R',
 'MHP   A PORSCHE COMPANY',
 'MICE PORTAL',
 'MICHAEL BAUER RESEARCH',
 'MIDEA',
 'MILLDENT',
 'MILTENYI BIOTEC',
 'MINDFUEL',
 'MINDPEAK',
 'ML6   YOUR PARTNER IN AI',
 'MLL M NCHNER LEUK MIELABOR',
 'MOBILAB SOLUTIONS',
 'MONDEL Z INTERNATIONAL',
 'MORPHEUS TALENT SOLUTIONS',
 'MPA PHARMA',
 'MPB',
 'MSG SYSTEMS AG',
 'MTU AERO ENGINES',
 'MUNICH RE',
 'MVGM',
 'MVGM INTERNATIONAL',
 'MVV TRADING',
 'MVZ D SSELDORF CENTRUM GBR',
 'MVZ MARTINSRIED',
 'MYMUESLI',
 'NANOGAMI',
 'NATIF AI',
 'NEBUMIND',
 'NEEW VENTURES',
 'NEOPREDICS',
 'NEROU',
 'NESTL',
 'NET SERVICES S   R L',
 'NETCONOMY',
 'NETLIGHT',
 'NETTREK',
 'NETTREK UND',
 'NEUEFISCHE',
 'NEURAFLOW',
 'NEW YORKER',
 'NEXMART',
 'NEXTCODER SOFTWAREENTWICKLUNGS UG',
 'NEXWAFE',
 'NIELSENIQ',
 'NOKIA',
 'NOMAD ATOMICS',
 'NORCOM INFORMATION TECHNOLOGY   CO',
 'NORDMANN  RASSMANN',
 'NORGINE',
 'NOVENTIVE   IP SECURELY PROTECTED',
 'NOVO AI',
 'NOWEDA APOTHEKERGENOSSENSCHAFT EG',
 'NUCS AI',
 'NUROMEDIA',
 'NUVISAN',
 'OBI   CO',
 'OLX',
 'OLYMPUS EMEA',
 'OMIO',
 'OMMAX',
 'ONE   F VE',
 'OPITZ CONSULTING',
 'OPTRONICS  SYSTEM TECHNOLOGIES AND IMAGE',
 'ORANGE CYBERDEFENSE',
 'ORANGE QUARTER',
 'ORBEM',
 'OSMA',
 'OTTO  GMBH',
 'OTTO DATA WORKS',
 'OUTDOORACTIVE',
 'OUTFITTERY',
 'OXG GLASFASER',
 'OYAK ANKER BANK',
 'P UR   TELE COLUMBUS',
 'PACEMAKER',
 'PAIQO',
 'PAIR FINANCE',
 'PARCIT',
 'PARETOS',
 'PARI FIRMENGRUPPE',
 'PARKER B ASSOCIATES',
 'PARSHIPMEET',
 'PARTEX',
 'PARTSPACE',
 'PASS APP',
 'PAUL HARTMANN',
 'PAYBACK',
 'PAYMENTTOOLS',
 'PEEK   CLOPPENBURG',
 'PEEK   CLOPPENBURG     D SSELDORF',
 'PERTO',
 'PEXON CONSULTING',
 'PFIZER',
 'PFLEGEWEGWEISER',
 'PHOENIX MEDICAL',
 'PIMCO PRIME REAL ESTATE',
 'PIVOT SEARCH',
 'PIVOTAL',
 'PLAN D',
 'PLANET A FOODS',
 'PMONE',
 'POLARANALYTICS',
 'POLYTEIA',
 'PORSCHE CONSULTING',
 'POWERCO',
 'PREDIUM',
 'PREDIUM TECHNOLOGY',
 'PRENODE',
 'PREVENTIO',
 'PRIMAL STATE PERFORMANCE',
 'PROCESS',
 'PROCESSAND',
 'PROCREDIT',
 'PROCTER   GAMBLE',
 'PROFESSIONAL SCIENTISTS',
 'PROJECT A',
 'PROJEKTTR GER J LICH  PTJ',
 'PROLYTIC',
 'PROPERTY FINDER',
 'PROSIEBENSAT 1 TECH   SERVICES',
 'PROTECTION ONE',
 'PROTEROS BIOSTRUCTURES',
 'PROVIDE',
 'PSI SOFTWARE',
 'PUBLICIS MEDIA GERMANY',
 'PULS',
 'PWC GERMANY',
 'Q ENERGY',
 'QIMIA',
 'QPLIX',
 'QRUISE',
 'QUANTAGONIA',
 'QUANTISTRY',
 'QUANTUMBLACK  AI BY MCKINSEY',
 'QUODATA',
 'QUOTACOM',
 'R V ALLGEMEINE VERSICHERUNG',
 'RABOT ENERGY',
 'RAILPOOL',
 'RATBACHER',
 'RATEPAY',
 'RAUSGEGANGEN',
 'RAZOR',
 'RE7 CAPITAL',
 'RECHENZENTRUM DER FINANZVERWALTUNG DES LANDES NORDRHEIN WESTFALEN',
 'REMATIQ',
 'REMOBI',
 'REPLY',
 'REVENUECAT',
 'REWE',
 'REWE DIGITAL',
 'REWIRE',
 'RHEINDATA',
 'RHEINISCHE POST MEDIEN',
 'RHEINMETALL AVIATION SERVICES',
 'RHEINMETALL ELECTRONICS',
 'RHEINMETALL TECHNOLOGY CENTER',
 'RHESIS AI',
 'RISK IDENT',
 'RISK RESEARCH',
 'RISK SOLUTIONS',
 'RITTER',
 'RIVERTY',
 'RJC',
 'RMS  DER AUDIOVERMARKTER',
 'ROBOMINDS',
 'ROBOTRON DATENBANK SOFTWARE',
 'ROCHE',
 'ROHDE   SCHWARZ',
 'ROLAND RECHTSSCHUTZ VERSICHERUNGS AG',
 'ROOMPRICEGENIE',
 'ROOSI',
 'ROSENXT',
 'RSIGHT',
 'RWTH AACHEN',
 'RWTH AACHEN UNIVERSITY',
 'S DKURIER MEDIENHAUS',
 'S PAYMENT   EIN UNTERNEHMEN DER DSV GRUPPE',
 'SACHCONTROL',
 'SAFEAD',
 'SAFEDRIVER',
 'SANOFI',
 'SAP',
 'SAP FIONEER',
 'SCALEFREE',
 'SCALEUP AGENCY',
 'SCHEER',
 'SCHICKLER UNTERNEHMENSBERATUNG',
 'SCHLUCHSEEWERK AKTIENGESELLSCHAFT',
 'SCHMITT ENGINEERING',
 'SCHOTT',
 'SCHWARM TECHNOLOGIES INC',
 'SCIENEERS',
 'SECA SERVICES',
 'SEER INC',
 'SELLERX',
 'SENACOR TECHNOLOGIES',
 'SENTIENT FOUNDATION',
 'SEVDESK',
 'SHOPIFY',
 'SIEGWERK DRUCKFARBEN   CO',
 'SII',
 'SIKWEL',
 'SIMPLY X',
 'SINTEC INFORMATIK',
 'SKELETON TECHNOLOGIES',
 'SKILL FARM',
 'SKILLS ALLIANCE',
 'SKILLSPARK AB',
 'SKM',
 'SKOPOS',
 'SLAY',
 'SMA DEVELOPMENT',
 'SMARTLAB INNOVATIONSGESELLSCHAFT MBH',
 'SOCIAL MATCH   WE ARE HIRING',
 'SOCIETE GENERALE',
 'SOFTSERVE',
 'SOKA BAU',
 'SOLERA',
 'SOLUTE GMBH',
 'SONO MOTORS',
 'SOPRA STERIA',
 'SOURCE INTERNATIONAL',
 'SPARKASSE BREMEN',
 'SPARKASSEN RATING UND RISIKOSYSTEME',
 'SPHERA',
 'SR2   SOCIALLY RESPONSIBLE RECRUITMENT   CERTIFIED B CORPORATION',
 'ST DTISCHES KLINIKUM KARLSRUHE GGMBH',
 'STABURO',
 'STADLER SIGNALLING',
 'STADT K LN',
 'STADTSPARKASSE GLADBECK',
 'STADTWERKE VERKEHRSGESELLSCHAFT FRANKFURT AM MAIN',
 'STARKFLOW',
 'STATISTA',
 'STATWORX',
 'STEADFORCE',
 'STENON',
 'STHREE',
 'STI',
 'STIMME MEDIENGRUPPE',
 'STORYBLOK',
 'STRATEGION',
 'STRATIV',
 'STRIVENEST',
 'STUDYFLIX',
 'STYLINK SOCIAL MEDIA',
 'SUPER AI',
 'SURGE',
 'SVA SYSTEM VERTRIEB ALEXANDER',
 'SWISS RE',
 'SWK ENERGIE',
 'SYNAMIC TECHNOLOGIES UG',
 'SYNGENTA',
 'T V S D',
 'T V S D DIGITAL SERVICE',
 'TABLE BRIEFINGS',
 'TACTO',
 'TAOD CONSULTING',
 'TARGOBANK',
 'TARGOMO',
 'TCHIBO',
 'TEAMVIEWER',
 'TECALLIANCE',
 'TECAN SOFTWARE COMPETENCE CENTER',
 'TECAN TRADING',
 'TECHNIKER KRANKENKASSE',
 'TECHNISCHE INFORMATIONSBIBLIOTHEK  TIB',
 'TECHNISCHE UNIVERSIT T CLAUSTHAL',
 'TECHNISCHE UNIVERSIT T ILMENAU',
 'TECHNOLOGY   STRATEGY',
 'TECKENTRUP',
 'TELUS DIGITAL',
 'TEMU',
 'TENTHPIN',
 'TERAKI',
 'TERRITORY MEDIA',
 'TESLA',
 'TESLA AUTOMATION',
 'TETHER IO',
 'TETRASCIENCE',
 'THE CREATIVE CLUB',
 'THE PRODUCT GUYS',
 'THEION',
 'THEO F RCH',
 'THERMO FISHER SCIENTIFIC',
 'THINKRED WEST',
 'THOMANN IO',
 'THRYVE',
 'THYSSENGAS',
 'THYSSENKRUPP',
 'TIETALENT',
 'TINYBIRD',
 'TMM',
 'TOMORROW UNIVERSITY OF APPLIED SCIENCES',
 'TOOZ TECHNOLOGIES',
 'TOP TECHNOLOGIES CONSULTING',
 'TOURLANE',
 'TRAKKEN',
 'TRANS O FLEX',
 'TRANSNETBW',
 'TRANSPARENT HIRING',
 'TRELLEBORG SEALING SOLUTIONS GERMANY',
 'TRIATHLON',
 'TRINETX',
 'TRIS TECHNOLOGY',
 'TRIVAGO',
 'TRKKN',
 'TRON',
 'TRUEMETRICS',
 'TRUST IN SODA',
 'TRUST WALLET',
 'TRUSTEQ',
 'TWOMYNDS',
 'UCANEO',
 'UCG UNITED CONSULTING',
 'UELZENER ALLGEMEINE VERSICHERUNGS GESELLSCHAFT',
 'UKSH',
 'UNION INVESTMENT',
 'UNITY CONSULTING   INNOVATION',
 'UNIVERSIT TSKLINIKUM M NSTER',
 'UNIVERSIT TSKLINIKUM W RZBURG',
 'UNIVERSITY HOSPITAL SCHLESWIG HOLSTEIN  UKSH',
 'UNIVERSITY OF BAYREUTH',
 'UNIVERSITY OF HAMBURG',
 'UNTERNEHMENSGRUPPE THEO M LLER',
 'UPVEST',
 'US COMMANDER  NAVAL INFORMATION WARFARE SYSTEMS',
 'UTILIGENCE',
 'V RIDION',
 'VAILLANT BUSINESS SERVICES',
 'VAISTO SOLUTIONS',
 'VALANTIC DIGITAL FINANCE',
 'VALANTIC SOFTWARE   TECHNOLOGY INNOVATIONS',
 'VALUEWORKS',
 'VALUEWORKS AI',
 'VALUEZON',
 'VANGUARD AUTOMATION',
 'VARTA MICRO PRODUCTION',
 'VAY',
 'VBN',
 'VENT IO',
 'VERVE',
 'VHV',
 'VIDLAB7',
 'VIGENERON',
 'VIMATEC',
 'VINTED',
 'VIRTUAL7',
 'VISA',
 'VISIONAI',
 'VIVID MONEY',
 'VKB',
 'VLS VERSICHERUNGSLOGISTIK',
 'VOLKSWOHL BUND LEBENSVERSICHERUNG',
 'VOLLCOM DIGITAL',
 'VP VERBUND PFLEGEHILFE',
 'VTG',
 'W RTTEMBERGISCHE VERSICHERUNG AKTIENGESELLSCHAFT',
 'WACKER CHEMIE',
 'WARGAMING',
 'WAVE MOBILE MONEY',
 'WDR',
 'WEBER',
 'WEGO SYSTEMBAUSTOFFE',
 'WEMOLO',
 'WENTRONIC',
 'WESORT AI',
 'WIBU',
 'WIRTSCHAFTSRAT DER CDU E V',
 'WITH LOVE AND DATA',
 'WM',
 'WOLT',
 'WOOGA',
 'WORKAROUND',
 'WORKIDENTITY',
 'WORLD FOOD PROGRAMME',
 'XIBIX SOLUTIONS',
 'XPENG',
 'XPLAIN DATA',
 'XSOLLA',
 'YEAH  GLOBAL',
 'YO IT CONSULTING',
 'YUKAWA EXPONENTIAL',
 'ZABEL',
 'ZALANDO',
 'ZANDER LABS',
 'ZATTOO',
 'ZAUBAR',
 'ZEAL NETWORK',
 'ZEISS',
 'ZEIT VERLAGSGRUPPE',
 'ZENDR',
 'ZENJOB',
 'ZERO TO ONE SEARCH   RECRUITMENT AGENCY',
 'ZERTIFICON',
 'ZERTIFICON SOLUTIONS',
 'ZURICH INSURANCE',
 'ZVOOVE']

In [17]:
# Check some names
df.loc[df["company"].str.upper().str.contains("ZERTIFICON"), ["company", "location", "title", "source_id"]]

,company,location,title,source_id
398,Zertificon Solutions GmbH,Neukölln,Data Analyst (m/f/d) in IT security company,1
1152,Zertificon,Berlin,Data Analyst (m/f/d) in IT security company,2

In [18]:
# create a dictionary of (parts of) company names that occure, and the name we want to replace it with.

company_dict = {
'4SCREEN': '4 SCREEN',
'ACONEXT': 'ACONEXT', #'ACONEXT STUTTGART'
'ADAC': 'ADAC', #'ADAC ALLGEMEINER DEUTSCHER AUTOMOBIL CLUB',
'AXEL SPRINGER': 'AXEL SPRINGER', #'AXEL SPRINGER NATIONAL MEDIA  TECH',
'BECHTLE BREMEN': 'BECHTLE ITSYSTEMHAUS BREMEN',
'BOOZ ALLEN': 'BOOZ ALLEN',
'CHECK24': 'CHECK24', # 'CHECK24 VERGLEICHSPORTAL',
'CHERRY VENTURES': 'CHERRY VENTURES', # 'CHERRY VENTURES MANAGEMENT'
'CHOCO': 'CHOCO COMMUNICATIONS',
'ENPAL': 'ENPAL', #'ENPAL DRAGON',
'HOPMANN': 'HOPMANN MARKETING ANALYTICS', # 'HOPMANN   MARKETING ANALYTICS INH  J RG HOPMANN',
'HUK COBURG': 'HUK COBURG', #'HUK COBURG VERSICHERUNGSGRUPPE',
'LEIBNIZ INSTITUT F R ANALYTISCHE WISSENSCHAFTEN': 'LEIBNIZ INSTITUT F R ANALYTISCHE WISSENSCHAFTEN',
'LEIBNIZ INSTITUT F R ASTROPHYSIK': 'LEIBNIZ INSTITUT F R ASTROPHYSIK', # 'LEIBNIZ INSTITUT F R ASTROPHYSIK POTSDAM',
'LEIBNIZ INSTITUT F R NATURSTOFF': 'LEIBNIZ INSTITUT F R NATURSTOFF FORSCHUNG UND INFEKTIONSBIOLOGIE E V',
'LOTUM': 'LOTUM', # 'LOTUM MEDIA'
'LUNIT': 'LUNIT', #'LUNIT CANCER SCREENING'
'MVGM':  'MVGM', # 'MVGM INTERNATIONAL'
'NETTREK': 'NETTREK', #'NETTREK UND'
'CLOPPENBURG': 'PEEK CLOPPENBURG', # 'PEEK   CLOPPENBURG     D SSELDORF'
'PREDIUM': 'PREDIUM TECHNOLOGY',
'PROCESS': 'PROCESSAND',
'T V S D': 'T V S D', # TÜV SÜD; 'T V S D DIGITAL SERVICE'
'VALUEWORKS': 'VALUEWORKS AI',
'ZERTIFICON': 'ZERTIFICON', # 'ZERTIFICON SOLUTIONS'
}

for contains_string, replace_string in company_dict.items():
    df.loc[df["company_clean_ish"].str.upper().str.contains(contains_string), ["company_clean_ish"]] = replace_string

In [19]:
# Check unique list again
np.sort(df["company_clean_ish"].unique()).tolist()

['1 1 MAIL   MEDIA APPLICATIONS',
 '1KOMMA5',
 '1KOMMA6   MULTIMEDIALE DIENSTLEISTUNGEN',
 '1X2 TECHNOLOGIES',
 '4 SCREEN',
 'ABAT NORTH AMERICA',
 'ABB',
 'ABBVIE',
 'ABOUT YOU',
 'ACCANTEC GROUP',
 'ACCENTURE',
 'ACCURE BATTERY INTELLIGENCE',
 'ACONEXT',
 'ADAC',
 'ADEAL SYSTEMS',
 'ADESSO',
 'ADG APOTHEKEN DIENSTLEISTUNGSGESELLSCHAFT MBH',
 'ADM',
 'AERZENER MASCHINENFABRIK',
 'AI ASSOCIATES',
 'AI FUTURES',
 'AIGNOSTICS',
 'AILIO',
 'AINOVI',
 'AITAD',
 'AKKODIS',
 'AKLASS SOLUTIONS',
 'AL SOLUTIONS',
 'ALACRIS THERANOSTICS',
 'ALBATROSS AI',
 'ALCEDIS   A HUMA COMPANY',
 'ALDI EINKAUF   CO  OHG',
 'ALDI S D',
 'ALEXANDER THAMM',
 'ALFRED WEGENER INSTITUT F R POLAR  UND',
 'ALGEA CARE',
 'ALITHEA BIO',
 'ALIXPARTNERS',
 'ALLGEIER PUBLIC',
 'ALLIANZ',
 'ALLIANZ DIGITAL HEALTH',
 'ALLIANZ VERSICHERUNGS AG',
 'ALLOS HOF MANUFAKTUR',
 'ALMEDIA',
 'ALTEN CONSULTING SERVICES',
 'ALTEN GERMANY',
 'AMAI',
 'AMAZON',
 'AMAZON DEVELOPMENT CENTER GERMANY',
 'AMAZON DEVELOPMENT CENTER GERMANY   C92',
 'AMAZON EUROPE CORE',
 'AMAZON WEB SERVICES  AWS',
 'AMAZON WEB SERVICES DEVELOPMENT CENTER GERMANY',
 'AMD',
 'AMFILEON',
 'AMMERL NDER VERSICHERUNG VVAG',
 'AMPRION',
 'AMUNDI',
 'ANALYTIK JENA CO  KG',
 'AOK BAYERN   DIE GESUNDHEITSKASSE',
 'APPINIO',
 'APPLIKE',
 'APPLOFT',
 'APTIV',
 'ARETE',
 'ARETO CONSULTING GMBH',
 'ARIADNE',
 'ARTIVION EMEA',
 'ARVATO',
 'ARVATO SYSTEMS',
 'ARVATO SYSTEMS DIGITAL',
 'ASCENDIS PHARMA',
 'ASKLEPIOS SERVICE IT',
 'ATH ALTONAER TECHNOLOGIE HOLDING',
 'ATLAS ELEKTRONIK',
 'ATLAS MARIDAN APS',
 'ATMIO',
 'ATOSS SOFTWARE',
 'ATRUVIA',
 'AUDACITY CAPITAL MANAGEMENT',
 'AUDIBENE',
 'AUDIBLE',
 'AUSBILDUNG DE',
 'AUTO1',
 'AUTONOMOUS TEAMING SOLUTIONS',
 'AUXMONEY',
 'AVAT AUTOMATION',
 'AVO INTELLIGENCE',
 'AWS EMEA SARL  GERMANY BRANCH',
 'AXEL SPRINGER',
 'AXULUS',
 'BABBEL',
 'BAKER TILLY',
 'BARBARICUM',
 'BARMER',
 'BASF',
 'BAUER',
 'BAUMLINK',
 'BAYER',
 'BAYERISCHES LANDESAMT F R GESUNDHEIT UND LEBENSMITTELSICHERHEIT',
 'BAYERISCHES LANDESAMT F R STATISTIK',
 'BAYWA R E  SOLAR TRADE',
 'BCG X',
 'BCMED',
 'BEAM AI',
 'BEARINGPOINT',
 'BECHTLE IT SYSTEMHAUS BREMEN',
 'BECHTLE ITSYSTEMHAUS BREMEN',
 'BEHREND E K',
 'BEIERSDORF',
 'BEIERSDORF SHARED SERVICES',
 'BERGFREUNDE',
 'BERLINER WASSERBETRIEBE',
 'BERTRANDT',
 'BI PHARMA CO KG',
 'BI VETMEDICA',
 'BID BAYERISCHER INKASSO DIENST',
 'BIKAR METALLE',
 'BINANCE',
 'BIOMARKER SERVICES',
 'BIONTECH',
 'BIOTRONIK CORPORATE SERVICES',
 'BIOTYPE',
 'BITA',
 'BLACKLANE',
 'BLUEOAK ADVERTISING',
 'BLUEPRINT EXECUTIVE SEARCH',
 'BLUETHRONE',
 'BMW',
 'BN AUTOMATION',
 'BNP PARIBAS PERSONAL INVESTORS',
 'BOEHRINGER INGELHEIM',
 'BOLT',
 'BOOZ ALLEN',
 'BOSCH',
 'BOSTON CONSULTING',
 'BRANCH TECH',
 'BRAVOBIKE',
 'BREUNINGER',
 'BRIDGINGIT',
 'BRIGHT TESTING',
 'BRING  LABS',
 'BRUNEL',
 'BRUSS SEALING SYSTEMS',
 'BUDNI HANDELS  UND SERVICE',
 'BUNDESAGENTUR F R ARBEIT',
 'BWF',
 'BWORKS HR PROFESSIONAL',
 'BYK ADDITIVES',
 'BYK CHEMIE',
 'C  MELCHERS',
 'CAMBRIUM',
 'CAMPOINT',
 'CANCOM',
 'CAPGEMINI',
 'CAPGEMINI INVENT',
 'CARHARTT WIP  WORK IN PROGRESS',
 'CARL ZEISS IQS SOFTWARE R D CENTER',
 'CARONSALE',
 'CAVALIS',
 'CBM CHRISTOFFEL BLINDENMISSION CHRISTIAN BLIND MISSION E V',
 'CBTW',
 'CDP',
 'CEEZER',
 'CELONIS',
 'CENTRIC SOFTWARE',
 'CERTIVITY',
 'CGI',
 'CHAOZHOU THREE CIRCLE CO   LTD',
 'CHECK24',
 'CHEFS CULINAR',
 'CHERRY VENTURES',
 'CHOCO COMMUNICATIONS',
 'CHRIST COMPANY CONSULTING',
 'CIDEON SOFTWARE   SERVICES',
 'CIKLO TALENT',
 'CIMT AG',
 'CINEMO',
 'CINT',
 'CLAAS MBH',
 'CLARINESS',
 'CLIMATIQ',
 'CLOOVER',
 'COAC',
 'COBRAINER',
 'COFINITY X',
 'COFINPRO',
 'COGNITIVO',
 'COLLABORATION BETTERS THE WORLD',
 'COLTECH',
 'COMMA SOFT',
 'COMPANION STRATEGIEBERATUNG',
 'COMPARUS',
 'COMPUGROUP MEDICAL',
 'COMPUGROUP MEDICAL   CO',
 'COMPUSAFE DATA SYSTEMS',
 'COMPUTER FUTURES',
 'COMPUTOMICS',
 'CONET',
 'CONNECTMETA AI',
 'CONSTELLR',
 'CONTROL EXPERT',
 'CONVIT',
 'CONVOLUT',
 'CORECRUITMENT LTD',
 'CORIOLIS PHARMA RESEARCH',
 'COSNOVA',
 'COSUNO',
 'COZERO',
 'CRAYON',
 'CREALYTICS',
 'CREDITPLUS BANK',
 'CREDITSHELF AKTIENGESELLSCHAFT',
 'CREDIUM',
 'CRELUX',
 'CROWDSTRIKE',
 'CSL BEHRING',
 'CUJU',
 'CUREVAC',
 'CUREXUS',
 'CYBER VALLEY',
 'CYTIVA',
 'DADAJ',
 'DAHAG RECHTSSERVICES',
 'DAIICHI SANKYO EUROPE',
 'DAMEDIC',
 'DATA TALENT',
 'DATACAMP',
 'DATACRAFT',
 'DATAMICS',
 'DATAMONKEY',
 'DATASEC INFORMATION FACTORY',
 'DATASOLUT',
 'DATEV EG',
 'DEEPREC AI',
 'DEICHMANN',
 'DELIVERY HERO',
 'DELOITTE',
 'DELTIA',
 'DELTRA BUSINESS SOFTWARE',
 'DENNEMEYER',
 'DEUTSCHE APOTHEKER  UND  RZTEBANK EG   APOBANK',
 'DEUTSCHE BANK',
 'DEUTSCHE BUNDESBANK',
 'DEUTSCHE KREDITBANK  DKB',
 'DEUTSCHE RENTENVERSICHERUNG BUND',
 'DEUTSCHES ELEKTRONEN SYNCHROTRON DESY',
 'DEUTSCHES KREBSFORSCHUNGSZENTRUM',
 'DEVELOPREC',
 'DEVNET',
 'DEVOTEAM I GOOGLE CLOUD PARTNER',
 'DEXTER HEALTH',
 'DFB',
 'DHL CONSULTING',
 'DIDA',
 'DIGITAL CHARGING SOLUTIONS',
 'DIGITALTREIBER UG',
 'DIGITALTWIN TECHNOLOGY',
 'DIGITECH SEARCH',
 'DIGITL',
 'DIMOS OPERATIONS',
 'DIN SOLUTIONS',
 'DISCOVER INTERNATIONAL',
 'DLTHUB',
 'DOCTOLIB',
 'DOHLE HANDELSGRUPPE',
 'DOUGLAS',
 'DR  JOHANNES HEIDENHAIN',
 'DR  KURT WOLFF',
 'DR  WOLFF',
 'DR GER',
 'DR GERWERK   CO',
 'DREES   SOMMER',
 'DYMATRIX',
 'DZ BANK',
 'E ON DIGITAL TECHNOLOGY',
 'E2N',
 'EBENBUILD',
 'ECE',
 'ECMWF',
 'EGGERSMANN',
 'EGYM',
 'EHRENM LLER',
 'EIDU',
 'ELEVENLABS',
 'ELUNIC',
 'EMBASSY OF THE UNITED STATES OF AMERICA',
 'EMMA   THE SLEEP COMPANY',
 'EMPION',
 'ENBW ENERGIE BADEN W RTTEMBERG',
 'ENCAVIS',
 'ENERCITY',
 'ENERGYEFFIZIENZ',
 'ENGAIGE',
 'ENJINS',
 'ENPAL',
 'ENTRIX',
 'ENZO',
 'ENZO TECH',
 'EODA',
 'EPM SCIENTIFIC',
 'ERC SYSTEM',
 'ERDMANN SOFTWAREGESELLSCHAFT MBH',
 'ERGO',
 'ERGOTOPIA',
 'ERNSTING S FAMILY',
 'ES TEC',
 'ESL FACEIT   EFG',
 'ESQLABS',
 'ETRIBES',
 'EUROPA PARK',
 'EUROPA PARK ERLEBNIS RESORT',
 'EUROPEAN CENTRE FOR MEDIUM RANGE WEATHER FORECASTS',
 'EUROPEAN TECH RECRUIT',
 'EUROPEAN X RAY FREE ELECTRON LASER FACILITY',
 'EVERSION TECHNOLOGIES',
 'EVIDANZA',
 'EVONIK',
 'EWE TEL',
 'EWOLFF',
 'EXACT SCIENCES CORPORATION',
 'EXOMATTER',
 'EXPATRIO',
 'EXPLEO',
 'EY',
 'EYEO',
 'FAIR PARKEN',
 'FERCHAU',
 'FEW FAR',
 'FIBER EXPERTS',
 'FINANZ DATA',
 'FINANZAMT KASSEL',
 'FINANZGURU',
 'FINCON REPLY',
 'FINN',
 'FIT ANALYTICS',
 'FLASCHENPOST',
 'FLEXA',
 'FLINK',
 'FLIP',
 'FLOORTEX EUROPE LTD',
 'FLUGHAFEN HANNOVER LANGENHAGEN',
 'FLYERALARM BIT LABS',
 'FOM UNIVERSITY OF APPLIED SCIENCES FOR ECONOMICS AND MANAGEMENT',
 'FORRS PARTNERS',
 'FORSCHUNGSZENTRUM J LICH',
 'FORVIS MAZARS',
 'FORWARD EARTH',
 'FOXBASE',
 'FRANZ   WACH PERSONALSERVICE',
 'FRAUNHOFER FIT',
 'FRAUNHOFER INSTITUTE FOR MICROELECTRONIC CIRCUITS AND SYSTEMS',
 'FREENET DLS',
 'FREIE UNIVERSIT T BERLIN',
 'FRIEDRICH SCHILLER UNIVERSIT T JENA',
 'FUSION CONSULTING',
 'FUTURAE TECHNOLOGIES',
 'FUTURISED',
 'G2 RECRUITMENT',
 'GAF',
 'GARANT',
 'GASCADE GASTRANSPORT',
 'GEBR  HEINEMANN',
 'GEM',
 'GEMA   GESELLSCHAFT F R MUSIK  AUFF HRUNGS  UND MECHAN  VERVIELF LTIGUNGSRECHTE',
 'GEN RE',
 'GENERALI',
 'GENERALI DEUTSCHLAND',
 'GERMAN AEROSPACE CENTER  DLR',
 'GESELLSCHAFT F R MUSIKALISCHE AUFF HRUNGS  UND',
 'GETML RESEARCH',
 'GETRIEBEBAU NORD',
 'GETYOURGUIDE',
 'GHARAGE',
 'GIE EREI INSTITUT DER RWTH AACHEN',
 'GIGS',
 'GIM GESELLSCHAFT F R INNOVATIVE MARKTFORSCHUNG MBH',
 'GLASSDOLLAR',
 'GLOBAL ENERGY INTERCONNECTION RESEARCH INSTITUTE EUROPE',
 'GLOBAL MARKET SOLUTIONS   GERMANY',
 'GLOBAL UNIVERSITY SYSTEMS',
 'GNOSIS',
 'GOLDNER',
 'GOOGLE',
 'GR NENTHAL',
 'GREEN ENERGY ORIGIN  GEO',
 'GREEN FUSION',
 'GREEN VALUE MANAGEMENT LTD',
 'GREENBOOTCAMPS',
 'GREENPOCKET',
 'GREENVENTORY',
 'GREY ENGINEERING',
 'GRIMME LANDMASCHINENFABRIK',
 'GRO  BUSINESS',
 'GROHE',
 'GSI HELMHOLTZZENTRUM F R SCHWERIONENFORSCHUNG',
 'GSK',
 'GWQ SERVICEPLUS',
 'H NDLERBUND',
 'HAGIUS',
 'HAMBURG UNIVERSITY OF TECHNOLOGY',
 'HAMLYN WILLIAMS',
 'HANDELSBLATT',
 'HANDZ ON',
 'HANNOVER R CK',
 'HANNOVER RE',
 'HANSEMERKUR',
 'HANSETHERM',
 'HAPEKO',
 'HARVEY NASH',
 'HASHLIST',
 'HAUFE',
 'HAUSGOLD   TALOCASA',
 'HAVAS',
 'HAWK',
 'HAYS   WORKING FOR YOUR TOMORROW',
 'HDI',
 'HEIDELBERG MATERIALS',
 'HEIDELBERG UNIVERSITY',
 'HELLOWORK CONSULTANTS',
 'HELMHOLTZ ZENTRUM M NCHEN',
 'HELPLING',
 'HENKEL',
 'HETZNER',
 'HIGHBERG MEDIAMINDS',
 'HIGHLANDER SOLUTIONS',
 'HIT HANDELSGRUPPE',
 'HMS ANALYTICAL SOFTWARE',
 'HMS ANALYTICAL SOFTWARE   CONSULTING   END TO END SOLUTIONS FOR DATA SCIENCE   ANALYTICS',
 'HOCHSCHULE KAISERSLAUTERN',
 'HOME24',
 'HOPMANN MARKETING ANALYTICS',
 'HORV TH',
 'HOTTGENROTH',
 'HP',
 'HR UNIVERSAL',
 'HUK COBURG',
 'HYUNDAI MOTOR',
 'IABG',
 'IBA',
 'IBA DOSIMETRY',
 'ICIS TSCHACH SOLUTION',
 'IFTA',
 'IK PARTNERS',
 'ILSENBURGER GROBBLECH',
 'IMPALA SEARCH',
 'INCARI DEVELOPMENT PLATFORM',
 'INDIVUMED',
 'INFINEON TECHNOLOGIES',
 'INFRASERV H CHST',
 'ING',
 'INITIONS',
 'INNNOW',
 'INNOMOTICS',
 'INOVEX',
 'INSTAFFO',
 'INSTAPRO',
 'INSTITUT F R MEDIZINISCHE INFORMATIK',
 'INTAPP',
 'INTEGRITYNEXT',
 'INTEREX',
 'INTERHYP',
 'INTERJOB',
 'INTERWORKS',
 'INVIA TRAVEL GERMANY',
 'IOTIS',
 'IPPEN DIGITAL',
 'IPPEN MEDIA',
 'IPSOS',
 'IRON EAGLEX  INC',
 'ISS SOFTWARE',
 'IT INTERNATIONAL MOBILITY',
 'IT P INFORMATION TECHNOLOGY PARTNER',
 'IT SERVICE',
 'IT4IPM',
 'ITEM INDUSTRIETECHNIK',
 'IUNA AI',
 'IWOCA',
 'J  RETTENMAIER   S HNE',
 'JAAI   JUST ADD AI',
 'JET SERVICES MARKETING',
 'JINA AI',
 'JOHNSON   JOHNSON',
 'JOIN COM',
 'JSS ASSOCIATES',
 'JUST ADD AI',
 'JUST EAT TAKEAWAY COM',
 'K RCHER',
 'KAPA AI',
 'KARRIERE TUTOR',
 'KASSENZAHN RZTLICHE VEREINIGUNG HESSEN   K RPERSCHAFT DES  FFENTLICHEN RECHTS',
 'KAYZEN',
 'KEY WORK CONSULTING',
 'KI PERFORMANCE',
 'KIENBAUM CONSULTANTS INTERNATIONAL   ZENTRALE',
 'KIRESULT',
 'KLA',
 'KLANG GAMES',
 'KLIM',
 'KLINIK F R ALLGEMEIN   VISZERAL  UND',
 'KNUDDELS',
 'KONFUZIO',
 'KONVERSIONSKRAFT',
 'KORRO AI',
 'KOSATEC COMPUTER',
 'KPMG WIRTSCHAFTSPR FUNGSGESELLSCHAFT',
 'KREATIVSTORM',
 'KWS',
 'L WENSTEIN MEDICAL',
 'LABOREMUS',
 'LADGOV CORPORATION',
 'LANCH',
 'LANDESHAUPTSTADT STUTTGART',
 'LANDESKRANKENHILFE V V A G',
 'LANDKREIS BODENSEEKREIS',
 'LANG SERVICE',
 'LEHMANN   PIONEERS DIGITAL',
 'LEIBNIZ INSTITUT F R ANALYTISCHE WISSENSCHAFTEN',
 'LEIBNIZ INSTITUT F R ASTROPHYSIK',
 'LEIBNIZ INSTITUT F R NATURSTOFF FORSCHUNG UND INFEKTIONSBIOLOGIE E V',
 'LEIBNIZ INSTITUTE OF ATMOSPHERIC PHYSICS',
 'LEIPFINGER BADER',
 'LEIPZIG UNIVERSITY',
 'LEXISNEXIS',
 'LEXWARE',
 'LGC AXOLABS',
 'LIBRA',
 'LIEBHERR',
 'LIEBHERR HAUSGER TE OCHSENHAUSEN',
 'LIEFERANDO',
 'LIFE SCIENCE NORD',
 'LILT',
 'LINDNER',
 'LIPOTYPE',
 'LLOYDS BANK',
 'LOGIC HIRE SOLUTIONS LTD',
 'LONZA',
 'LOTUM',
 'LUFTHANSA TECHNIK',
 'LUMINARY',
 'LUMINO',
 'LUNIT',
 'M M SOFTWARE',
 'M NCHEN',
 'MACHINE LEARNING REPLY',
 'MAINGAU ENERGIE',
 'MAINWEBSOLUTIONS',
 'MAKERSITE',
 'MAM',
 'MAN TRUCK   BUS',
 'MARC O POLO',
 'MARKANT',
 'MARKT PILOT',
 'MASENT',
 'MASTERSCHOOL',
 'MATERNA INFORMATION   COMMUNICATIONS',
 'MAX PLANCK COMPUTING AND DATA FACILITY  MPCDF',
 'MAX PLANCK DIGITAL LIBRARY',
 'MAX PLANCK INSTITUT F R BIOLOGIE T BINGEN',
 'MAX PLANCK INSTITUT F R KOLLOID  UND',
 'MAX PLANCK INSTITUT F R METEOROLOGIE',
 'MAX PLANCK INSTITUTE FOR CHEMICAL ENERGY CONVERSION',
 'MBIOMICS',
 'MECHANICS OF MATERIALS',
 'MED EL MEDICAL ELECTRONICS',
 'MEDIAPLUS',
 'MEDIFOX DAN',
 'MEDISYNC AI',
 'MEDPACE',
 'MEDSCAPE',
 'MEINESTADT DE',
 'MELCHERS',
 'MELOTECH',
 'MENDEL VERLAG   CO KG',
 'MERANTIX CAPITAL',
 'MERCEDES BENZ',
 'MERCEDES BENZ TECH INNOVATION',
 'MERCK',
 'MERCK HEALTHCARE',
 'MERZ THERAPEUTICS',
 'META',
 'MEYERTHOLE SIEMS KOHLRUSS GESELLSCHAFT F R',
 'MHP   A PORSCHE COMPANY',
 'MICE PORTAL',
 'MICHAEL BAUER RESEARCH',
 'MIDEA',
 'MILLDENT',
 'MILTENYI BIOTEC',
 'MINDFUEL',
 'MINDPEAK',
 'ML6   YOUR PARTNER IN AI',
 'MLL M NCHNER LEUK MIELABOR',
 'MOBILAB SOLUTIONS',
 'MONDEL Z INTERNATIONAL',
 'MORPHEUS TALENT SOLUTIONS',
 'MPA PHARMA',
 'MPB',
 'MSG SYSTEMS AG',
 'MTU AERO ENGINES',
 'MUNICH RE',
 'MVGM',
 'MVV TRADING',
 'MVZ D SSELDORF CENTRUM GBR',
 'MVZ MARTINSRIED',
 'MYMUESLI',
 'NANOGAMI',
 'NATIF AI',
 'NEBUMIND',
 'NEEW VENTURES',
 'NEOPREDICS',
 'NEROU',
 'NESTL',
 'NET SERVICES S   R L',
 'NETCONOMY',
 'NETLIGHT',
 'NETTREK',
 'NEUEFISCHE',
 'NEURAFLOW',
 'NEW YORKER',
 'NEXMART',
 'NEXTCODER SOFTWAREENTWICKLUNGS UG',
 'NEXWAFE',
 'NIELSENIQ',
 'NOKIA',
 'NOMAD ATOMICS',
 'NORCOM INFORMATION TECHNOLOGY   CO',
 'NORDMANN  RASSMANN',
 'NORGINE',
 'NOVENTIVE   IP SECURELY PROTECTED',
 'NOVO AI',
 'NOWEDA APOTHEKERGENOSSENSCHAFT EG',
 'NUCS AI',
 'NUROMEDIA',
 'NUVISAN',
 'OBI   CO',
 'OLX',
 'OLYMPUS EMEA',
 'OMIO',
 'OMMAX',
 'ONE   F VE',
 'OPITZ CONSULTING',
 'OPTRONICS  SYSTEM TECHNOLOGIES AND IMAGE',
 'ORANGE CYBERDEFENSE',
 'ORANGE QUARTER',
 'ORBEM',
 'OSMA',
 'OTTO  GMBH',
 'OTTO DATA WORKS',
 'OUTDOORACTIVE',
 'OUTFITTERY',
 'OXG GLASFASER',
 'OYAK ANKER BANK',
 'P UR   TELE COLUMBUS',
 'PACEMAKER',
 'PAIQO',
 'PAIR FINANCE',
 'PARCIT',
 'PARETOS',
 'PARI FIRMENGRUPPE',
 'PARKER B ASSOCIATES',
 'PARSHIPMEET',
 'PARTEX',
 'PARTSPACE',
 'PASS APP',
 'PAUL HARTMANN',
 'PAYBACK',
 'PAYMENTTOOLS',
 'PEEK CLOPPENBURG',
 'PERTO',
 'PEXON CONSULTING',
 'PFIZER',
 'PFLEGEWEGWEISER',
 'PHOENIX MEDICAL',
 'PIMCO PRIME REAL ESTATE',
 'PIVOT SEARCH',
 'PIVOTAL',
 'PLAN D',
 'PLANET A FOODS',
 'PMONE',
 'POLARANALYTICS',
 'POLYTEIA',
 'PORSCHE CONSULTING',
 'POWERCO',
 'PREDIUM TECHNOLOGY',
 'PRENODE',
 'PREVENTIO',
 'PRIMAL STATE PERFORMANCE',
 'PROCESSAND',
 'PROCREDIT',
 'PROCTER   GAMBLE',
 'PROFESSIONAL SCIENTISTS',
 'PROJECT A',
 'PROJEKTTR GER J LICH  PTJ',
 'PROLYTIC',
 'PROPERTY FINDER',
 'PROSIEBENSAT 1 TECH   SERVICES',
 'PROTECTION ONE',
 'PROTEROS BIOSTRUCTURES',
 'PROVIDE',
 'PSI SOFTWARE',
 'PUBLICIS MEDIA GERMANY',
 'PULS',
 'PWC GERMANY',
 'Q ENERGY',
 'QIMIA',
 'QPLIX',
 'QRUISE',
 'QUANTAGONIA',
 'QUANTISTRY',
 'QUANTUMBLACK  AI BY MCKINSEY',
 'QUODATA',
 'QUOTACOM',
 'R V ALLGEMEINE VERSICHERUNG',
 'RABOT ENERGY',
 'RAILPOOL',
 'RATBACHER',
 'RATEPAY',
 'RAUSGEGANGEN',
 'RAZOR',
 'RE7 CAPITAL',
 'RECHENZENTRUM DER FINANZVERWALTUNG DES LANDES NORDRHEIN WESTFALEN',
 'REMATIQ',
 'REMOBI',
 'REPLY',
 'REVENUECAT',
 'REWE',
 'REWE DIGITAL',
 'REWIRE',
 'RHEINDATA',
 'RHEINISCHE POST MEDIEN',
 'RHEINMETALL AVIATION SERVICES',
 'RHEINMETALL ELECTRONICS',
 'RHEINMETALL TECHNOLOGY CENTER',
 'RHESIS AI',
 'RISK IDENT',
 'RISK RESEARCH',
 'RISK SOLUTIONS',
 'RITTER',
 'RIVERTY',
 'RJC',
 'RMS  DER AUDIOVERMARKTER',
 'ROBOMINDS',
 'ROBOTRON DATENBANK SOFTWARE',
 'ROCHE',
 'ROHDE   SCHWARZ',
 'ROLAND RECHTSSCHUTZ VERSICHERUNGS AG',
 'ROOMPRICEGENIE',
 'ROOSI',
 'ROSENXT',
 'RSIGHT',
 'RWTH AACHEN',
 'RWTH AACHEN UNIVERSITY',
 'S DKURIER MEDIENHAUS',
 'S PAYMENT   EIN UNTERNEHMEN DER DSV GRUPPE',
 'SACHCONTROL',
 'SAFEAD',
 'SAFEDRIVER',
 'SANOFI',
 'SAP',
 'SAP FIONEER',
 'SCALEFREE',
 'SCALEUP AGENCY',
 'SCHEER',
 'SCHICKLER UNTERNEHMENSBERATUNG',
 'SCHLUCHSEEWERK AKTIENGESELLSCHAFT',
 'SCHMITT ENGINEERING',
 'SCHOTT',
 'SCHWARM TECHNOLOGIES INC',
 'SCIENEERS',
 'SECA SERVICES',
 'SEER INC',
 'SELLERX',
 'SENACOR TECHNOLOGIES',
 'SENTIENT FOUNDATION',
 'SEVDESK',
 'SHOPIFY',
 'SIEGWERK DRUCKFARBEN   CO',
 'SII',
 'SIKWEL',
 'SIMPLY X',
 'SINTEC INFORMATIK',
 'SKELETON TECHNOLOGIES',
 'SKILL FARM',
 'SKILLS ALLIANCE',
 'SKILLSPARK AB',
 'SKM',
 'SKOPOS',
 'SLAY',
 'SMA DEVELOPMENT',
 'SMARTLAB INNOVATIONSGESELLSCHAFT MBH',
 'SOCIAL MATCH   WE ARE HIRING',
 'SOCIETE GENERALE',
 'SOFTSERVE',
 'SOKA BAU',
 'SOLERA',
 'SOLUTE GMBH',
 'SONO MOTORS',
 'SOPRA STERIA',
 'SOURCE INTERNATIONAL',
 'SPARKASSE BREMEN',
 'SPARKASSEN RATING UND RISIKOSYSTEME',
 'SPHERA',
 'SR2   SOCIALLY RESPONSIBLE RECRUITMENT   CERTIFIED B CORPORATION',
 'ST DTISCHES KLINIKUM KARLSRUHE GGMBH',
 'STABURO',
 'STADLER SIGNALLING',
 'STADT K LN',
 'STADTSPARKASSE GLADBECK',
 'STADTWERKE VERKEHRSGESELLSCHAFT FRANKFURT AM MAIN',
 'STARKFLOW',
 'STATISTA',
 'STATWORX',
 'STEADFORCE',
 'STENON',
 'STHREE',
 'STI',
 'STIMME MEDIENGRUPPE',
 'STORYBLOK',
 'STRATEGION',
 'STRATIV',
 'STRIVENEST',
 'STUDYFLIX',
 'STYLINK SOCIAL MEDIA',
 'SUPER AI',
 'SURGE',
 'SVA SYSTEM VERTRIEB ALEXANDER',
 'SWISS RE',
 'SWK ENERGIE',
 'SYNAMIC TECHNOLOGIES UG',
 'SYNGENTA',
 'T V S D',
 'TABLE BRIEFINGS',
 'TACTO',
 'TAOD CONSULTING',
 'TARGOBANK',
 'TARGOMO',
 'TCHIBO',
 'TEAMVIEWER',
 'TECALLIANCE',
 'TECAN SOFTWARE COMPETENCE CENTER',
 'TECAN TRADING',
 'TECHNIKER KRANKENKASSE',
 'TECHNISCHE INFORMATIONSBIBLIOTHEK  TIB',
 'TECHNISCHE UNIVERSIT T CLAUSTHAL',
 'TECHNISCHE UNIVERSIT T ILMENAU',
 'TECHNOLOGY   STRATEGY',
 'TECKENTRUP',
 'TELUS DIGITAL',
 'TEMU',
 'TENTHPIN',
 'TERAKI',
 'TERRITORY MEDIA',
 'TESLA',
 'TESLA AUTOMATION',
 'TETHER IO',
 'TETRASCIENCE',
 'THE CREATIVE CLUB',
 'THE PRODUCT GUYS',
 'THEION',
 'THEO F RCH',
 'THERMO FISHER SCIENTIFIC',
 'THINKRED WEST',
 'THOMANN IO',
 'THRYVE',
 'THYSSENGAS',
 'THYSSENKRUPP',
 'TIETALENT',
 'TINYBIRD',
 'TMM',
 'TOMORROW UNIVERSITY OF APPLIED SCIENCES',
 'TOOZ TECHNOLOGIES',
 'TOP TECHNOLOGIES CONSULTING',
 'TOURLANE',
 'TRAKKEN',
 'TRANS O FLEX',
 'TRANSNETBW',
 'TRANSPARENT HIRING',
 'TRELLEBORG SEALING SOLUTIONS GERMANY',
 'TRIATHLON',
 'TRINETX',
 'TRIS TECHNOLOGY',
 'TRIVAGO',
 'TRKKN',
 'TRON',
 'TRUEMETRICS',
 'TRUST IN SODA',
 'TRUST WALLET',
 'TRUSTEQ',
 'TWOMYNDS',
 'UCANEO',
 'UCG UNITED CONSULTING',
 'UELZENER ALLGEMEINE VERSICHERUNGS GESELLSCHAFT',
 'UKSH',
 'UNION INVESTMENT',
 'UNITY CONSULTING   INNOVATION',
 'UNIVERSIT TSKLINIKUM M NSTER',
 'UNIVERSIT TSKLINIKUM W RZBURG',
 'UNIVERSITY HOSPITAL SCHLESWIG HOLSTEIN  UKSH',
 'UNIVERSITY OF BAYREUTH',
 'UNIVERSITY OF HAMBURG',
 'UNTERNEHMENSGRUPPE THEO M LLER',
 'UPVEST',
 'US COMMANDER  NAVAL INFORMATION WARFARE SYSTEMS',
 'UTILIGENCE',
 'V RIDION',
 'VAILLANT BUSINESS SERVICES',
 'VAISTO SOLUTIONS',
 'VALANTIC DIGITAL FINANCE',
 'VALANTIC SOFTWARE   TECHNOLOGY INNOVATIONS',
 'VALUEWORKS AI',
 'VALUEZON',
 'VANGUARD AUTOMATION',
 'VARTA MICRO PRODUCTION',
 'VAY',
 'VBN',
 'VENT IO',
 'VERVE',
 'VHV',
 'VIDLAB7',
 'VIGENERON',
 'VIMATEC',
 'VINTED',
 'VIRTUAL7',
 'VISA',
 'VISIONAI',
 'VIVID MONEY',
 'VKB',
 'VLS VERSICHERUNGSLOGISTIK',
 'VOLKSWOHL BUND LEBENSVERSICHERUNG',
 'VOLLCOM DIGITAL',
 'VP VERBUND PFLEGEHILFE',
 'VTG',
 'W RTTEMBERGISCHE VERSICHERUNG AKTIENGESELLSCHAFT',
 'WACKER CHEMIE',
 'WARGAMING',
 'WAVE MOBILE MONEY',
 'WDR',
 'WEBER',
 'WEGO SYSTEMBAUSTOFFE',
 'WEMOLO',
 'WENTRONIC',
 'WESORT AI',
 'WIBU',
 'WIRTSCHAFTSRAT DER CDU E V',
 'WITH LOVE AND DATA',
 'WM',
 'WOLT',
 'WOOGA',
 'WORKAROUND',
 'WORKIDENTITY',
 'WORLD FOOD PROGRAMME',
 'XIBIX SOLUTIONS',
 'XPENG',
 'XPLAIN DATA',
 'XSOLLA',
 'YEAH  GLOBAL',
 'YO IT CONSULTING',
 'YUKAWA EXPONENTIAL',
 'ZABEL',
 'ZALANDO',
 'ZANDER LABS',
 'ZATTOO',
 'ZAUBAR',
 'ZEAL NETWORK',
 'ZEISS',
 'ZEIT VERLAGSGRUPPE',
 'ZENDR',
 'ZENJOB',
 'ZERO TO ONE SEARCH   RECRUITMENT AGENCY',
 'ZERTIFICON',
 'ZURICH INSURANCE',
 'ZVOOVE']

### Consolidate company names

In [20]:
# Group data by cleaned(-ish) company names, save first occurance of value in the original company name column.
company_cleaning_df = df[["company", "company_clean_ish"]].groupby("company_clean_ish", as_index=False).agg({"company": "first"})
company_cleaning_series = company_cleaning_df["company"]
company_cleaning_series.index = company_cleaning_df["company_clean_ish"]
company_cleaning_series

company_clean_ish
1 1 MAIL   MEDIA APPLICATIONS                          1&1 Mail & Media Applications SE
1KOMMA5                                                                        1KOMMA5°
1KOMMA6   MULTIMEDIALE DIENSTLEISTUNGEN    1komma6 - Multimediale Dienstleistungen GmbH
1X2 TECHNOLOGIES                                                  1x2 Technologies GmbH
4 SCREEN                                                                        4screen
                                                               ...
ZENJOB                                                                           ZENJOB
ZERO TO ONE SEARCH   RECRUITMENT AGENCY         Zero to One Search | Recruitment Agency
ZERTIFICON                                                    Zertificon Solutions GmbH
ZURICH INSURANCE                                                       Zurich Insurance
ZVOOVE                                                                           zvoove
Name: company, Length: 972, dtype: object

In [21]:
# Map original company name to all listings from the same company.
df["company_clean"] = df["company_clean_ish"].map(company_cleaning_series)
df.filter(like="company")

,company,company_clean_ish,company_clean
0,Visa,VISA,Visa
1,Xsolla,XSOLLA,Xsolla
2,Global Market Solutions - Germany,GLOBAL MARKET SOLUTIONS GERMANY,Global Market Solutions - Germany
3,MeloTech,MELOTECH,MeloTech
4,vent.io,VENT IO,vent.io
...,...,...,...
1620,VidLab7 GmbH,VIDLAB7,VidLab7 GmbH
1621,Planet A Foods GmbH,PLANET A FOODS,Planet A Foods GmbH
1622,Lipotype GmbH,LIPOTYPE,Lipotype GmbH
1623,Amfileon AG,AMFILEON,Amfileon AG
1624,Workaround GmbH,WORKAROUND,Workaround GmbH

In [22]:
# Check result.
df.loc[df["company_clean_ish"].str.contains("HUK"), ["company", "company_clean_ish", "company_clean"]]

                             company company_clean_ish company_clean
7                         HUK-COBURG        HUK COBURG    HUK-COBURG
188                       HUK-COBURG        HUK COBURG    HUK-COBURG
251                       HUK-COBURG        HUK COBURG    HUK-COBURG
421                       HUK-COBURG        HUK COBURG    HUK-COBURG
481                       HUK-COBURG        HUK COBURG    HUK-COBURG
571                       HUK-COBURG        HUK COBURG    HUK-COBURG
933   HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG
987   HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG
1014  HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG
1050  HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG
1360  HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG
1392  HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG
1394  HUK-COBURG Versicherungsgruppe        HUK COBURG    HUK-COBURG

## Job Titles

### Clean titles first

In [23]:
df["title"].value_counts()

title
Data Scientist (m/w/d)               48
Senior Data Scientist (m/w/d)        20
Senior Data Scientist                18
Data Scientist (w/m/d)               18
Data Scientist (all genders)         14
                                     ..
Data Engineer / Analyst               1
Head of / VP - Data Experience        1
Internship Program Autumn 2025        1
Trainee Analytics Engineer            1
Senior Regional Marketing Manager     1
Name: count, Length: 1163, dtype: int64

Remove gender (non-)specification, e.g. (m/w/d), (m/f/d), (m/ f/ d), (gn),...

In [24]:
# Define regular expression.
my_regex = r"\(?\s?\w\s?[/|,]\s?\w\s?[/|,]\s?\w+\s?\)?"
# .         - include last character before match (likely a blank)
# \(?       - optional opening paranthesis (some note "(m/w/d)", some e.g. "f/m/d")
# \s?\w\s?  - word characters surrounded by optional spaces (e.g. "(m / w / d)")
# [/|,]     - matches all present separators, e.g.: "m|w|d", "f/m/d", "m,w,div"
# \s?\w+\s? - additional '+' to match "m/w/div" at third position

# Test regex:
df.loc[df["title"].str.find("/") >= 0, "title"].str.replace(my_regex, "", regex=True).to_list()[:10]

['Data Scientist ',
 'Junior Data Scientist / AI Developer ',
 'Junior Engineer Machine Learning / Deep Learning ',
 'Data Scientist / ML Engineer ',
 'Junior Data Scientist  - Tableau',
 'Data Scientist ',
 'Data Scientist in Energy Tech Start Up - hybrid Berlin based ',
 'Battery Scientist ',
 'AI&Business Analyst / Consultant (Remote Internship)',
 'Data Scientist ']

In [25]:
# Apply string replace
df["title_clean"] = df["title"].str.replace(my_regex, "", regex=True)

In [26]:
# Check for additional spellings/specifications
df.loc[df["title"].str.contains("\(|\*"), ["title", "title_clean"]].sample(10)
# -> " (all genders)"; "(aGw*)"; "(gn)"

,title,title_clean
1615,Machine Learning Engineer (LLM/RAG),Machine Learning Engineer (LLM/RAG)
801,Genomics Data Scientist (f/m/x),Genomics Data Scientist
146,"Product Manager, DashOps (f/m/x)","Product Manager, DashOps"
210,Working Student (part-time) or Internship (ful...,Working Student (part-time) or Internship (ful...
1552,SAP Inhouse (Senior) Consultant in Business An...,SAP Inhouse (Senior) Consultant in Business An...
346,Manufacturing Data Analyst @ Deltia (Remote wi...,Manufacturing Data Analyst @ Deltia (Remote wi...
1544,Big Data Architect (m/w/d),Big Data Architect
1410,AI (Agent) Engineer (f/m/d) | Jobs at VisionAI...,AI (Agent) Engineer | Jobs at VisionAI - Jobs
679,Product Analyst – Business Data & Insights (m/...,Product Analyst – Business Data & Insights
120,Bachelor of Science (m/w/d) Data Science und K...,Bachelor of Science Data Science und Künstlic...

In [27]:
df.loc[df["title_clean"].str.contains("all gender|gn|aGw", regex=True), "title_clean"].to_list()

['Data Scientist (all gender)',
 'Working Student AI/ML (all genders) - (Any location in Germany)',
 'Working Student Data Science and Data Engineering (all genders!)',
 'Data Scientist - Customer Data Platform (all genders)',
 'Head of AI (all genders)',
 "Aignostics' Talent Community",
 'GOglobal Trainee Data & AI (all genders)',
 'Working Student PV Performance Engineering (all genders)',
 'Strategy Manager Life Science (all genders)',
 'Werkstudierende - Tutoring im Data Science (all genders)',
 'Junior AI Platform Engineer or Working Student (all genders)',
 'Data Scientist - Time Estimations, Logistics (all genders)',
 'Working Student Aerospace Data Science (all genders)',
 '(Senior) BI Analyst (all genders)',
 'Data Analyst (all gender) – Process Mining und Datenanalyse',
 'Data Scientist  - Sektion für Hämatologische Spezialdiagnostik',
 'DWH Analyst (all genders)',
 'Data Analyst (all genders)',
 'Trainee Data Engineering (all genders)',
 'Head of Data (all genders)',
 'Data Scientist (aGw*)',
 'Data Scientist (all genders)',
 'Research Assistant, Molecular Diagnostics ',
 'Staff Data Scientist - Ad Tech (all genders)',
 'Data Analyst Battery Cell Testing (all genders)',
 'Senior Data Scientist - Time Estimations, Logistics (all genders)',
 'BI Analyst (all genders)',
 'Internship on Business and Data Analysis (all genders)',
 'Software Engineer (Data & Python) (all genders)',
 'AI Engineer // Data Scientist (all genders)',
 'Senior Data Scientist, Campaigns',
 'Data & AI Scientist Personalized Computational Genomics (all genders)',
 'Internship Battery Analytics (all genders)',
 'AI Platform Engineer (all genders)',
 'Lead Data Scientist (all genders)',
 'Werkstudent Data Science / Data Engineering (all genders)',
 'Data Scientist (all genders)',
 'Software & AI Engineer in Health (all genders)',
 'Data Scientist (all genders)',
 'Data Scientist (all genders)',
 'Software Engineer - Machine Learning (all genders)',
 'Data Scientist (all genders)',
 'Innovation Cup 2025 - Team Neuroinspired AI inference acceleration (all genders)',
 'Data Analysis Expert Battery Test Field (all genders)',
 'Data Scientist (all genders)',
 '(Junior) Cloud Data Engineer (all genders)',
 'Data Scientist (all genders)',
 'Bench Scientist (all genders)',
 'Masterprogramm Data Science & Business Analytics (all genders)',
 'Innovation Cup 2025 - Team Drug Discovery (all genders)',
 'Data Scientist (all genders)',
 'Data Scientist (all genders)',
 'Head of ML Platform & Developer Productivity (all genders)',
 'Data Scientist (all genders)',
 'Werkstudent/Praktikant im Bereich Data Science/Analytics & AI (all genders)',
 'Werkstudent Analytics: Editorial Intelligence (gn)',
 'Data Scientist (aGw*)',
 'Data Scientist (all genders)',
 'Lead Data Scientist (all genders)',
 'Data Scientist  - Sektion für Hämatologische Spezialdiagnostik',
 'Data Scientist (all gender)',
 'AI Engineer // Data Scientist (all genders)',
 'GOglobal Trainee Data & AI (all genders)',
 'Data Engineer Big Data (all genders)',
 'AI Engineer // Data Scientist (all genders)',
 'Scientist / Study Director (all genders)',
 'Research Scientist BIOCHEMISTRY/BIOPHYSICS (gn)',
 'Research Scientist BIOPHYSICS WITH FOCUS PLATE-BASED ASSAYS (gn)',
 'Senior Applied Scientist- Network Optimization (all genders)',
 'Principal Applied Scientist - Network Optimization (all genders)',
 'Senior Applied Scientist - Fulfilment Planning (all genders)',
 'RESEARCH SCIENTIST (gn) PROTEIN CRYO-EM WITH PROJECT MANAGEMENT SKILLS',
 'Postdoctoral Researcher (gn*)',
 'Principal Applied Scientist - Payments (all genders)',
 'Research Assistant/Associate  PhD students for "Research and Development in the Field of Optical Flow Diagnostics" (TME 129_241100)',
 'Principal Applied Scientist - Transactions Risk Management (all genders)',
 'Senior Data Scientist mit Schwerpunkt Ökonometrie/ Predictive Analytics (gn*)',
 'Postdoctoral Scientist - Metabolomics Specialist for Drug Safety - all genders - (Fixed-term contract 24 months)',
 'Postdoctoral Scientist / Researcher (all genders) in Relativistic High-Intensity Laser-Plasma Theory and Simulation',
 'Research Assistant/Associate  PhD students for "Research and Development in the Field of Combustion Systems with Optical Flow Diagnostics" (TME 130_241100)',
 'Postdoc (gn*)',
 'Data Scientist (all genders)',
 'Data Scientist (all genders)',
 'Data Scientist - Customer Data Platform (all genders)',
 'Staff Data Scientist - Ad Tech (all genders)',
 'Senior Data Scientist - Time Estimations, Logistics (all genders)',
 'Data Scientist / Engineer (gn)',
 'Principal Research Scientist I (all genders) Medicinal Chemistry (permanent / full-time)',
 'Principal Research Scientist I (all genders) Medicinal Chemistry (permanent / full-time)',
 'Junior Data Scientist (all genders)',
 'Data Scientist - Time Estimations, Logistics (all genders)',
 'Scientist – Optical Design and Simulation',
 'Data Scientist (all genders)',
 'Senior Data Scientist mit Schwerpunkt Ökonometrie/ Predictive Analytics (gn*)',
 '(Senior) Data Scientist (gn) with Spanish language skills',
 '(Senior) Data Scientist (gn) Internationales Team',
 'SAP Analytics Expert (gn*)',
 'Wirtschaftsinformatiker für Demand Planning Diagnostics ',
 'SAP Analytics Architect (gn*)',
 'Senior Associate Quantitative Analyse (all genders)',
 'Data Analyst Campaigning ',
 'Engineering Manager - Applied Generative AI (all genders) @ Babbel | NGP Capital Job Board',
 'Experte für Fahrzeug Telematikdaten und Datenanalysen (gn)',
 'Senior Cloud Data Engineer (all genders)',
 '(Senior) Data Engineer (all genders)',
 'Principal Research Scientist I (all genders) Medicinal Chemistry (permanent / full-time)',
 '(Senior) SAP Consultant (gn) Business Intelligence & Analytics',
 '(Senior) Data Engineer (all genders)',
 'Senior Consultant / Solution Architect Data Management Manufacturing (all genders)',
 'Senior Consultant / Solution Architect Data Management Manufacturing (all genders) 3',
 'Senior Consultant / Solution Architect Data Management Manufacturing (all genders)']

In [28]:
# Define and test regular expression
my_regex2 = r"\((\baGw.?|\bgn.?|\ball genders?.?)\)" # "(gn)", (gn*)", "(all gender)", "(all genders)", "(all genders!)"
df.loc[df["title_clean"].str.contains("all gender|gn|aGw", regex=True), "title_clean"].str.replace(my_regex2, "", regex=True).to_list()

['Data Scientist ',
 'Working Student AI/ML  - (Any location in Germany)',
 'Working Student Data Science and Data Engineering ',
 'Data Scientist - Customer Data Platform ',
 'Head of AI ',
 "Aignostics' Talent Community",
 'GOglobal Trainee Data & AI ',
 'Working Student PV Performance Engineering ',
 'Strategy Manager Life Science ',
 'Werkstudierende - Tutoring im Data Science ',
 'Junior AI Platform Engineer or Working Student ',
 'Data Scientist - Time Estimations, Logistics ',
 'Working Student Aerospace Data Science ',
 '(Senior) BI Analyst ',
 'Data Analyst  – Process Mining und Datenanalyse',
 'Data Scientist  - Sektion für Hämatologische Spezialdiagnostik',
 'DWH Analyst ',
 'Data Analyst ',
 'Trainee Data Engineering ',
 'Head of Data ',
 'Data Scientist ',
 'Data Scientist ',
 'Research Assistant, Molecular Diagnostics ',
 'Staff Data Scientist - Ad Tech ',
 'Data Analyst Battery Cell Testing ',
 'Senior Data Scientist - Time Estimations, Logistics ',
 'BI Analyst ',
 'Internship on Business and Data Analysis ',
 'Software Engineer (Data & Python) ',
 'AI Engineer // Data Scientist ',
 'Senior Data Scientist, Campaigns',
 'Data & AI Scientist Personalized Computational Genomics ',
 'Internship Battery Analytics ',
 'AI Platform Engineer ',
 'Lead Data Scientist ',
 'Werkstudent Data Science / Data Engineering ',
 'Data Scientist ',
 'Software & AI Engineer in Health ',
 'Data Scientist ',
 'Data Scientist ',
 'Software Engineer - Machine Learning ',
 'Data Scientist ',
 'Innovation Cup 2025 - Team Neuroinspired AI inference acceleration ',
 'Data Analysis Expert Battery Test Field ',
 'Data Scientist ',
 '(Junior) Cloud Data Engineer ',
 'Data Scientist ',
 'Bench Scientist ',
 'Masterprogramm Data Science & Business Analytics ',
 'Innovation Cup 2025 - Team Drug Discovery ',
 'Data Scientist ',
 'Data Scientist ',
 'Head of ML Platform & Developer Productivity ',
 'Data Scientist ',
 'Werkstudent/Praktikant im Bereich Data Science/Analytics & AI ',
 'Werkstudent Analytics: Editorial Intelligence ',
 'Data Scientist ',
 'Data Scientist ',
 'Lead Data Scientist ',
 'Data Scientist  - Sektion für Hämatologische Spezialdiagnostik',
 'Data Scientist ',
 'AI Engineer // Data Scientist ',
 'GOglobal Trainee Data & AI ',
 'Data Engineer Big Data ',
 'AI Engineer // Data Scientist ',
 'Scientist / Study Director ',
 'Research Scientist BIOCHEMISTRY/BIOPHYSICS ',
 'Research Scientist BIOPHYSICS WITH FOCUS PLATE-BASED ASSAYS ',
 'Senior Applied Scientist- Network Optimization ',
 'Principal Applied Scientist - Network Optimization ',
 'Senior Applied Scientist - Fulfilment Planning ',
 'RESEARCH SCIENTIST  PROTEIN CRYO-EM WITH PROJECT MANAGEMENT SKILLS',
 'Postdoctoral Researcher ',
 'Principal Applied Scientist - Payments ',
 'Research Assistant/Associate  PhD students for "Research and Development in the Field of Optical Flow Diagnostics" (TME 129_241100)',
 'Principal Applied Scientist - Transactions Risk Management ',
 'Senior Data Scientist mit Schwerpunkt Ökonometrie/ Predictive Analytics ',
 'Postdoctoral Scientist - Metabolomics Specialist for Drug Safety - all genders - (Fixed-term contract 24 months)',
 'Postdoctoral Scientist / Researcher  in Relativistic High-Intensity Laser-Plasma Theory and Simulation',
 'Research Assistant/Associate  PhD students for "Research and Development in the Field of Combustion Systems with Optical Flow Diagnostics" (TME 130_241100)',
 'Postdoc ',
 'Data Scientist ',
 'Data Scientist ',
 'Data Scientist - Customer Data Platform ',
 'Staff Data Scientist - Ad Tech ',
 'Senior Data Scientist - Time Estimations, Logistics ',
 'Data Scientist / Engineer ',
 'Principal Research Scientist I  Medicinal Chemistry (permanent / full-time)',
 'Principal Research Scientist I  Medicinal Chemistry (permanent / full-time)',
 'Junior Data Scientist ',
 'Data Scientist - Time Estimations, Logistics ',
 'Scientist – Optical Design and Simulation',
 'Data Scientist ',
 'Senior Data Scientist mit Schwerpunkt Ökonometrie/ Predictive Analytics ',
 '(Senior) Data Scientist  with Spanish language skills',
 '(Senior) Data Scientist  Internationales Team',
 'SAP Analytics Expert ',
 'Wirtschaftsinformatiker für Demand Planning Diagnostics ',
 'SAP Analytics Architect ',
 'Senior Associate Quantitative Analyse ',
 'Data Analyst Campaigning ',
 'Engineering Manager - Applied Generative AI  @ Babbel | NGP Capital Job Board',
 'Experte für Fahrzeug Telematikdaten und Datenanalysen ',
 'Senior Cloud Data Engineer ',
 '(Senior) Data Engineer ',
 'Principal Research Scientist I  Medicinal Chemistry (permanent / full-time)',
 '(Senior) SAP Consultant  Business Intelligence & Analytics',
 '(Senior) Data Engineer ',
 'Senior Consultant / Solution Architect Data Management Manufacturing ',
 'Senior Consultant / Solution Architect Data Management Manufacturing  3',
 'Senior Consultant / Solution Architect Data Management Manufacturing ']

In [29]:
# Apply regex2
df["title_clean"] = df["title_clean"].str.replace(my_regex2, "", regex=True)

In [30]:
# Clear white space
df["title_clean"] = df["title_clean"].str.strip()

In [31]:
df["title_clean"].value_counts()

title_clean
Data Scientist                                                        115
Senior Data Scientist                                                  59
Data Analyst                                                           25
Data Engineer                                                          21
Machine Learning Engineer                                              17
                                                                     ...
Business Intelligence Engineer*                                         1
Head of IoT                                                             1
Working student software development                                    1
Wissenschaftliche/r Mitarbeiter/in  | Thermomechanische Simulation      1
Senior Regional Marketing Manager                                       1
Name: count, Length: 1081, dtype: int64

In [32]:
np.sort(df["title_clean"].unique()).tolist()

['(Advanced) Data Developer',
 '(Associate) Consultant (Gen) AI & Data Scientist | AI Garage',
 '(Cloud) Data Engineer / BI Developer',
 '(Global) Senior Applied Research Scientist',
 '(Junior) AI Engineer',
 '(Junior) Berater Business Intelligence',
 '(Junior) Cloud Data Engineer',
 '(Junior) Consultant Data Analytics',
 '(Junior) Consultant Data Science & Artificial Intelligence',
 '(Junior) Consultant | Gen AI Finance',
 '(Junior) Data Analyst/ Business Analyst Procurement',
 '(Junior) Data Engineer',
 '(Junior) Data Product Associate',
 '(Junior) Data Scientist',
 '(Junior) Digital Produktmanager  AurumCars',
 '(Junior) Digital Produktmanager  Mietwagen',
 '(Junior) Digital Produktmanager  Payment Mietwagen',
 '(Junior) Online-Marketing Produktmanager  Mietwagen',
 '(Junior) Product Manager Financial Services',
 '(Junior) Produktmanager  Chatbot Mietwagen',
 '(Junior) Produktmanager  Operations Analytics Mietwagen',
 '(Junior) Produktmanager  SEO-Automatisierung Mietwagen',
 '(Junior) Produktmanager / Operationsmanager  Automatisierung Mietwagen',
 '(Junior) Specialist ESG Reporting',
 '(Junior) Technischer Produktmanager  Partnermanagement Mietwagen',
 '(Junior/Mid-level) Big Data Engineer',
 '(Sen.) Data Scientist',
 '(Senior) BI Analyst',
 '(Senior) Biochemist / Biopyhsicist',
 '(Senior) Business & Data Analyst',
 '(Senior) Business Analyst / Data Analyst',
 '(Senior) Consultant AI Specialist',
 '(Senior) Consultant Data Science & MLOp/m',
 '(Senior) Consultant Data Science Time-Series & Forecasting  (Data Scientist)',
 '(Senior) Consultant Data Strategy & Governance',
 '(Senior) Consultant Tech & AI Implementation',
 '(Senior) Data & AI PreSales Consultant',
 '(Senior) Data & Survey Engineer , Quantitative Marktforschung',
 '(Senior) Data Analyst',
 '(Senior) Data Analyst / Data Scientist  in Data Division',
 '(Senior) Data Analyst / Scientist',
 '(Senior) Data Engineer',
 '(Senior) Data Engineer  (Informatiker/in)',
 '(Senior) Data Engineer  | Jobs bei Pexon Consulting GmbH',
 '(Senior) Data Engineer / Data Warehouse Entwickler',
 '(Senior) Data Scientist',
 '(Senior) Data Scientist  Internationales Team',
 '(Senior) Data Scientist  in München',
 '(Senior) Data Scientist  with Spanish language skills',
 '(Senior) Data Scientist  – Schwerpunkt Predictive Modelling und GenAI (ab 01.04.25)',
 '(Senior) Data Scientist  – Schwerpunkt Predictive Modelling und GenAI ab 01.04.25',
 '(Senior) Data Scientist (Analytics), Merchant',
 '(Senior) Data Scientist - Document and Text Analytics',
 '(Senior) Data Scientist / ML Engineer',
 '(Senior) Data Scientist / Researcher',
 '(Senior) Data Scientist Analytics',
 '(Senior) Data Scientist Health Data Lab',
 '(Senior) Data Scientist with focus Clinical Statistics - part/full-time)',
 '(Senior) Data Scientist with focus SAS programming - part/full-time)',
 '(Senior) DevOps Data Integration Engineer',
 '(Senior) Fraud Data Scientist / Data Analyst',
 '(Senior) Machine Learning Data Scientist',
 '(Senior) Machine Learning Engineer',
 '(Senior) Process Analyst / Prozessberater  Reporting – SAP BW / BPC / Power BI / Tableau',
 '(Senior) SAP Consultant  Business Intelligence & Analytics',
 '(Senior) Scientist Primary Pharmacology of the Target Incubator Unit',
 '(Senior)Machine Learning Data Scientist',
 '(Senior-) Digital Transformation Engineer - Data Science',
 '(Senior-) Software Engineer',
 '(Wirtschafts-)Mathematiker, Statistiker, Data Scientist für die Tarifentwicklung Komposit',
 '1D/2D MATERIAL SCIENTIST',
 '2025 Applied Scientist Internship, Amazon University Talent Acquisition',
 '2025 Software Development Engineer - Machine Learning',
 '2025 Working Student Internship - Business Intelligence Engineer',
 'ACTUARIAL DATA SCIENTIST',
 'AI & Data - Analyst',
 'AI (Agent) Engineer  | Jobs at VisionAI - Jobs',
 'AI Architect & Optimization Specialist',
 'AI Architect / Machine Learning Engineer',
 'AI Cloud Engineer',
 'AI Consultant',
 'AI Developer',
 'AI Engineer',
 'AI Engineer (Intern)',
 'AI Engineer (Senior)',
 'AI Engineer - Germany (Remote)',
 'AI Engineer / AI Developer  bei einem SaaS-Unternehmen aus Würzburg (Full-Remote oder vor Ort)',
 'AI Engineer / Data Scientist',
 'AI Engineer // Data Scientist',
 'AI Engineer for AI Startup',
 'AI Engineer mit Schwerpunkt NLP',
 'AI Experience Researcher',
 'AI Lead',
 'AI Platform Engineer',
 'AI Research Scientist - Generative AI Red Teaming (London or Paris)',
 'AI Researcher',
 'AI Software Developer in Test',
 'AI Software Engineer',
 'AI consultant  - Energy',
 'AI&Business Analyst / Consultant (Remote Internship)',
 'AI-Engineer/Vollzeit',
 'AI/ML Engineer - Biomedical AI',
 'AI\xa0computational\xa0\xa0material\xa0\xa0researcher/expert',
 'Abschlussarbeit im Bereich Datenstrategie und Künstliche Intelligenz',
 'Abschlussarbeit im Bereich: KI basierte Generierung von Schiffsgeräuschen',
 'Abschlussarbeit zum Thema: „Generative KI"',
 'Account Manager:in für Sound Branding, Podcasts und Audiospots',
 "Aignostics' Talent Community",
 'Aktuar (DAV)/Data Scientist  - Krankenversicherungen & Data Warehouse',
 'Analyst  Short Term Trading in Renewable Energies',
 'Analyst & Marketing Technology Manager',
 'Analyst - Fokus Data Science / AI',
 'Analytics & Insights Internship',
 'Analytics Engineer',
 'Analytics Engineer  im Bereich Business Intelligence & Web Analytics',
 'Analytics Engineer - Graduate (Hybrid;/d)',
 'Analytics Engineering Lead',
 'Analytics and Insight Professional, Amazon Advertising, Analytics and Insights',
 'Applied Machine Learning Engineers',
 'Applied Scientist II (L5), AFT AI, Amazon AFT AI',
 'Applied Scientist for Probabilistic Machine Learning and Human-Computer Interaction',
 'Applied Scientist, ATS Machine Learning & Engineering',
 'Applied Scientist, Amazon Nova',
 'Applied Scientist, Amazon Robotics R&D',
 'Applied Scientist, Artificial General Intelligence, AGI Information',
 'Applied Scientist, Content Systems Science and Engineering, Amazon',
 'Applied Scientist, Fintech (Fraud)',
 'Artificial Intelligence Engineer',
 'Artificial Intelligence Specialist',
 'Artificial Intelligence and Machine learning Business & Data Analyst',
 'Assistant  Databases and Data Analysis',
 'Associate - Index Operations',
 'Associate / (Senior) AI Technology Consultant',
 'Associate Data Analyst',
 'Associate Data Science & Management Consultant',
 'Associate Special Project, Esports',
 'Atomic, Molecular, and Optical Physicist',
 'BI & Data Modeling Expert',
 'BI Analyst',
 'BI Business Analyst',
 'BI Manager  Data Science/Data Analytics',
 'BI-Entwickler Trainee (Data Analyst / Data Engineer)',
 'Bachelor  of Science - Data Science und Künstliche Intelligenz - Start 01.09.2025',
 'Bachelor  of Science - Wirtschaftsinformatik - Data Science - Start 01.09.2025',
 'Bachelor of Science  - Data Science und Künstliche Intelligenz ab 01.09.2025',
 'Bachelor of Science  Data Science und Künstliche Intelligenz, Start 2025',
 'Bachelor of Science  Data Science und Künstliche Intelligenz, Start 2026',
 'Bachelor of Science (DHBW) Data Science / Künstliche Intelligenz  am Standort Winnenden 2025',
 'Bachelor of Science (DHBW) Wirtschaftsinformatik - Data Science am Standort Obersontheim 2025',
 'Bachelor-/Master Thesis »Full-field Thermo-mechanical Characterization of Glass Materials«',
 'Bachelor/ Master Thesis: Methane leak localization from ambient data',
 'Backend Developer',
 'Backend Software Engineer - Remote',
 'Backend/ML Software Engineer (Entry to Mid-Level) - Remote',
 'Battery Scientist',
 'Bench Scientist',
 'Beschäftigte/r Qualitätsmanagement und Datenanalyse',
 'Big Data Architect',
 'Big Data DevOps Engineer  | (DSIDMG)',
 'Bilanzmathematiker / Statistiker',
 'Binance Accelarator Program - LLM Data Scientist',
 'Bioinformatician',
 'Bioinformatician  Immunogenetics',
 'Bioinformatician  in immunopeptidomics',
 'Bloomwell - Working Student Data & Analytics *',
 'Breeding Informatics Analyst  Full Time - in Tübingen',
 'Business  Development Manger',
 'Business & Data Analyst',
 'Business / Data Analyst',
 'Business / Data Analyst  Real Estate Consulting Digitalisierungsberatung',
 'Business Analyst',
 'Business Analyst  - im Team Data Science Solutions',
 'Business Analyst  – Data Analytics Vertriebsplanung | Banking',
 'Business Analyst - Marketing Planning und Forecasting',
 'Business Analyst / Controller',
 'Business Analyst Data Management',
 'Business Analyst Intern',
 'Business Analyst – Data Quality',
 'Business Data Analyst',
 'Business Data Analyst  im LSZ - Qualität und Support, Referat Stab Reporting und Controlling',
 'Business Data Analyst & Engineer',
 'Business Intelligence & Analytics Manager',
 'Business Intelligence / Data Analytics-& Management Consultant',
 'Business Intelligence Analyst',
 'Business Intelligence Analyst  mit Schwerpunkt Sales',
 'Business Intelligence Consultant',
 'Business Intelligence Developer  Tech / E-Commerce',
 'Business Intelligence Developer * (Junior Level)',
 'Business Intelligence Engineer',
 'Business Intelligence Engineer (BIE), Supply Chain Outbound Execution',
 'Business Intelligence Engineer*',
 'Business Intelligence Engineer, Transportation, Global Transportation Services',
 'Business Intelligence Engineer, WHS Data',
 'Business Intelligence Expert F-35',
 'Business Intelligence Manager',
 'Business Intelligence Specialist',
 'Business Intelligence Workshop',
 'Business Intelligence und Data Analyst',
 'Business Process Analyst – Marketing & Sales',
 'Business Relationship Manager BI and Data Science',
 'CO-Data Scientist',
 'COMPUTATIONAL GENOMICS SCIENTIST , Referenz: „51004-24-05-WAPRO“',
 'CRA/SCRA',
 'CRM Data Specialist *',
 'Carbon Project Risk Analyst',
 'Certified Strength and Conditioning Specialist',
 'Chemical Technical Assistant',
 'Chief AI Engineer',
 'Chief Commercial Officer - AI (Berlin)',
 'Chief Data Officer',
 'Chief Technology Officer',
 'Chief Technology Officer - Must be based in Germany',
 'Climate Risk Intern *',
 'Cloud & Machine Learning Consultant',
 'Cloud Big Data Engineer / DevOps Engineer',
 'Cloud Engineer',
 'Computational Biologist',
 'Computational Chemist Lead',
 'Computational Materials Scientist*',
 'Computational Scientist – (Machine Learning) Digital R&D Large Molecule Research',
 'Computer Scientist | InformatikerIn | Software EntwicklerIn für klinische KI-Forschung und Anwendung',
 'Computer Scientist – Mendel Verlag',
 'Computer Vision Engineer',
 'Consultant  Energy, Environment & Telecommunication',
 'Consultant - Digital Analytics  for Hamburg',
 'Consultant AI & Analytics',
 'Consultant AI & Data Analytics / Data Science',
 'Consultant AI & Data Analytics / Data Science  in Berlin',
 'Consultant AI & Data Analytics / Data Science  in Frankfurt (Main)',
 'Consultant AI & Data Analytics / Data Science  in Hamburg',
 'Consultant AI & Data Analytics / Data Science  in München',
 'Consultant Data Science Credit Risk  in Berlin',
 'Consultant Datamanagement & Data Analyst',
 'Consultant Künstliche Intelligenz / Artificial Intelligence Energy',
 'Consultant im Bereich Energy, Transformation & Sustainability',
 'Consultant | Senior Consultant  Data Scientist in Credit Risk Management',
 'Consulting & Analytics Summer Intern',
 'Controlling & Analytics Trainee',
 'Create a DataCamp Course - Cloud (Part-Time, Freelance)',
 'Customer Data Consultant',
 'DATA ANALYST',
 'DATA ANALYST:IN',
 'DATA ENGINEER',
 'DATA SCIENCE MANAGER*',
 'DATA SCIENTIST',
 'DATA SCIENTIST  SMART PROCESS AUTOMATION',
 'DATA SCIENTIST ENGINEER  DIGITAL SOLUTIONS – BRAUNSCHWEIG, BERLIN',
 'DH-STUDIERENDE FÜR DATA SCIENCE & KÜNSTLICHE INTELLIGENZ 2025',
 'DWH Analyst',
 'DWH-Entwickler',
 'Data & AI Business Consultant',
 'Data & AI Scientist',
 'Data & AI Scientist Personalized Computational Genomics',
 'Data & AI Strategist',
 'Data / Analytics Engineer',
 'Data Analysis / Data Engineering / Data Science',
 'Data Analysis Expert Battery Test Field',
 'Data Analysis, Modeling & Simulation Engineer',
 'Data Analyst',
 'Data Analyst  (Job-ID 2022099)',
 'Data Analyst  / Remote möglich',
 'Data Analyst  Berlin, Hamburg, Munich',
 'Data Analyst  Search',
 'Data Analyst  Telematikdaten',
 'Data Analyst  at Allianz SE',
 'Data Analyst  in IT security company',
 'Data Analyst  – Process Mining und Datenanalyse',
 'Data Analyst - MS Tech Stack',
 'Data Analyst - Product',
 'Data Analyst / Data Engineer',
 'Data Analyst / Data Scientist',
 'Data Analyst / Decision Scientist, Digital Marketing',
 'Data Analyst / Decision Scientist, Policy',
 'Data Analyst / Scientist  für die Energietransformation',
 'Data Analyst / Scientist (Microsoft PowerBI und MS SQL Server)',
 'Data Analyst Battery Cell Testing',
 'Data Analyst Campaigning',
 'Data Analyst bei Siemens',
 'Data Analyst/Market Researcher',
 'Data Analyst/Scientist  für die Energietransformation',
 'Data Analyst:in Münster/Köln/Berlin/Remote (DE)',
 'Data Analytics Architect',
 'Data Analytics Consultant',
 'Data Analytics Consultant Frontend',
 'Data Analytics Engineer',
 'Data Analytics Specialist',
 'Data Analytics Training & Internship',
 'Data Architect',
 'Data Architect AI/ML  | Jobs bei Pexon Consulting GmbH',
 'Data Architekt',
 'Data Architekt / Data Engineer / Data Scientist',
 'Data Assimilation Scientist',
 'Data Consultant',
 'Data Driven Business Consultant - Automotive',
 'Data Engineer',
 'Data Engineer  Tech / E-Commerce',
 'Data Engineer (English speaking)',
 'Data Engineer - Recommendation Systeme',
 'Data Engineer / Analyst',
 'Data Engineer / Data Analyst',
 'Data Engineer / Data Scientist',
 'Data Engineer / Scientist',
 'Data Engineer Big Data',
 'Data Engineer Intern (Mandatory/Pflichtpraktikum)',
 'Data Engineer Schwerpunkt Kundenpersonalisierung',
 'Data Engineer* / Machine Learning Engineer*',
 'Data Engineering Consultant',
 'Data Engineering Internship  - Gigafactory Berlin-Brandenburg',
 'Data Engineering Training & Internship',
 'Data Engineering Working Student/Intern',
 'Data Enthusiast',
 'Data Integrity Specialist Pharma',
 'Data Product Manager',
 'Data Quality Manager',
 'Data Reporting Analyst',
 'Data Science & Engineering Lehrassistent:in (Pflichtpraktikum, Werkstudententätigkeit)',
 'Data Science Analyst',
 'Data Science Consultant',
 'Data Science Consultant - QuantumBlack, AI by McKinsey',
 'Data Science Graduate',
 'Data Science Intern',
 'Data Science Intern - Intelligence Automation (Remote)',
 'Data Science Intern - Summer 2025, EMEA (Remote)',
 'Data Science Lead - Credit Risk',
 'Data Science and AI Mentor (Freelance, Remote)',
 'Data Science und KI - Smart Operations Management',
 'Data Scientist',
 'Data Scientist  (Data Scientist)',
 'Data Scientist  (Job-ID 2023061)',
 'Data Scientist  (Junior)',
 'Data Scientist  - Schwerpunkt Customer Intelligence',
 'Data Scientist  - Sektion für Hämatologische Spezialdiagnostik',
 'Data Scientist  Short-Term Asset Trading',
 'Data Scientist  Smart Process Automation',
 'Data Scientist  in Hamburg | EPROFESSIONAL',
 'Data Scientist  in den Bereichen NLP und LLM (Entwicklung/ Betrieb, Kompetenzaufbau und Support)',
 'Data Scientist  mit Fokus auf Big Data und KI',
 'Data Scientist  zur Auswertung und Analyse von komplexen Messdaten',
 'Data Scientist & Machine Learning Engineer',
 'Data Scientist (Growth Team)',
 'Data Scientist (alle Geschlechter)',
 'Data Scientist (jun. / sen.)',
 'Data Scientist (mwd)',
 'Data Scientist - 24 month contract',
 'Data Scientist - Consumer (Global Discovery)',
 'Data Scientist - Customer Data Platform',
 'Data Scientist - Customer Success Projects (ValueWorks)',
 'Data Scientist - Data Engineering',
 'Data Scientist - Datenmanagement - AOK Bayern - Die Gesundheitskasse',
 'Data Scientist - LLM',
 'Data Scientist - Lexware Office',
 'Data Scientist - Portfolio Analyst & Product Owner *',
 'Data Scientist - Process Mining',
 'Data Scientist - Ranking',
 'Data Scientist - Startup Berlin',
 'Data Scientist - Supply Chain & Procurement',
 'Data Scientist - Time Estimations, Logistics',
 'Data Scientist / AI Developer',
 'Data Scientist / Analyst',
 'Data Scientist / Biostatistician',
 'Data Scientist / Data Analyst',
 'Data Scientist / Data Engineer (Python)',
 'Data Scientist / Engineer',
 'Data Scientist / Engineer mit LLM-Fokus',
 'Data Scientist / ML Engineer',
 'Data Scientist / Machine Learning Expert',
 'Data Scientist / Softwareentwickler',
 'Data Scientist 100%',
 'Data Scientist Automotive',
 'Data Scientist Consultant',
 'Data Scientist Datenmanagement',
 'Data Scientist Digital Health ‒ Strategie, Analyse & Infrastruktur',
 'Data Scientist Intern',
 'Data Scientist Lead and Team Lead "Customer Intelligence Team"',
 'Data Scientist NLP and Text Mining',
 'Data Scientist Natural Language Processing',
 'Data Scientist Online Analytics',
 'Data Scientist Optical Spectroscopy',
 'Data Scientist Pathologisches Institut',
 'Data Scientist Trainee Life and Health Reinsurance, 1792',
 'Data Scientist als Modellentwickler Einsatzplanung Energiesysteme',
 'Data Scientist and Process Mining Architect',
 'Data Scientist and Team Lead Property',
 'Data Scientist für das Pathologische Institut',
 'Data Scientist in Energy Tech Start Up - hybrid Berlin based',
 'Data Scientist mit Fokus auf datengetriebenes Marketing',
 'Data Scientist mit Schwerpunkt Datenarbeit',
 'Data Scientist mit Schwerpunkt Operationalisierung',
 'Data Scientist with focus Clinical Statistics - part/full-time)',
 'Data Scientist – AI Engineer',
 'Data Scientist – CRM / Kundenbeziehungsmanagement',
 'Data Scientist – Supply & Demand Modelling',
 'Data Scientist*in',
 'Data Scientist*in  - remote oder Karlsruhe',
 'Data Scientist*in/Data Analyst*in',
 'Data Scientist, Germany - BCG X',
 'Data Scientist, Internship, Germany - BCG X',
 'Data Scientist, Mathematiker - Dateningenieur - AOK Bayern - Die Gesundheitskasse',
 'Data Scientist/ AI-Architekt',
 'Data Scientist/Analyst prüfungsnahe Beratung/Quants - Assurance (Financial Services)',
 'Data Scientist/Bioinformatiker im Team Molekulargenetik',
 'Data Scientist/ML Engineer',
 'Data Solutions Specialist',
 'Data Specialist',
 'Data Steward SAP S/4HANA - "Business Partner"',
 'Data Team Manager',
 'Data and AI Director',
 'Data and AI Partner',
 'Data and AI/ML Engineer',
 'Data and Reporting Analyst',
 'Data-Analyst',
 'Data-Scientist/MLOps - KI-basiertes Recycling',
 'Data/Software Engineer',
 'Datenanalyst',
 'Datenanalyst  / Data Analyst',
 'Datenanalyst  im Bereich Energiewirtschaft',
 'Datenanalyst  im Vertriebsmanagement',
 'Datenanalyst / Data Analyst Risikomanagement',
 'Datenanalyst für Logistikprozesse',
 'Datenanalyst:in Metering',
 'Datenanalysten/in  für Modelle in der konjunkturstatistischen Erhebung im Gastgewerbe',
 'Datenarchitekt Versicherungsplattform',
 'Decision Scientist',
 'Deep Learning Researcher',
 'Detector Calibration and Characterisation Scientist',
 'Deutsche Bank Graduate Programme  Technology, Data & Innovation 2025',
 'DevOps & Cloud Engineer - Data Analytics & AI',
 'DevOps/ML Engineer',
 'Digital Data Scientist',
 'Digital Marketing & Data Analytics Manager',
 'Digital Trust and Safety Analyst with German',
 'Director of AI Engineering',
 'Director of Data Science',
 'Director, Clinical Scientist',
 'Doctoral Researcher Position in Materials Science',
 'Doktorand für die Konzipierung und Implementierung von KI-gestützten Produktionssystemen',
 'Doktorand:in – Untersuchung der Rolle zukünftiger Energietechnologien mit Hilfe von Natural Language Processing und Data Science',
 'Dr. rer. nat. Physik / Chemie / Materialwissenschaften - Teamleitung & Projektmanagement',
 'Duales Studium Bachelor of Science in Data Science und Künstlicher Intelligenz , ab 09/2025',
 'Duales Studium – Data Science und Künstliche Intelligenz',
 'E-Commerce Analyst & Marketing Support Manager (Kaufmann/-frau - E-Commerce)',
 'EMEA - Solutions Engineer',
 'ERP Business Analyst, Microsoft Business Central  Digital Development',

## Seniority Level

In [33]:
# The level of seniority will be extracted from information provided in the raw job titles.
#  E.g.: "(Junior) AI Engineer", "Senior Data Scientist"
np.sort(df["title"].unique()).tolist()

['(Advanced) Data Developer (m/w/d)',
 '(Associate) Consultant (Gen) AI & Data Scientist | AI Garage (m/w/d)',
 '(Cloud) Data Engineer / BI Developer (m/w/d) (m/w/d)',
 '(Global) Senior Applied Research Scientist',
 '(Junior) AI Engineer (m/w/d)',
 '(Junior) Berater Business Intelligence (m/w/d)',
 '(Junior) Cloud Data Engineer (all genders)',
 '(Junior) Consultant Data Analytics (m/w/d)',
 '(Junior) Consultant Data Science & Artificial Intelligence (m/w/d)',
 '(Junior) Consultant | Gen AI Finance (m/w/d)',
 '(Junior) Data Analyst/ Business Analyst Procurement',
 '(Junior) Data Engineer (m/w/d)',
 '(Junior) Data Engineer (m/w/x)',
 '(Junior) Data Product Associate (f/m/x)',
 '(Junior) Data Scientist',
 '(Junior) Digital Produktmanager (m/w/d) AurumCars',
 '(Junior) Digital Produktmanager (m/w/d) Mietwagen',
 '(Junior) Digital Produktmanager (m/w/d) Payment Mietwagen',
 '(Junior) Online-Marketing Produktmanager (m/w/d) Mietwagen',
 '(Junior) Product Manager Financial Services (d/w/m)',
 '(Junior) Produktmanager (m/w/d) Chatbot Mietwagen',
 '(Junior) Produktmanager (m/w/d) Operations Analytics Mietwagen',
 '(Junior) Produktmanager (m/w/d) SEO-Automatisierung Mietwagen',
 '(Junior) Produktmanager / Operationsmanager (m/w/d) Automatisierung Mietwagen',
 '(Junior) Specialist ESG Reporting',
 '(Junior) Technischer Produktmanager (m/w/d) Partnermanagement Mietwagen',
 '(Junior/Mid-level) Big Data Engineer',
 '(Sen.) Data Scientist (m/w/d)',
 '(Senior) BI Analyst (all genders)',
 '(Senior) Biochemist / Biopyhsicist (m/f/d)',
 '(Senior) Business & Data Analyst (w/m/d)',
 '(Senior) Business Analyst / Data Analyst (m/w/d)',
 '(Senior) Consultant AI Specialist (m/w/d)',
 '(Senior) Consultant Data Science & MLOps, d/f/m',
 '(Senior) Consultant Data Science Time-Series & Forecasting (w/m/d) (Data Scientist)',
 '(Senior) Consultant Data Strategy & Governance (w/m/d)',
 '(Senior) Consultant Tech & AI Implementation (m/w/d)',
 '(Senior) Data & AI PreSales Consultant (m/w/d)',
 '(Senior) Data & Survey Engineer (m/w/d), Quantitative Marktforschung',
 '(Senior) Data Analyst (m/w/d)',
 '(Senior) Data Analyst / Data Scientist (f/m/d) in Data Division',
 '(Senior) Data Analyst / Scientist (m/w/d)',
 '(Senior) Data Engineer (all genders)',
 '(Senior) Data Engineer (m/f/d)',
 '(Senior) Data Engineer (m/w/d) (Informatiker/in)',
 '(Senior) Data Engineer (m/w/d) | Jobs bei Pexon Consulting GmbH',
 '(Senior) Data Engineer / Data Warehouse Entwickler (m/w/d)',
 '(Senior) Data Scientist (Analytics), Merchant',
 '(Senior) Data Scientist (gn) Internationales Team',
 '(Senior) Data Scientist (gn) with Spanish language skills',
 '(Senior) Data Scientist (m/f/d)',
 '(Senior) Data Scientist (m/w/d)',
 '(Senior) Data Scientist (m/w/d) in München',
 '(Senior) Data Scientist (m/w/d) – Schwerpunkt Predictive Modelling und GenAI (ab 01.04.25)',
 '(Senior) Data Scientist (m/w/d) – Schwerpunkt Predictive Modelling und GenAI ab 01.04.25',
 '(Senior) Data Scientist (w/m/d)',
 '(Senior) Data Scientist - Document and Text Analytics (w/m/d)',
 '(Senior) Data Scientist / ML Engineer (m/w/d)',
 '(Senior) Data Scientist / Researcher',
 '(Senior) Data Scientist Analytics (m/w/d)',
 '(Senior) Data Scientist Health Data Lab (w/m/d)',
 '(Senior) Data Scientist with focus Clinical Statistics (f/m/d - part/full-time)',
 '(Senior) Data Scientist with focus SAS programming (f/m/d - part/full-time)',
 '(Senior) DevOps Data Integration Engineer (w/m/x)',
 '(Senior) Fraud Data Scientist / Data Analyst (f/d/m)',
 '(Senior) Machine Learning Data Scientist (d/f/m)',
 '(Senior) Machine Learning Engineer (m/f/d)',
 '(Senior) Process Analyst / Prozessberater (m/w/d) Reporting – SAP BW / BPC / Power BI / Tableau',
 '(Senior) SAP Consultant (gn) Business Intelligence & Analytics',
 '(Senior) Scientist Primary Pharmacology of the Target Incubator Unit (f/m/d)',
 '(Senior)Machine Learning Data Scientist(d/f/m)',
 '(Senior-) Digital Transformation Engineer - Data Science (m/w/d)',
 '(Senior-) Software Engineer (m/w/d)',
 '(Wirtschafts-)Mathematiker, Statistiker, Data Scientist für die Tarifentwicklung Komposit',
 '1D/2D MATERIAL SCIENTIST (M/F/D)',
 '2025 Applied Scientist Internship, Amazon University Talent Acquisition',
 '2025 Software Development Engineer - Machine Learning (m/w/d)',
 '2025 Working Student Internship - Business Intelligence Engineer',
 'ACTUARIAL DATA SCIENTIST (M/W/D)',
 'AI & Data - Analyst',
 'AI (Agent) Engineer (f/m/d) | Jobs at VisionAI - Jobs',
 'AI Architect & Optimization Specialist (m/w/d)',
 'AI Architect / Machine Learning Engineer (m,f,d)',
 'AI Cloud Engineer',
 'AI Consultant',
 'AI Developer',
 'AI Developer (m/w/d)',
 'AI Engineer',
 'AI Engineer (Intern)',
 'AI Engineer (Senior)',
 'AI Engineer (m/w/d)',
 'AI Engineer - Germany (Remote)',
 'AI Engineer / AI Developer (m/w/d) bei einem SaaS-Unternehmen aus Würzburg (Full-Remote oder vor Ort)',
 'AI Engineer / Data Scientist m|w|d',
 'AI Engineer // Data Scientist (all genders)',
 'AI Engineer for AI Startup',
 'AI Engineer mit Schwerpunkt NLP (m/w/d)',
 'AI Experience Researcher (m/f/d)',
 'AI Lead',
 'AI Platform Engineer (all genders)',
 'AI Research Scientist - Generative AI Red Teaming (London or Paris)',
 'AI Researcher',
 'AI Software Developer in Test (f/m/d)',
 'AI Software Engineer',
 'AI Software Engineer (w/m/x)',
 'AI consultant  - Energy',
 'AI&Business Analyst / Consultant (Remote Internship)',
 'AI-Engineer/Vollzeit',
 'AI/ML Engineer - Biomedical AI (m/f/d)',
 'AI\xa0computational\xa0\xa0material\xa0\xa0researcher/expert',
 'Abschlussarbeit im Bereich Datenstrategie und Künstliche Intelligenz',
 'Abschlussarbeit im Bereich: KI basierte Generierung von Schiffsgeräuschen (m/w/d)',
 'Abschlussarbeit zum Thema: „Generative KI"',
 'Account Manager:in für Sound Branding, Podcasts und Audiospots',
 "Aignostics' Talent Community",
 'Aktuar (DAV)/Data Scientist (d/w/m) - Krankenversicherungen & Data Warehouse',
 'Analyst & Marketing Technology Manager (d/w/m)',
 'Analyst (m/w/d) Short Term Trading in Renewable Energies',
 'Analyst - Fokus Data Science / AI (m/w/d)',
 'Analytics & Insights Internship (m/f/d)',
 'Analytics Engineer',
 'Analytics Engineer (m/f/d)',
 'Analytics Engineer (m/w/d)',
 'Analytics Engineer (m|w|d) im Bereich Business Intelligence & Web Analytics',
 'Analytics Engineer (w/m/d)',
 'Analytics Engineer - Graduate (Hybrid; m/f/x/d)',
 'Analytics Engineering Lead',
 'Analytics and Insight Professional, Amazon Advertising, Analytics and Insights',
 'Applied Machine Learning Engineers',
 'Applied Scientist II (L5), AFT AI, Amazon AFT AI',
 'Applied Scientist for Probabilistic Machine Learning and Human-Computer Interaction',
 'Applied Scientist, ATS Machine Learning & Engineering',
 'Applied Scientist, Amazon Nova',
 'Applied Scientist, Amazon Robotics R&D',
 'Applied Scientist, Artificial General Intelligence, AGI Information',
 'Applied Scientist, Content Systems Science and Engineering, Amazon',
 'Applied Scientist, Fintech (Fraud)',
 'Artificial Intelligence Engineer',
 'Artificial Intelligence Specialist',
 'Artificial Intelligence Specialist (w/m/d)',
 'Artificial Intelligence and Machine learning Business & Data Analyst',
 'Assistant (m/f/d) Databases and Data Analysis',
 'Associate - Index Operations (m/f/d)',
 'Associate / (Senior) AI Technology Consultant (m/w/d)',
 'Associate Data Analyst (f/m/d)',
 'Associate Data Science & Management Consultant',
 'Associate Special Project, Esports',
 'Atomic, Molecular, and Optical Physicist',
 'BI & Data Modeling Expert (m/f/d)',
 'BI Analyst (all genders)',
 'BI Analyst (m/w/d)',
 'BI Business Analyst (m/f/d)',
 'BI Manager (m/w/d) Data Science/Data Analytics',
 'BI-Entwickler Trainee (Data Analyst / Data Engineer)',
 'Bachelor (m/w/d) of Science - Data Science und Künstliche Intelligenz - Start 01.09.2025',
 'Bachelor (m/w/d) of Science - Wirtschaftsinformatik - Data Science - Start 01.09.2025',
 'Bachelor of Science (DHBW) Data Science / Künstliche Intelligenz (m/w/d) am Standort Winnenden 2025',
 'Bachelor of Science (DHBW) Wirtschaftsinformatik - Data Science(m/w/d) am Standort Obersontheim 2025',
 'Bachelor of Science (m/w/d) - Data Science und Künstliche Intelligenz ab 01.09.2025',
 'Bachelor of Science (m/w/d) Data Science und Künstliche Intelligenz, Start 2025',
 'Bachelor of Science (m/w/d) Data Science und Künstliche Intelligenz, Start 2026',
 'Bachelor-/Master Thesis »Full-field Thermo-mechanical Characterization of Glass Materials«',
 'Bachelor/ Master Thesis: Methane leak localization from ambient data (f/m/x)',
 'Backend Developer (m/f/d)',
 'Backend Software Engineer - Remote (m/f/d)',
 'Backend/ML Software Engineer (Entry to Mid-Level) - Remote',
 'Battery Scientist (m/f/x)',
 'Bench Scientist (all genders)',
 'Beschäftigte/r Qualitätsmanagement und Datenanalyse (m/w/d)',
 'Big Data Architect (m/w/d)',
 'Big Data DevOps Engineer (m/w/d) | (DSIDMG)',
 'Bilanzmathematiker / Statistiker (m/w/d)',
 'Binance Accelarator Program - LLM Data Scientist',
 'Bioinformatician',
 'Bioinformatician (m/f/d) in immunopeptidomics',
 'Bioinformatician (m/f/div) Immunogenetics',
 'Bloomwell - Working Student Data & Analytics (m/w/d)*',
 'Breeding Informatics Analyst (d/f/m) Full Time - in Tübingen',
 'Business  Development Manger',
 'Business & Data Analyst (f/m/x)',
 'Business / Data Analyst (m/w/d)',
 'Business / Data Analyst (w/m/d) Real Estate Consulting Digitalisierungsberatung',
 'Business Analyst',
 'Business Analyst (m/w/d) - im Team Data Science Solutions',
 'Business Analyst (m/w/d) – Data Analytics Vertriebsplanung | Banking',
 'Business Analyst - Marketing Planning und Forecasting (m/w/d)',
 'Business Analyst / Controller',
 'Business Analyst Data Management (w/m/d)',
 'Business Analyst Intern',
 'Business Analyst – Data Quality (w/m/d)',
 'Business Data Analyst',
 'Business Data Analyst & Engineer (m/w/d)',
 'Business Data Analyst (m/w/d) im LSZ - Qualität und Support, Referat Stab Reporting und Controlling',
 'Business Intelligence & Analytics Manager',
 'Business Intelligence / Data Analytics-& Management Consultant',
 'Business Intelligence Analyst (m/w/d)',
 'Business Intelligence Analyst (w/d/m) mit Schwerpunkt Sales',
 'Business Intelligence Consultant',
 'Business Intelligence Developer (m/w/d) Tech / E-Commerce',
 'Business Intelligence Developer * (Junior Level)',
 'Business Intelligence Engineer',
 'Business Intelligence Engineer (BIE), Supply Chain Outbound Execution',
 'Business Intelligence Engineer (m/w/d)',
 'Business Intelligence Engineer (w/m/d)',
 'Business Intelligence Engineer*',
 'Business Intelligence Engineer, Transportation, Global Transportation Services',
 'Business Intelligence Engineer, WHS Data',
 'Business Intelligence Expert F-35 (m/w/d)',
 'Business Intelligence Manager (m/w/d)',
 'Business Intelligence Specialist (m/w/x)',
 'Business Intelligence Workshop',
 'Business Intelligence und Data Analyst (m/w/d)',
 'Business Process Analyst – Marketing & Sales (f/m/d)',
 'Business Relationship Manager BI and Data Science (m/w/d)',
 'CO-Data Scientist (m/w/d)',
 'COMPUTATIONAL GENOMICS SCIENTIST (m/f/d), Referenz: „51004-24-05-WAPRO“',
 'CRA/SCRA',
 'CRM Data Specialist *',
 'Carbon Project Risk Analyst (f/d/m)',
 'Certified Strength and Conditioning Specialist',
 'Chemical Technical Assistant (f/m/d)',
 'Chief AI Engineer',
 'Chief Commercial Officer - AI (Berlin)',
 'Chief Data Officer (m/w/d)',
 'Chief Technology Officer',
 'Chief Technology Officer - Must be based in Germany',
 'Climate Risk Intern (m/f/d)*',
 'Cloud & Machine Learning Consultant (m/f/d)',
 'Cloud Big Data Engineer / DevOps Engineer (m/w/d)',
 'Cloud Engineer m/w/d',
 'Computational Biologist (m/f/d)',
 'Computational Chemist Lead',
 'Computational Materials Scientist* (m/f/d)',
 'Computational Scientist – (Machine Learning) Digital R&D Large Molecule Research',
 'Computer Scientist | InformatikerIn | Software EntwicklerIn für klinische KI-Forschung und Anwendung',
 'Computer Scientist – Mendel Verlag',
 'Computer Vision Engineer',
 'Consultant (w/m/d) Energy, Environment & Telecommunication',
 'Consultant - Digital Analytics (m/w/d) for Hamburg',
 'Consultant AI & Analytics',
 'Consultant AI & Data Analytics / Data Science (m/w/d)',
 'Consultant AI & Data Analytics / Data Science (m/w/d) in Berlin',
 'Consultant AI & Data Analytics / Data Science (m/w/d) in Frankfurt (Main)',
 'Consultant AI & Data Analytics / Data Science (m/w/d) in Hamburg',
 'Consultant AI & Data Analytics / Data Science (m/w/d) in München',
 'Consultant Data Science Credit Risk (m/w/d) in Berlin',
 'Consultant Datamanagement & Data Analyst (m/w/d)',
 'Consultant Datamanagement & Data Analyst m/w/d',
 'Consultant Künstliche Intelligenz / Artificial Intelligence Energy (m/w/d)',
 'Consultant im Bereich Energy, Transformation & Sustainability (m/w/x)',
 'Consultant | Senior Consultant (W/M/D) Data Scientist in Credit Risk Management',
 'Consulting & Analytics Summer Intern',
 'Controlling & Analytics Trainee (m/w/d)',
 'Create a DataCamp Course - Cloud (Part-Time, Freelance)',
 'Customer Data Consultant (m/w/d)',
 'DATA ANALYST (M/W/D)',
 'DATA ANALYST:IN (m/w/d)',
 'DATA ENGINEER (M/W/D)',
 'DATA ENGINEER M/W/D',
 'DATA SCIENCE MANAGER*',
 'DATA SCIENTIST (M/F/D)',
 'DATA SCIENTIST (M/W/D)',
 'DATA SCIENTIST (M/W/D) SMART PROCESS AUTOMATION',
 'DATA SCIENTIST ENGINEER (M/W/D) DIGITAL SOLUTIONS – BRAUNSCHWEIG, BERLIN',
 'DH-STUDIERENDE FÜR DATA SCIENCE & KÜNSTLICHE INTELLIGENZ 2025 (M/W/D)',
 'DWH Analyst (all genders)',
 'DWH-Entwickler (m/w/d)',
 'Data & AI Business Consultant (m/w/d)',
 'Data & AI Scientist',
 'Data & AI Scientist Personalized Computational Genomics (all genders)',
 'Data & AI Strategist (m/f/d)',
 'Data / Analytics Engineer (m/w/d)',
 'Data Analysis / Data Engineering / Data Science (M/F/D)',
 'Data Analysis Expert Battery Test Field (all genders)',
 'Data Analysis, Modeling & Simulation Engineer (f/m/d)',
 'Data Analyst',
 'Data Analyst (all gender) – Process Mining und Datenanalyse',
 'Data Analyst (all genders)',
 'Data Analyst (m/f/d)',
 'Data Analyst (m/f/d) Search',
 'Data Analyst (m/f/d) at Allianz SE',
 'Data Analyst (m/f/d) in IT security company',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d) (Job-ID 2022099)',
 'Data Analyst (m/w/d) / Remote möglich',
 'Data Analyst (m/w/d) Berlin, Hamburg, Munich',
 'Data Analyst (m/w/d) Telematikdaten',
 'Data Analyst (w/m/d)',
 'Data Analyst - MS Tech Stack',
 'Data Analyst - Product',
 'Data Analyst / Data Engineer (m/f/d)',
 'Data Analyst / Data Scientist (m/w/d)',
 'Data Analyst / Decision Scientist, Digital Marketing',
 'Data Analyst / Decision Scientist, Policy',
 'Data Analyst / Scientist (Microsoft PowerBI und MS SQL Server)',
 'Data Analyst / Scientist (m/w/d) für die Energietransformation',
 'Data Analyst Battery Cell Testing (all genders)',
 'Data Analyst Campaigning (w/m/d)',
 'Data Analyst bei Siemens (m/w/d)',
 'Data Analyst m/f/d',
 'Data Analyst/Market Researcher',
 'Data Analyst/Scientist (m/w/d) für die Energietransformation',
 'Data Analyst:in Münster/Köln/Berlin/Remote (DE)',
 'Data Analytics Architect (w/m/d)',
 'Data Analytics Consultant (m/w/d)',
 'Data Analytics Consultant Frontend (m/w/d)',
 'Data Analytics Engineer',
 'Data Analytics Specialist (d/w/m)',
 'Data Analytics Specialist (m/f/d)',
 'Data Analytics Training & Internship',
 'Data Architect (m/f/d)',
 'Data Architect (m/w/d)',
 'Data Architect AI/ML (m/w/d) | Jobs bei Pexon Consulting GmbH',
 'Data Architekt (m/w/d)',
 'Data Architekt / Data Engineer / Data Scientist (m/w/d)',
 'Data Assimilation Scientist',
 'Data Consultant (m/w/d)',
 'Data Consultant (w/m/d)',
 'Data Driven Business Consultant - Automotive (m/w/d)',
 'Data Engineer',
 'Data Engineer (English speaking)(M/F/D)',
 'Data Engineer (d/f/m)',
 'Data Engineer (f/m/d)',
 'Data Engineer (f/m/x)',
 'Data Engineer (m/w/d)',
 'Data Engineer (m/w/d) Tech / E-Commerce',
 'Data Engineer (w/m/d)',
 'Data Engineer - Recommendation Systeme (m/w/d)',
 'Data Engineer / Analyst',
 'Data Engineer / Data Analyst (m/w/d)',
 'Data Engineer / Data Scientist (M/F/D)',
 'Data Engineer / Scientist (m/w/d)',
 'Data Engineer Big Data (all genders)',
 'Data Engineer Intern (Mandatory/Pflichtpraktikum) (w/m/d)',
 'Data Engineer Schwerpunkt Kundenpersonalisierung (m/w/d)',
 'Data Engineer* / Machine Learning Engineer*',
 'Data Engineering Consultant',
 'Data Engineering Internship (m/w/d) - Gigafactory Berlin-Brandenburg',
 'Data Engineering Training & Internship',
 'Data Engineering Working Student/Intern (f/m/d)',
 'Data Enthusiast (m/w/d)',
 'Data Integrity Specialist Pharma (m/w/d)',
 'Data Product Manager',
 'Data Quality Manager (m/f/x)',
 'Data Reporting Analyst',
 'Data Science & Engineering Lehrassistent:in (Pflichtpraktikum, Werkstudententätigkeit)',
 'Data Science Analyst (m/w/d)',
 'Data Science Consultant (m/w/d)',
 'Data Science Consultant - QuantumBlack, AI by McKinsey',
 'Data Science Graduate',
 'Data Science Intern',
 'Data Science Intern - Intelligence Automation (Remote)',
 'Data Science Intern - Summer 2025, EMEA (Remote)',
 'Data Science Lead - Credit Risk (m/f/d)',
 'Data Science and AI Mentor (Freelance, Remote)',
 'Data Science und KI - Smart Operations Management\xa0(m/w/d)',
 'Data Scientist',
 'Data Scientist & Machine Learning Engineer (m/w/d)',
 'Data Scientist & Machine Learning Engineer (w|m|d)',
 'Data Scientist (Growth Team)',
 'Data Scientist (aGw*)',
 'Data Scientist (all gender)',
 'Data Scientist (all genders)',
 'Data Scientist (alle Geschlechter)',
 'Data Scientist (d/f/m)',
 'Data Scientist (d/m/w) Short-Term Asset Trading',
 'Data Scientist (d/w/m)',
 'Data Scientist (f/m/d)',
 'Data Scientist (f/m/x)',
 'Data Scientist (jun. / sen.)',
 'Data Scientist (m/f/d)',
 'Data Scientist (m/f/x)',
 'Data Scientist (m/w/d)',
 'Data Scientist (m/w/d) (Data Scientist)',
 'Data Scientist (m/w/d) (Job-ID 2023061)',
 'Data Scientist (m/w/d) (Junior)',
 'Data Scientist (m/w/d) - Sektion für Hämatologische Spezialdiagnostik',
 'Data Scientist (m/w/d) Smart Process Automation',
 'Data Scientist (m/w/d) in Hamburg | EPROFESSIONAL',
 'Data Scientist (m/w/d) in den Bereichen NLP und LLM (Entwicklung/ Betrieb, Kompetenzaufbau und Support)',
 'Data Scientist (m/w/d) mit Fokus auf Big Data und KI',
 'Data Scientist (m/w/d) zur Auswertung und Analyse von komplexen Messdaten',
 'Data Scientist (m/w/x)',
 'Data Scientist (mwd)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d) - Schwerpunkt Customer Intelligence',
 'Data Scientist - 24 month contract',
 'Data Scientist - Consumer (Global Discovery)',
 'Data Scientist - Customer Data Platform (all genders)',
 'Data Scientist - Customer Success Projects (ValueWorks)',
 'Data Scientist - Data Engineering (m/w/d)',
 'Data Scientist - Datenmanagement (m/w/d)- AOK Bayern - Die Gesundheitskasse',
 'Data Scientist - LLM',
 'Data Scientist - Lexware Office (w/d/m)',
 'Data Scientist - Portfolio Analyst & Product Owner (m/f/d)*',
 'Data Scientist - Process Mining (m/w/d)',
 'Data Scientist - Ranking',
 'Data Scientist - Startup Berlin',
 'Data Scientist - Supply Chain & Procurement',
 'Data Scientist - Time Estimations, Logistics (all genders)',
 'Data Scientist / AI Developer (m/w/d)',
 'Data Scientist / Analyst (m/w/d)',
 'Data Scientist / Biostatistician (m/f/d)',
 'Data Scientist / Data Analyst (m/w/d)',
 'Data Scientist / Data Engineer (Python) (m/w/d)',
 'Data Scientist / Engineer (gn)',
 'Data Scientist / Engineer (m/w/d)',
 'Data Scientist / Engineer mit LLM-Fokus (m/w/d)',
 'Data Scientist / ML Engineer (m/ f/ d)',
 'Data Scientist / Machine Learning Expert (m/w/d)',
 'Data Scientist / Softwareentwickler (m/w/d)',
 'Data Scientist 100%',
 'Data Scientist Automotive (m/w/d)',
 'Data Scientist Consultant (m/f/d)',
 'Data Scientist Consultant (m/w/d)',
 'Data Scientist Datenmanagement',
 'Data Scientist Digital Health ‒ Strategie, Analyse & Infrastruktur (m/w/d)',
 'Data Scientist Intern',

In [34]:
# Some job platforms already provided the information of seniority level
df["seniority_level"].value_counts(dropna=False)

seniority_level
NaN                  829
Mid-Senior level     269
Entry level          250
Associate            100
Internship            96
Not Applicable        58
Director              16
Executive              7
Name: count, dtype: int64

In [35]:
df["seniority_level"] = df["seniority_level"].str.strip()

In [36]:
# Define search words and associated seniority
seniority_dict = {
    "Senior": "Senior",
    "Sen.": "Senior",
    "Sr.": "Senior",
    "(Advanced)": "Senior",
    "Teamlead": "Senior",

    "Junior": "Junior",
    "Jun.": "Junior",
    "Jr.": "Junior",
    "Trainee": "Trainee",
    "Internship": "Intern",
    "Intern": "Intern",
    "Praktikum": "Intern",
    "PRAKTIKUM": "Intern",
    "Praktikant": "Intern",

    "Head": "Director",
    "Lead": "Director",
    "Principal": "Director",
    "Director": "Director",

    "Abschlussarbeit": "Student", 
    "Working student": "Student", 
    "Working Student": "Student", 
    "Werkstudent": "Student", 
    "WERKSTUDENT": "Student", 
    "Doktorand": "Student", 
    "Doctoral": "Student", 
    "Bachelor": "Student",
    "Studium": "Student",

    "Post Doc": "Postdoc",
    "Postdoc": "Postdoc", 
    "PostDoc": "Postdoc",
    "Wissenschaftliche/r Mitarbeiter/in": "Postdoc",
    "Wissenschaftlicher Mitarbeiter": "Postdoc",
}

df["seniority_level_new"] = pd.NA

for search_term, seniority in seniority_dict.items():
    df.loc[df["title"].str.contains(search_term, regex=False), "seniority_level_new"] = seniority

In [37]:
df.loc[df["seniority_level_new"].isna() == False, ["title", "seniority_level_new", "seniority_level"]]

,title,seniority_level_new,seniority_level
1,Junior Data Scientist,Junior,Entry level
3,Data Scientist Intern,Intern,Entry level
6,Junior Data Scientist / AI Developer (m/w/d),Junior,Entry level
7,Junior Engineer Machine Learning / Deep Learni...,Junior,Associate
10,Junior Data Scientist (w/m/d) - Tableau,Junior,Entry level
...,...,...,...
1618,Senior Database Engineer (m/w/d) (Data Engineer),Senior,NaN
1619,(Senior) Data Engineer (m/w/d) (Informatiker/in),Senior,NaN
1620,Senior Machine Learning Engineer,Senior,NaN
1623,Senior Quant Developer (f/m/d),Senior,NaN
1624,Senior Regional Marketing Manager,Senior,NaN

In [38]:
# Check listings which did not get categorized by code above.
np.sort(df.loc[df["seniority_level_new"].isna()]["title"].unique())
# -> Looks ok; no specification regarding seniority provided in title.

array(['(Associate) Consultant (Gen) AI & Data Scientist | AI Garage (m/w/d)',
       '(Cloud) Data Engineer / BI Developer (m/w/d) (m/w/d)',
       '(Wirtschafts-)Mathematiker, Statistiker, Data Scientist für die Tarifentwicklung Komposit',
       '1D/2D MATERIAL SCIENTIST (M/F/D)',
       '2025 Software Development Engineer - Machine Learning (m/w/d)',
       'ACTUARIAL DATA SCIENTIST (M/W/D)', 'AI & Data - Analyst',
       'AI (Agent) Engineer (f/m/d) | Jobs at VisionAI - Jobs',
       'AI Architect & Optimization Specialist (m/w/d)',
       'AI Architect / Machine Learning Engineer (m,f,d)',
       'AI Cloud Engineer', 'AI Consultant', 'AI Developer',
       'AI Developer (m/w/d)', 'AI Engineer', 'AI Engineer (m/w/d)',
       'AI Engineer - Germany (Remote)',
       'AI Engineer / AI Developer (m/w/d) bei einem SaaS-Unternehmen aus Würzburg (Full-Remote oder vor Ort)',
       'AI Engineer / Data Scientist m|w|d',
       'AI Engineer // Data Scientist (all genders)',
       'AI Engineer for AI Startup',
       'AI Engineer mit Schwerpunkt NLP (m/w/d)',
       'AI Experience Researcher (m/f/d)',
       'AI Platform Engineer (all genders)',
       'AI Research Scientist - Generative AI Red Teaming (London or Paris)',
       'AI Researcher', 'AI Software Developer in Test (f/m/d)',
       'AI Software Engineer', 'AI Software Engineer (w/m/x)',
       'AI consultant  - Energy', 'AI-Engineer/Vollzeit',
       'AI/ML Engineer - Biomedical AI (m/f/d)',
       'AI\xa0computational\xa0\xa0material\xa0\xa0researcher/expert',
       'Account Manager:in für Sound Branding, Podcasts und Audiospots',
       "Aignostics' Talent Community",
       'Aktuar (DAV)/Data Scientist (d/w/m) - Krankenversicherungen & Data Warehouse',
       'Analyst & Marketing Technology Manager (d/w/m)',
       'Analyst (m/w/d) Short Term Trading in Renewable Energies',
       'Analyst - Fokus Data Science / AI (m/w/d)', 'Analytics Engineer',
       'Analytics Engineer (m/f/d)', 'Analytics Engineer (m/w/d)',
       'Analytics Engineer (m|w|d) im Bereich Business Intelligence & Web Analytics',
       'Analytics Engineer (w/m/d)',
       'Analytics Engineer - Graduate (Hybrid; m/f/x/d)',
       'Analytics and Insight Professional, Amazon Advertising, Analytics and Insights',
       'Applied Machine Learning Engineers',
       'Applied Scientist II (L5), AFT AI, Amazon AFT AI',
       'Applied Scientist for Probabilistic Machine Learning and Human-Computer Interaction',
       'Applied Scientist, ATS Machine Learning & Engineering',
       'Applied Scientist, Amazon Nova',
       'Applied Scientist, Amazon Robotics R&D',
       'Applied Scientist, Artificial General Intelligence, AGI Information',
       'Applied Scientist, Content Systems Science and Engineering, Amazon',
       'Applied Scientist, Fintech (Fraud)',
       'Artificial Intelligence Engineer',
       'Artificial Intelligence Specialist',
       'Artificial Intelligence Specialist (w/m/d)',
       'Artificial Intelligence and Machine learning Business & Data Analyst',
       'Assistant (m/f/d) Databases and Data Analysis',
       'Associate - Index Operations (m/f/d)',
       'Associate Data Analyst (f/m/d)',
       'Associate Data Science & Management Consultant',
       'Associate Special Project, Esports',
       'Atomic, Molecular, and Optical Physicist',
       'BI & Data Modeling Expert (m/f/d)', 'BI Analyst (all genders)',
       'BI Analyst (m/w/d)', 'BI Business Analyst (m/f/d)',
       'BI Manager (m/w/d) Data Science/Data Analytics',
       'Backend Developer (m/f/d)',
       'Backend Software Engineer - Remote (m/f/d)',
       'Backend/ML Software Engineer (Entry to Mid-Level) - Remote',
       'Battery Scientist (m/f/x)', 'Bench Scientist (all genders)',
       'Beschäftigte/r Qualitätsmanagement und Datenanalyse (m/w/d)',
       'Big Data Architect (m/w/d)',
       'Big Data DevOps Engineer (m/w/d) | (DSIDMG)',
       'Bilanzmathematiker / Statistiker (m/w/d)',
       'Binance Accelarator Program - LLM Data Scientist',
       'Bioinformatician',
       'Bioinformatician (m/f/d) in immunopeptidomics',
       'Bioinformatician (m/f/div) Immunogenetics',
       'Breeding Informatics Analyst (d/f/m) Full Time - in Tübingen',
       'Business  Development Manger', 'Business & Data Analyst (f/m/x)',
       'Business / Data Analyst (m/w/d)',
       'Business / Data Analyst (w/m/d) Real Estate Consulting Digitalisierungsberatung',
       'Business Analyst',
       'Business Analyst (m/w/d) - im Team Data Science Solutions',
       'Business Analyst (m/w/d) – Data Analytics Vertriebsplanung | Banking',
       'Business Analyst - Marketing Planning und Forecasting (m/w/d)',
       'Business Analyst / Controller',
       'Business Analyst Data Management (w/m/d)',
       'Business Analyst – Data Quality (w/m/d)', 'Business Data Analyst',
       'Business Data Analyst & Engineer (m/w/d)',
       'Business Data Analyst (m/w/d) im LSZ - Qualität und Support, Referat Stab Reporting und Controlling',
       'Business Intelligence & Analytics Manager',
       'Business Intelligence / Data Analytics-& Management Consultant',
       'Business Intelligence Analyst (m/w/d)',
       'Business Intelligence Analyst (w/d/m) mit Schwerpunkt Sales',
       'Business Intelligence Consultant',
       'Business Intelligence Developer (m/w/d) Tech / E-Commerce',
       'Business Intelligence Engineer',
       'Business Intelligence Engineer (BIE), Supply Chain Outbound Execution',
       'Business Intelligence Engineer (m/w/d)',
       'Business Intelligence Engineer (w/m/d)',
       'Business Intelligence Engineer*',
       'Business Intelligence Engineer, Transportation, Global Transportation Services',
       'Business Intelligence Engineer, WHS Data',
       'Business Intelligence Expert F-35 (m/w/d)',
       'Business Intelligence Manager (m/w/d)',
       'Business Intelligence Specialist (m/w/x)',
       'Business Intelligence Workshop',
       'Business Intelligence und Data Analyst (m/w/d)',
       'Business Process Analyst – Marketing & Sales (f/m/d)',
       'Business Relationship Manager BI and Data Science (m/w/d)',
       'CO-Data Scientist (m/w/d)',
       'COMPUTATIONAL GENOMICS SCIENTIST (m/f/d), Referenz: „51004-24-05-WAPRO“',
       'CRA/SCRA', 'CRM Data Specialist *',
       'Carbon Project Risk Analyst (f/d/m)',
       'Certified Strength and Conditioning Specialist',
       'Chemical Technical Assistant (f/m/d)', 'Chief AI Engineer',
       'Chief Commercial Officer - AI (Berlin)',
       'Chief Data Officer (m/w/d)', 'Chief Technology Officer',
       'Chief Technology Officer - Must be based in Germany',
       'Cloud & Machine Learning Consultant (m/f/d)',
       'Cloud Big Data Engineer / DevOps Engineer (m/w/d)',
       'Cloud Engineer m/w/d', 'Computational Biologist (m/f/d)',
       'Computational Materials Scientist* (m/f/d)',
       'Computational Scientist – (Machine Learning) Digital R&D Large Molecule Research',
       'Computer Scientist | InformatikerIn | Software EntwicklerIn für klinische KI-Forschung und Anwendung',
       'Computer Scientist – Mendel Verlag', 'Computer Vision Engineer',
       'Consultant (w/m/d) Energy, Environment & Telecommunication',
       'Consultant - Digital Analytics (m/w/d) for Hamburg',
       'Consultant AI & Analytics',
       'Consultant AI & Data Analytics / Data Science (m/w/d)',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Berlin',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Frankfurt (Main)',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Hamburg',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in München',
       'Consultant Data Science Credit Risk (m/w/d) in Berlin',
       'Consultant Datamanagement & Data Analyst (m/w/d)',
       'Consultant Datamanagement & Data Analyst m/w/d',
       'Consultant Künstliche Intelligenz / Artificial Intelligence Energy (m/w/d)',
       'Consultant im Bereich Energy, Transformation & Sustainability (m/w/x)',
       'Create a DataCamp Course - Cloud (Part-Time, Freelance)',
       'Customer Data Consultant (m/w/d)', 'DATA ANALYST (M/W/D)',
       'DATA ANALYST:IN (m/w/d)', 'DATA ENGINEER (M/W/D)',
       'DATA ENGINEER M/W/D', 'DATA SCIENCE MANAGER*',
       'DATA SCIENTIST (M/F/D)', 'DATA SCIENTIST (M/W/D)',
       'DATA SCIENTIST (M/W/D) SMART PROCESS AUTOMATION',
       'DATA SCIENTIST ENGINEER (M/W/D) DIGITAL SOLUTIONS – BRAUNSCHWEIG, BERLIN',
       'DH-STUDIERENDE FÜR DATA SCIENCE & KÜNSTLICHE INTELLIGENZ 2025 (M/W/D)',
       'DWH Analyst (all genders)', 'DWH-Entwickler (m/w/d)',
       'Data & AI Business Consultant (m/w/d)', 'Data & AI Scientist',
       'Data & AI Scientist Personalized Computational Genomics (all genders)',
       'Data & AI Strategist (m/f/d)',
       'Data / Analytics Engineer (m/w/d)',
       'Data Analysis / Data Engineering / Data Science (M/F/D)',
       'Data Analysis Expert Battery Test Field (all genders)',
       'Data Analysis, Modeling & Simulation Engineer (f/m/d)',
       'Data Analyst',
       'Data Analyst (all gender) – Process Mining und Datenanalyse',
       'Data Analyst (all genders)', 'Data Analyst (m/f/d)',
       'Data Analyst (m/f/d) Search',
       'Data Analyst (m/f/d) at Allianz SE',
       'Data Analyst (m/f/d) in IT security company',
       'Data Analyst (m/w/d)', 'Data Analyst (m/w/d) (Job-ID 2022099)',
       'Data Analyst (m/w/d) / Remote möglich',
       'Data Analyst (m/w/d) Berlin, Hamburg, Munich',
       'Data Analyst (m/w/d) Telematikdaten', 'Data Analyst (w/m/d)',
       'Data Analyst - MS Tech Stack', 'Data Analyst - Product',
       'Data Analyst / Data Engineer (m/f/d)',
       'Data Analyst / Data Scientist (m/w/d)',
       'Data Analyst / Decision Scientist, Digital Marketing',
       'Data Analyst / Decision Scientist, Policy',
       'Data Analyst / Scientist (Microsoft PowerBI und MS SQL Server)',
       'Data Analyst / Scientist (m/w/d) für die Energietransformation',
       'Data Analyst Battery Cell Testing (all genders)',
       'Data Analyst Campaigning (w/m/d)',
       'Data Analyst bei Siemens (m/w/d)', 'Data Analyst m/f/d',
       'Data Analyst/Market Researcher',
       'Data Analyst/Scientist (m/w/d) für die Energietransformation',
       'Data Analyst:in Münster/Köln/Berlin/Remote (DE)',
       'Data Analytics Architect (w/m/d)',
       'Data Analytics Consultant (m/w/d)',
       'Data Analytics Consultant Frontend (m/w/d)',
       'Data Analytics Engineer', 'Data Analytics Specialist (d/w/m)',
       'Data Analytics Specialist (m/f/d)', 'Data Architect (m/f/d)',
       'Data Architect (m/w/d)',
       'Data Architect AI/ML (m/w/d) | Jobs bei Pexon Consulting GmbH',
       'Data Architekt (m/w/d)',
       'Data Architekt / Data Engineer / Data Scientist (m/w/d)',
       'Data Assimilation Scientist', 'Data Consultant (m/w/d)',
       'Data Consultant (w/m/d)',
       'Data Driven Business Consultant - Automotive (m/w/d)',
       'Data Engineer', 'Data Engineer (English speaking)(M/F/D)',
       'Data Engineer (d/f/m)', 'Data Engineer (f/m/d)',
       'Data Engineer (f/m/x)', 'Data Engineer (m/w/d)',
       'Data Engineer (m/w/d) Tech / E-Commerce', 'Data Engineer (w/m/d)',
       'Data Engineer - Recommendation Systeme (m/w/d)',
       'Data Engineer / Analyst', 'Data Engineer / Data Analyst (m/w/d)',
       'Data Engineer / Data Scientist (M/F/D)',
       'Data Engineer / Scientist (m/w/d)',
       'Data Engineer Big Data (all genders)',
       'Data Engineer Schwerpunkt Kundenpersonalisierung (m/w/d)',
       'Data Engineer* / Machine Learning Engineer*',
       'Data Engineering Consultant', 'Data Enthusiast (m/w/d)',
       'Data Integrity Specialist Pharma (m/w/d)', 'Data Product Manager',
       'Data Quality Manager (m/f/x)', 'Data Reporting Analyst',
       'Data Science Analyst (m/w/d)', 'Data Science Consultant (m/w/d)',
       'Data Science Consultant - QuantumBlack, AI by McKinsey',
       'Data Science Graduate',
       'Data Science and AI Mentor (Freelance, Remote)',
       'Data Science und KI - Smart Operations Management\xa0(m/w/d)',
       'Data Scientist',
       'Data Scientist & Machine Learning Engineer (m/w/d)',
       'Data Scientist & Machine Learning Engineer (w|m|d)',
       'Data Scientist (Growth Team)', 'Data Scientist (aGw*)',
       'Data Scientist (all gender)', 'Data Scientist (all genders)',
       'Data Scientist (alle Geschlechter)', 'Data Scientist (d/f/m)',
       'Data Scientist (d/m/w) Short-Term Asset Trading',
       'Data Scientist (d/w/m)', 'Data Scientist (f/m/d)',
       'Data Scientist (f/m/x)', 'Data Scientist (jun. / sen.)',
       'Data Scientist (m/f/d)', 'Data Scientist (m/f/x)',
       'Data Scientist (m/w/d)',
       'Data Scientist (m/w/d) (Data Scientist)',
       'Data Scientist (m/w/d) (Job-ID 2023061)',
       'Data Scientist (m/w/d) - Sektion für Hämatologische Spezialdiagnostik',
       'Data Scientist (m/w/d) Smart Process Automation',
       'Data Scientist (m/w/d) in Hamburg | EPROFESSIONAL',
       'Data Scientist (m/w/d) in den Bereichen NLP und LLM (Entwicklung/ Betrieb, Kompetenzaufbau und Support)',
       'Data Scientist (m/w/d) mit Fokus auf Big Data und KI',
       'Data Scientist (m/w/d) zur Auswertung und Analyse von komplexen Messdaten',
       'Data Scientist (m/w/x)', 'Data Scientist (mwd)',
       'Data Scientist (w/m/d)',
       'Data Scientist (w/m/d) - Schwerpunkt Customer Intelligence',
       'Data Scientist - 24 month contract',
       'Data Scientist - Consumer (Global Discovery)',
       'Data Scientist - Customer Data Platform (all genders)',
       'Data Scientist - Customer Success Projects (ValueWorks)',
       'Data Scientist - Data Engineering (m/w/d)',
       'Data Scientist - Datenmanagement (m/w/d)- AOK Bayern - Die Gesundheitskasse',
       'Data Scientist - LLM', 'Data Scientist - Lexware Office (w/d/m)',
       'Data Scientist - Portfolio Analyst & Product Owner (m/f/d)*',
       'Data Scientist - Process Mining (m/w/d)',
       'Data Scientist - Ranking', 'Data Scientist - Startup Berlin',
       'Data Scientist - Supply Chain & Procurement',
       'Data Scientist - Time Estimations, Logistics (all genders)',
       'Data Scientist / AI Developer (m/w/d)',
       'Data Scientist / Analyst (m/w/d)',
       'Data Scientist / Biostatistician (m/f/d)',
       'Data Scientist / Data Analyst (m/w/d)',
       'Data Scientist / Data Engineer (Python) (m/w/d)',
       'Data Scientist / Engineer (gn)',
       'Data Scientist / Engineer (m/w/d)',
       'Data Scientist / Engineer mit LLM-Fokus (m/w/d)',
       'Data Scientist / ML Engineer (m/ f/ d)',
       'Data Scientist / Machine Learning Expert (m/w/d)',
       'Data Scientist / Softwareentwickler (m/w/d)',
       'Data Scientist 100%', 'Data Scientist Automotive (m/w/d)',
       'Data Scientist Consultant (m/f/d)',
       'Data Scientist Consultant (m/w/d)',
       'Data Scientist Datenmanagement',
       'Data Scientist Digital Health ‒ Strategie, Analyse & Infrastruktur (m/w/d)',
       'Data Scientist NLP and Text Mining (f/m/d)',
       'Data Scientist Natural Language Processing (m/w/d)',
       'Data Scientist Online Analytics',
       'Data Scientist Optical Spectroscopy (w/m/d)',
       'Data Scientist Pathologisches Institut',
       'Data Scientist als Modellentwickler Einsatzplanung Energiesysteme (w|m|d)',
       'Data Scientist and Process Mining Architect',
       'Data Scientist für das Pathologische Institut',
       'Data Scientist in Energy Tech Start Up - hybrid Berlin based (f/m/d)',
       'Data Scientist mit Fokus auf datengetriebenes Marketing',
       'Data Scientist mit Schwerpunkt Datenarbeit (m/w/d)',
       'Data Scientist mit Schwerpunkt Operationalisierung (m/w/d)',
       'Data Scientist w/m/d',
       'Data Scientist with focus Clinical Statistics (f/m/d - part/full-time)',
       'Data Scientist – AI Engineer (m/w/d)',
       'Data Scientist – CRM / Kundenbeziehungsmanagement (m/w/d)',
       'Data Scientist – Supply & Demand Modelling',
       'Data Scientist*in (m/w/d)',
       'Data Scientist*in (m/w/d) - remote oder Karlsruhe',
       'Data Scientist*in/Data Analyst*in (m/w/d)',
       'Data Scientist, Germany - BCG X',
       'Data Scientist, Mathematiker - Dateningenieur (m/w/d)- AOK Bayern - Die Gesundheitskasse',
       'Data Scientist/ AI-Architekt (m/w/d)',
       'Data Scientist/Analyst prüfungsnahe Beratung/Quants - Assurance (Financial Services) (w/m/d)',
       'Data Scientist/Bioinformatiker im Team Molekulargenetik',
       'Data Scientist/ML Engineer', 'Data Solutions Specialist (m/w/d)',
       'Data Specialist (m/w/d)',
       'Data Steward SAP S/4HANA - "Business Partner" (w/m/d)',
       'Data Team Manager', 'Data and AI Partner',
       'Data and AI/ML Engineer (f/m/d)',
       'Data and Reporting Analyst (f/m/d)', 'Data-Analyst (m/w/d)',
       'Data-Scientist/MLOps - KI-basiertes Recycling',
       'Data/Software Engineer (f/m/d)', 'Datenanalyst (m/w/d)',
       'Datenanalyst (m/w/d) / Data Analyst (m/f/d)',
       'Datenanalyst (m/w/d) im Bereich Energiewirtschaft',
       'Datenanalyst (m/w/d) im Vertriebsmanagement',
       'Datenanalyst / Data Analyst Risikomanagement (w/m/d)',
       'Datenanalyst für Logistikprozesse (m/w/d)',
       'Datenanalyst:in Metering',
       'Datenanalysten/in (m/w/d) für Modelle in der konjunkturstatistischen Erhebung im Gastgewerbe',
       'Datenarchitekt Versicherungsplattform (m/w/d)',
       'Decision Scientist (m/w/d)', 'Deep Learning Researcher',
       'Detector Calibration and Characterisation Scientist (m/f/w)',
       'Deutsche Bank Graduate Programme (f/m/x) Technology, Data & Innovation 2025',
       'DevOps & Cloud Engineer - Data Analytics & AI',
       'DevOps/ML Engineer (m/f/d)', 'Digital Data Scientist (w|m|d)',
       'Digital Marketing & Data Analytics Manager (m/w/d)',
       'Digital Trust and Safety Analyst with German (m/f/d)',
       'Dr. rer. nat. Physik / Chemie / Materialwissenschaften - Teamleitung & Projektmanagement (m/w/d)',
       'E-Commerce Analyst & Marketing Support Manager (Kaufmann/-frau - E-Commerce)',
       'EMEA - Solutions Engineer',
       'ERP Business Analyst, Microsoft Business Central (m/f/d) Digital Development',
       'ERP Business Analyst, SAP (m/f/d) Digital Development',
       'ETL-Entwickler (m/w/d) Azure Data Factory',
       'Economic Modeller / Contract Role (m/f/x) Full Remote',
       'Electrical Engineer or Computer Scientist (m/f/d) in Technical Support / Automation Technology',
       'Engagement Manager (Data & AI)', 'Engineer AI (m/w/d)',
       'Engineering Manager - Applied Generative AI (all genders) @ Babbel | NGP Capital Job Board',
       'Enterprise Solutions Engineer, Germany',
       'Experte für Fahrzeug Telematikdaten und Datenanalysen (gn)',
       'Experte für Fahrzeug-Telematikdaten und Datenanalysen (m/w/d) - hybrides Arbeiten (Remote & Präsenz)',
       'Fachkraft für den Bereich Einnahmeaufteilung & Statistik (m/w/d)',
       'Fachreferent/in für Künstliche Intelligenz A13/E13 (w/m/d)',
       'Festanstellung im Bereich Data Analytics und Machine Learning für Datenanalyse-Startup in München (m/w/d)',
       'Field Application Scientist, EMEA',
       'Financial Data Specialist (m/w/d) Corporate Actions Shares & Funds',
       'Financial Data Specialist (m/w/d) – Masterdata Shares / Funds',
       'Financial Data Specialist – Bonds / Wertpapiere (m/w/d)',
       'Financial Engineer Expert (m/w/d)', 'Financial Engineer m/w/d',
       'Forecasting Data Scientist SCM (m/w/d)',
       'Founding Software Engineer (m/w/d)', 'Fraud Analyst',
       'Fraud Fighter Wanted (d/m/w)',
       'Fraud Operations Specialist (f/m/x)',
       'Freelance Machine Learning Engineer',
       'Full Stack Entwickler (w/m/d)', 'Full-Stack Data Analyst (f/m/d)',

In [39]:
# Set remaining unclassified listings to "Assiciate/Mid-Level"
df.loc[df["seniority_level_new"].isna(), "seniority_level_new"] = "Associate/Mid-Level"

In [40]:
df["seniority_level_new"].value_counts()

seniority_level_new
Associate/Mid-Level    926
Senior                 299
Student                109
Director                84
Junior                  80
Intern                  80
Postdoc                 25
Trainee                 22
Name: count, dtype: int64

#### Compare seniority levels with those provided on the job platforms

In [41]:
df["seniority_level"].unique()

array(['Associate', 'Entry level', 'Mid-Senior level', 'Not Applicable',
       'Internship', 'Director', 'Executive', nan], dtype=object)

In [42]:
np.sort(df.loc[df["seniority_level"] == "Mid-Senior level", "title"]).tolist()
# some junior positions

['(Global) Senior Applied Research Scientist',
 '(Junior) AI Engineer (m/w/d)',
 '(Junior) Data Engineer (m/w/d)',
 '(Junior) Data Engineer (m/w/x)',
 '(Junior) Data Product Associate (f/m/x)',
 '(Senior) Data Analyst / Data Scientist (f/m/d) in Data Division',
 '(Senior) Data Scientist (Analytics), Merchant',
 '(Senior) Data Scientist / ML Engineer (m/w/d)',
 '(Senior) Machine Learning Data Scientist (d/f/m)',
 '(Senior) Machine Learning Engineer (m/f/d)',
 '2025 Software Development Engineer - Machine Learning (m/w/d)',
 'AI Consultant',
 'AI Engineer / AI Developer (m/w/d) bei einem SaaS-Unternehmen aus Würzburg (Full-Remote oder vor Ort)',
 'AI Engineer // Data Scientist (all genders)',
 'AI Lead',
 'AI Platform Engineer (all genders)',
 'AI Researcher',
 'AI consultant  - Energy',
 'AI\xa0computational\xa0\xa0material\xa0\xa0researcher/expert',
 'Analyst - Fokus Data Science / AI (m/w/d)',
 'Analytics Engineer (m/f/d)',
 'Analytics Engineering Lead',
 'Applied Scientist for Probabilistic Machine Learning and Human-Computer Interaction',
 'Applied Scientist, Fintech (Fraud)',
 'Artificial Intelligence Engineer',
 'Associate Data Analyst (f/m/d)',
 'Associate Special Project, Esports',
 'Atomic, Molecular, and Optical Physicist',
 'BI Analyst (all genders)',
 'BI Analyst (m/w/d)',
 'BI Business Analyst (m/f/d)',
 'BI Manager (m/w/d) Data Science/Data Analytics',
 'Battery Scientist (m/f/x)',
 'Bioinformatician',
 'Bioinformatician (m/f/d) in immunopeptidomics',
 'Business  Development Manger',
 'Business Analyst',
 'Business Analyst / Controller',
 'Business Analyst / Controller',
 'Business Intelligence & Analytics Manager',
 'Business Intelligence Analyst (m/w/d)',
 'Business Intelligence Consultant',
 'Business Intelligence Manager (m/w/d)',
 'Business Intelligence Specialist (m/w/x)',
 'Business Intelligence und Data Analyst (m/w/d)',
 'Carbon Project Risk Analyst (f/d/m)',
 'Certified Strength and Conditioning Specialist',
 'Certified Strength and Conditioning Specialist',
 'Chief AI Engineer',
 'Chief Technology Officer',
 'Computational Biologist (m/f/d)',
 'Computational Chemist Lead',
 'Computational Scientist – (Machine Learning) Digital R&D Large Molecule Research',
 'Computer Scientist | InformatikerIn | Software EntwicklerIn für klinische KI-Forschung und Anwendung',
 'Computer Vision Engineer',
 'Consultant - Digital Analytics (m/w/d) for Hamburg',
 'Consultant AI & Analytics',
 'DATA ANALYST (M/W/D)',
 'DATA ANALYST:IN (m/w/d)',
 'Data & AI Scientist Personalized Computational Genomics (all genders)',
 'Data Analysis, Modeling & Simulation Engineer (f/m/d)',
 'Data Analyst',
 'Data Analyst (m/f/d) at Allianz SE',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d) Berlin, Hamburg, Munich',
 'Data Analyst - MS Tech Stack',
 'Data Analyst - Product',
 'Data Analyst / Scientist (m/w/d) für die Energietransformation',
 'Data Analyst:in Münster/Köln/Berlin/Remote (DE)',
 'Data Analytics Engineer',
 'Data Analytics Specialist (m/f/d)',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer (English speaking)(M/F/D)',
 'Data Engineer (d/f/m)',
 'Data Engineer (f/m/x)',
 'Data Engineer (m/w/d)',
 'Data Engineer (m/w/d)',
 'Data Engineer (m/w/d)',
 'Data Engineering Consultant',
 'Data Product Manager',
 'Data Reporting Analyst',
 'Data Science Consultant (m/w/d)',
 'Data Science Consultant (m/w/d)',
 'Data Science Consultant - QuantumBlack, AI by McKinsey',
 'Data Science and AI Mentor (Freelance, Remote)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist & Machine Learning Engineer (m/w/d)',
 'Data Scientist (Growth Team)',
 'Data Scientist (m/f/d)',
 'Data Scientist (m/w/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist (w/m/d)',
 'Data Scientist - Datenmanagement (m/w/d)- AOK Bayern - Die Gesundheitskasse',
 'Data Scientist - LLM',
 'Data Scientist - Ranking',
 'Data Scientist Consultant (m/f/d)',
 'Data Scientist Lead and Team Lead "Customer Intelligence Team" (m/f/d)',
 'Data Scientist – Supply & Demand Modelling',
 'Data Scientist*in (m/w/d) - remote oder Karlsruhe',
 'Data Scientist*in/Data Analyst*in (m/w/d)',
 'Data Scientist, Mathematiker - Dateningenieur (m/w/d)- AOK Bayern - Die Gesundheitskasse',
 'Data Team Manager',
 'Data and Reporting Analyst (f/m/d)',
 'DevOps/ML Engineer (m/f/d)',
 'Digital Marketing & Data Analytics Manager (m/w/d)',
 'Economic Modeller / Contract Role (m/f/x) Full Remote',
 'Engagement Manager (Data & AI)',
 'Fraud Analyst',
 'Fraud Fighter Wanted (d/m/w)',
 'Fraud Operations Specialist (f/m/x)',
 'Freelance Machine Learning Engineer',
 'Generative AI Engineer',
 'Gesundheitsökonom / Data Scientist im Gesundheitswesen (D/M/W)',
 'Head Applied Data & Genetics Science – Seeds Field Crops Europe (M/F/D)',
 'Head of AI',
 'Head of AI (m / f / d)',
 'Head of Artificial Intelligence',
 'Head of Artificial Intelligence',
 'Head of Clinical Data Management & IT (m/f/d)',
 'Head of Data & Analytics (m/w/d)',
 'Head of Data & Analytics - Medical Cannabis Industry',
 'Head of Data Science and AI (m/w/d)',
 'Head of Data Science and AI (m/w/d)',
 'IT Business Analyst for Research Labs (f/m/d)',
 'Initiativbewerbung',
 'Junior AI Platform Engineer or Working Student (all genders)',
 'Junior Business Intelligence Engineer (All Genders)',
 'Junior Data Engineer (m/w/d)',
 'Junior Managers Program - Business Intelligence und Analytics - Trainee programm (f/m/div.)',
 'Junior Professor of Artificial Intelligence and Machine Learning',
 'Lead AI Engineer (Cloud, Machine Learning)',
 'Lead Consultant AI (Ref:IgLWy)',
 'Lead Data Scientist',
 'Lead Data Scientist (Deep Learning)',
 'Lead Data Scientist (Deep Learning)',
 'Lead Data Scientist (Deep Learning)',
 'Lead Data Scientist (all genders)',
 'Lead Data Scientist (m/f/d)',
 'Lead Data Scientist NLP',
 'Lead ML Engineer',
 'Lead ML Engineer (m/f/d)',
 'Lead Machine Learning Engineer – Generative AI',
 'ML Architect Engineer',
 'ML Architect Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer',
 'Machine Learning Engineer (m/f/d)',
 'Machine Learning Engineer (m/w/d)',
 'Machine Learning Engineer - Freelance',
 'Machine Learning Engineer, Applied AI',
 'Machine Learning Engineer, Search',
 'Machine Learning Software Engineer – Optimization & LLM Development (m/f/x)',
 'Machine Vision Engineer (Halcon)',
 'Market Researcher',
 'Marketing Data Analyst',
 'Marketing Researcher',
 'Medical Research Coordinator - MedTech Venture',
 'Performance Engineer - Laundry Care',
 'Pricing Actuary',
 'Principal Data Scientist (d/f/m)',
 'Principal Data Scientist (d/f/m)',
 'Process Engineer (relocation to St. Gallen, Switzerland)',
 'Product Analyst – Business Data & Insights (m/f/d)',
 'Product Data Analyst (Banking + Data Quality) (w/m/d) mit 100% Homeoffice',
 'Product Data Analyst (Savings and Contract Optimization) mit 100% Homeoffice',
 'Product Lead, Platform Products',
 'Product Lead, Pricing',
 'Product Lead, Search',
 'Product Manager',
 'Product Manager Pricing & Analytics (x/f/m)',
 'Professor for Data Science (m/f/d)',
 'Program/Product Manager Intern',
 'Python Developer',
 'Python Developer',
 'Python Full Stack Developer',
 'Quantitative Power Trading Analyst',
 'Remote (Sr.) Python Data Scientist (m/f/d)',
 'Research And Development Engineer',
 'Research Associate for the Project “DASHH - Data Science in Hamburg - Helmholtz Graduate School for the Structure of Matter, Particle Physics with the CMS Experiment” § 28 Subsection 3 HmbHG',
 'Research Associate for the Project “DASHH - Data Science in Hamburg - Helmholtz Graduate School for the Structure of Matter, dAIbetes” § 28 Subsection 3 HmbHG',
 'Research Engineer (m/w/d)',
 'Research, Analytics, and Knowledge Management Team Lead',
 'Researcher / Project Manager',
 'Robotics Software Engineer all levels (m/w/d)',
 'Scientific Data Architect / Senior Scientific Data Architect- EMEA Remote',
 'Senior AI Developer f/m/d',
 'Senior AI Engineer',
 'Senior AI Engineer (m/f/d)',
 'Senior Analytics Engineer (m/f/d)',
 'Senior Applied Scientist, Logistics',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst (m/f/d)',
 'Senior Data Analyst (m/f/d)',
 'Senior Data Engineer (Python)',
 'Senior Data Science Consultant',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist (SOC / carbon modelling)',
 'Senior Data Scientist (d/f/m)',
 'Senior Data Scientist (d/f/m) - Large-scale Machine Learning',
 'Senior Data Scientist (f/m/d)',
 'Senior Data Scientist (f/m/x)',
 'Senior Data Scientist (m/f/d)',
 'Senior Data Scientist (m/f/d)',
 'Senior Data Scientist (m/f/d)',
 'Senior Data Scientist (m/w/d)',
 'Senior Data Scientist (m/w/d)',
 'Senior Data Scientist (m/w/d)',
 'Senior Data Scientist (m/w/d)',
 'Senior Data Scientist (m/w/d)',
 'Senior Data Scientist (w/m/d)',
 'Senior Data Scientist - Remote from Germany',
 'Senior Data Scientist - Time Estimations, Logistics (all genders)',
 'Senior Data Scientist / AI Developer (m/w/d)',
 'Senior Data Scientist – Supply & Demand Modelling',
 'Senior Data Scientist, Campaigns',
 'Senior Data Scientist, Payments Product',
 'Senior Data Scientist, gTech Ads',
 'Senior Data Scientist, gTech Ads',
 'Senior Data Scientist- Optimization (d/f/m)',
 'Senior ML / AI Engineer',
 'Senior Machine Learning Data Scientist (d/m/f)',
 'Senior Machine Learning Engineer',
 'Senior Machine Learning Engineer',
 'Senior Machine Learning Engineer',
 'Senior Product Manager (m/f/d)',
 'Senior Product Manager - Fraud Prevention',
 'Senior Python Developer (LLM-based applications, SME)',
 'Senior Research Scientist (permanent, E15 pay scale)',
 'Senior Scientist (m/f/d) Molecular Complex Development',
 'Senior Software Developer Data & ML (M/W/D)',
 'Senior Software Engineer (Python)',
 'Senior Staff AI Engineer',
 'Senior/Lead ML Engineer (AI-Powered Platform) - REMOTE UK/EUROPE/AMER',
 'Simulation and Machine Learning Engineer (d/m/w)',
 'Software Engineer (Data & Python) (all genders)',
 'Sr Data Scientist - LLM',
 'Sr Scientist I, AI / ML',
 'Staff ML Engineer',
 'Strategy Manager Life Science (all genders)',
 'Talent Pool',
 'Teamlead Data Science und Data Engineering (m/w/d)',
 'UX Mixed Methods Researcher',
 'Unsolicited Application / Initiativbewerbung (m/f/d)',
 'Unsolicited Application / Initiativbewerbung (m/f/d)',
 'Working Student AI/ML (all genders) - (Any location in Germany)']

In [43]:
np.sort(df.loc[df["seniority_level"] == "Associate", "title"]).tolist()
# Some senior, some working student

['(Senior) BI Analyst (all genders)',
 '(Senior) Consultant Data Science & MLOps, d/f/m',
 'AI Consultant',
 'AI Developer (m/w/d)',
 'AI Engineer (Senior)',
 'AI Engineer (m/w/d)',
 'AI Software Developer in Test (f/m/d)',
 'Analyst - Fokus Data Science / AI (m/w/d)',
 'Analytics Engineer (m/w/d)',
 'Artificial Intelligence Engineer',
 'Artificial Intelligence Engineer',
 'Artificial Intelligence Specialist',
 'Artificial Intelligence Specialist (w/m/d)',
 'Associate - Index Operations (m/f/d)',
 'Associate / (Senior) AI Technology Consultant (m/w/d)',
 'BI & Data Modeling Expert (m/f/d)',
 'Bench Scientist (all genders)',
 'Breeding Informatics Analyst (d/f/m) Full Time - in Tübingen',
 'Business Intelligence Developer (m/w/d) Tech / E-Commerce',
 'CRA/SCRA',
 'DWH Analyst (all genders)',
 'Data & AI Business Consultant (m/w/d)',
 'Data & AI Strategist (m/f/d)',
 'Data Analyst',
 'Data Analyst (m/f/d) in IT security company',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d)',
 'Data Analyst (m/w/d) Telematikdaten',
 'Data Analyst / Data Engineer (m/f/d)',
 'Data Analyst / Data Scientist (m/w/d)',
 'Data Analyst / Decision Scientist, Digital Marketing',
 'Data Analyst / Decision Scientist, Policy',
 'Data Analytics Engineer',
 'Data Engineer (m/w/d)',
 'Data Engineer (m/w/d) Tech / E-Commerce',
 'Data Engineer / Analyst',
 'Data Engineer / Scientist (m/w/d)',
 'Data Science Graduate',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (all gender)',
 'Data Scientist (all genders)',
 'Data Scientist (f/m/d)',
 'Data Scientist (f/m/d)',
 'Data Scientist (f/m/d)',
 'Data Scientist (m/w/d)',
 'Data Scientist (m/w/d)',
 'Data Scientist (m/w/d)',
 'Data Scientist - Customer Success Projects (ValueWorks)',
 'Data Scientist Lead and Team Lead "Customer Intelligence Team" (m/f/d)',
 'Data Scientist in Energy Tech Start Up - hybrid Berlin based (f/m/d)',
 'Data Scientist with focus Clinical Statistics (f/m/d - part/full-time)',
 'Data Scientist/ AI-Architekt (m/w/d)',
 'Data-Analyst (m/w/d)',
 'Data/Software Engineer (f/m/d)',
 'Deep Learning Researcher',
 'Engineer AI (m/w/d)',
 'Government Affairs Specialist',
 'Head of Data (all genders)',
 'IT-Business / Data Analyst (m/f/d)',
 'Junior Engineer Machine Learning / Deep Learning (w/m/d)',
 'Junior Machine Learning Engineer (Leipzig)',
 'MLOps Engineer (w/m/d) 100% remote',
 'Machine Learning Engineer',
 'Machine Learning Engineer (LLM/RAG)',
 'Mathematiker:in / Physiker:in Aktuarielles Controlling',
 'Operations & Marketing Associate',
 'Portfolio Analyst (f/m/d)',
 'Praktikant (m/w/d) Data Science',
 'Process Development Engineer (m/f/d)',
 'Product Analyst - Shopping Experience (m/f/d)',
 'Product Analytics Associate (Based in Dubai)',
 'Product Associate',
 'Product Safety Specialist *',
 'Project Management Assistant (Real World Data)',
 'Publicis Media - (Junior) Data Scientist (m/w/d)',
 'SEO - Data Analyst:in',
 'Senior Data / Machine-Learning Engineer (w/m/d)',
 'Senior Data Engineer Python/ML/AWS (m/f/d)- Remote',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist (m/w/d)',
 'Senior Data Scientist (m/w/d) - ID: 233',
 'Senior Data Scientist – Energy Storage / Li-ion / Battery Technologies',
 'Senior Engineer Machine Learning / Deep Learning (w/m/d)',
 'Senior ML Engineer',
 'Senior Scientist Machine Learning - Causal Machine Learning (w/m/d)',
 'Senior Scientist Machine Learning - Risikomodellierung und Pricing (w/m/d)',
 'Software Engineer (Python, Machine Learning, Cloud) - Remote',
 'Sports Scientist (m/f/x)',
 'Sr. Machine Learning Engineer (f/m/x)',
 'Teamlead Data Intelligence (m/w/d)',
 'Technical Assistant - Biotechnology',
 'Venture Development Tech Analyst (w/m/d)',
 'Working Student (m/f/d) – Customer Intelligence',
 'Working Student Data Analyst (x/f/m)']

In [44]:
filter_condition = (df["seniority_level"] != df["seniority_level_new"]) \
    & (df["seniority_level"].isna() == False)

df.loc[filter_condition, ["seniority_level", "seniority_level_new"]]

      seniority_level  seniority_level_new
0           Associate  Associate/Mid-Level
1         Entry level               Junior
2    Mid-Senior level  Associate/Mid-Level
3         Entry level               Intern
4           Associate  Associate/Mid-Level
..                ...                  ...
791         Associate               Senior
792  Mid-Senior level  Associate/Mid-Level
793  Mid-Senior level               Senior
794  Mid-Senior level             Director
795       Entry level               Junior

[786 rows x 2 columns]

#### Conclusion

Rather inconclusive... However, seniority levels will likely match closer if entry level seniority levels are further grouped

#### Create column with 5 groups

In [45]:
# Group entry level positions together
df["seniority_level_5"] = df["seniority_level_new"]

entry_positions = ["Junior", "Intern", "Student", "Trainee"]

df.loc[df["seniority_level_new"].isin(entry_positions), "seniority_level_5"] = "Entry level"

In [46]:
df["seniority_level_5"].value_counts()

seniority_level_5
Associate/Mid-Level    926
Senior                 299
Entry level            291
Director                84
Postdoc                 25
Name: count, dtype: int64

In [47]:
filter_condition = (df["seniority_level"] != df["seniority_level_5"]) \
    & (df["seniority_level"].isna() == False)

df.loc[filter_condition, ["seniority_level", "seniority_level_new", "seniority_level_5"]]

      seniority_level  seniority_level_new    seniority_level_5
0           Associate  Associate/Mid-Level  Associate/Mid-Level
2    Mid-Senior level  Associate/Mid-Level  Associate/Mid-Level
4           Associate  Associate/Mid-Level  Associate/Mid-Level
5    Mid-Senior level  Associate/Mid-Level  Associate/Mid-Level
7           Associate               Junior          Entry level
..                ...                  ...                  ...
790        Internship              Student          Entry level
791         Associate               Senior               Senior
792  Mid-Senior level  Associate/Mid-Level  Associate/Mid-Level
793  Mid-Senior level               Senior               Senior
794  Mid-Senior level             Director             Director

[724 rows x 3 columns]

## Detect and Drop Duplicates

First, I'll check whether duplicates can be detected by using the entirety or the most relevant columns.

These include job title, company name, seniority and location.

Why? The same job could be advertised for different branches/locations.
A similar job posting might have been posted targeting different levels of seniority

I'll also use the job description, however, this will likely not proof to be efficient as simple matching fails 

even if one character differs. This could be a "\n" or an additional heading, e.g. "Benefits:

Hence, string similarity meausures will be applied in the upcoming steps as well.

In [48]:
# See whether there are duplicates when taking into account all columns
df[df.duplicated(keep=False)].sort_values(by="company")

,title,company,location,salary,seniority_level,date_posted,date_accessed,days_online,number_applicants,job_type_Vollzeit,...,job_type_Praktikum,job_type_Werkstudent,job_description_anonymized,source_id,location_clean,company_clean_ish,company_clean,title_clean,seniority_level_new,seniority_level_5
955,"Applied Scientist, Artificial General Intellig...",Amazon Development Center Germany GmbH,Berlin,NaN,NaN,NaN,2024-12-12,NaN,NaN,1,...,0,0,"PhD, or a Master's degree and experience in CS...",2,Berlin,AMAZON DEVELOPMENT CENTER GERMANY,Amazon Development Center Germany GmbH,"Applied Scientist, Artificial General Intellig...",Associate/Mid-Level,Associate/Mid-Level
1032,"Applied Scientist, Artificial General Intellig...",Amazon Development Center Germany GmbH,Berlin,NaN,NaN,NaN,2024-12-12,NaN,NaN,1,...,0,0,"PhD, or a Master's degree and experience in CS...",2,Berlin,AMAZON DEVELOPMENT CENTER GERMANY,Amazon Development Center Germany GmbH,"Applied Scientist, Artificial General Intellig...",Associate/Mid-Level,Associate/Mid-Level
1076,Senior Consultant IT Regulatory Risk / Risikom...,Deloitte GmbH,Köln,NaN,NaN,NaN,2024-12-12,NaN,NaN,1,...,0,0,Du machst den Unterschied. Ob im Business Audi...,2,Köln,DELOITTE,Deloitte,Senior Consultant IT Regulatory Risk / Risikom...,Senior,Senior
1077,Senior Consultant IT Regulatory Risk / Risikom...,Deloitte GmbH,Köln,NaN,NaN,NaN,2024-12-12,NaN,NaN,1,...,0,0,Du machst den Unterschied. Ob im Business Audi...,2,Köln,DELOITTE,Deloitte,Senior Consultant IT Regulatory Risk / Risikom...,Senior,Senior
1178,Data Architekt / Data Engineer / Data Scientis...,Wego Systembaustoffe GmbH,Hanau,NaN,NaN,NaN,2024-12-12,NaN,NaN,0,...,0,0,für unsere Zentrale in Hanau-Steinheim\nDeine ...,2,Hanau,WEGO SYSTEMBAUSTOFFE,Wego Systembaustoffe GmbH,Data Architekt / Data Engineer / Data Scientist,Associate/Mid-Level,Associate/Mid-Level
1237,Data Architekt / Data Engineer / Data Scientis...,Wego Systembaustoffe GmbH,Hanau,NaN,NaN,NaN,2024-12-12,NaN,NaN,0,...,0,0,für unsere Zentrale in Hanau-Steinheim\nDeine ...,2,Hanau,WEGO SYSTEMBAUSTOFFE,Wego Systembaustoffe GmbH,Data Architekt / Data Engineer / Data Scientist,Associate/Mid-Level,Associate/Mid-Level

In [49]:
# Filter to only a few selected columns
columns_selected = ["title_clean", 
                    "company_clean", 
                    "location_clean", 
                    "seniority_level_5", 
                    "job_description_anonymized"]
sum(df.filter(columns_selected).duplicated())

11

In [50]:
# Show those duplicate listings.
df[df.filter(columns_selected).duplicated(keep=False)] \
    .filter(columns_selected) \
    .sort_values(by=["title_clean", "location_clean"])

,title_clean,company_clean,location_clean,seniority_level_5,job_description_anonymized
955,"Applied Scientist, Artificial General Intellig...",Amazon Development Center Germany GmbH,Berlin,Associate/Mid-Level,"PhD, or a Master's degree and experience in CS..."
1032,"Applied Scientist, Artificial General Intellig...",Amazon Development Center Germany GmbH,Berlin,Associate/Mid-Level,"PhD, or a Master's degree and experience in CS..."
710,DATA ANALYST,Instaffo,München,Associate/Mid-Level,Du bist interessiert an der Stelle als DATA AN...
716,DATA ANALYST,Instaffo,München,Associate/Mid-Level,Du bist interessiert an der Stelle als DATA AN...
536,Data Analyst,CBTW,Frankfurt am Main,Associate/Mid-Level,Willkommen bei CBTW! Wir sind ein innovatives ...
599,Data Analyst,CBTW,Frankfurt am Main,Associate/Mid-Level,Willkommen bei CBTW! Wir sind ein innovatives ...
682,Data Analyst,CBTW,Frankfurt am Main,Associate/Mid-Level,Willkommen bei CBTW! Wir sind ein innovatives ...
609,Data Analyst,CBTW,München,Associate/Mid-Level,Willkommen bei CBTW! Wir sind ein innovatives ...
666,Data Analyst,CBTW,München,Associate/Mid-Level,Willkommen bei CBTW! Wir sind ein innovatives ...
1178,Data Architekt / Data Engineer / Data Scientist,Wego Systembaustoffe GmbH,Hanau,Associate/Mid-Level,für unsere Zentrale in Hanau-Steinheim\nDeine ...
1237,Data Architekt / Data Engineer / Data Scientist,Wego Systembaustoffe GmbH,Hanau,Associate/Mid-Level,für unsere Zentrale in Hanau-Steinheim\nDeine ...
108,Data Scientist,cosnova,Sulzbach,Associate/Mid-Level,cosnova GmbHLimesparkBerufserfahrungITSoftware...
197,Data Scientist,cosnova,Sulzbach,Associate/Mid-Level,cosnova GmbHLimesparkBerufserfahrungITSoftware...
279,"Data Scientist Lead and Team Lead ""Customer In...",Axel Springer,Berlin,Director,Axel Springer National Media & Tech is respons...
324,"Data Scientist Lead and Team Lead ""Customer In...",Axel Springer,Berlin,Director,Axel Springer National Media & Tech is respons...
182,MLOps Engineer,Centric Software,Düsseldorf,Associate/Mid-Level,"As an MLOps Engineer at Centric Software, you ..."
243,MLOps Engineer,Centric Software,Düsseldorf,Associate/Mid-Level,"As an MLOps Engineer at Centric Software, you ..."
1076,Senior Consultant IT Regulatory Risk / Risikom...,Deloitte,Köln,Senior,Du machst den Unterschied. Ob im Business Audi...
1077,Senior Consultant IT Regulatory Risk / Risikom...,Deloitte,Köln,Senior,Du machst den Unterschied. Ob im Business Audi...
379,Working Student – Customer Intelligence,Axel Springer,Berlin,Entry level,Axel Springer National Media & Tech is respons...
535,Working Student – Customer Intelligence,Axel Springer,Berlin,Entry level,Axel Springer National Media & Tech is respons...

In [51]:
# These are clearly duplicates. Drop the duplicate row; i.e. Keep the first occurance of these listings
columns_selected = ["title_clean", 
                    "company_clean", 
                    "location_clean", 
                    "seniority_level_5", 
                    "job_description_anonymized"]

print("Columns before removing duplicates:", len(df))
df = df.drop_duplicates(subset=columns_selected)

print("Columns after removing duplicates:", len(df))

Columns before removing duplicates: 1625
Columns after removing duplicates: 1614

### Refine columns to detect duplicates

In [52]:
columns_selected = ["title_clean", 
                    "company_clean", 
                    "location_clean", 
                    "seniority_level_5"]

sum(df.filter(columns_selected).duplicated())

146

In [53]:
df.columns

Index(['title', 'company', 'location', 'salary', 'seniority_level',
       'date_posted', 'date_accessed', 'days_online', 'number_applicants',
       'job_type_Vollzeit', 'job_type_Teilzeit', 'job_type_Festanstellung',
       'job_type_BefristeterVertrag', 'job_type_Homeoffice',
       'job_type_FreieMitarbeit', 'job_type_Traineeprogramm',
       'job_type_Berufsausbildung', 'job_type_Praktikum',
       'job_type_Werkstudent', 'job_description_anonymized', 'source_id',
       'location_clean', 'company_clean_ish', 'company_clean', 'title_clean',
       'seniority_level_new', 'seniority_level_5'],
      dtype='object')

In [54]:
# Perform some manual checks in excel file
columns_selected = ["title_clean", 
                    "company_clean", 
                    "location_clean", 
                    "seniority_level_5"]

display_columns = columns_selected + ["source_id", "job_description_anonymized"]

row_selection = df.filter(columns_selected).duplicated(keep=False)

df_out = df.loc[row_selection, display_columns] \
    .sort_values(by=["company_clean", "title_clean", "location_clean"])
df_out

,title_clean,company_clean,location_clean,seniority_level_5,source_id,job_description_anonymized
154,Data Scientist,ACONEXT,Fellbach,Associate/Mid-Level,1,Willst du die InnovatiWEITERE STELLENANGEBOTES...
823,Data Scientist,ACONEXT,Fellbach,Associate/Mid-Level,2,Willst du die Innovationen voe\nBewerbung WEIT...
1288,Data Scientist,ACONEXT,Fellbach,Associate/Mid-Level,3,MITTELSTÄNDISCH • PRAGMATISCH • LEIDENSCHAFTLI...
163,Data Scientist Automotive,ACONEXT,Fellbach,Associate/Mid-Level,1,Willst du die Innovationen vog WEITERE STELLEN...
809,Data Scientist Automotive,ACONEXT,Fellbach,Associate/Mid-Level,2,Willst du die Innovationen von morgen mitewerb...
...,...,...,...,...,...,...
1239,Trainee Data Science - 12 Monate,taod Consulting GmbH,Köln,Entry level,2,Wir suchen dataful minds. Mit unserer Leidensc...
301,Data Scientist - Ranking,trivago,Düsseldorf,Associate/Mid-Level,1,"When travelers are searching for a hotel, we w..."
839,Data Scientist - Ranking,trivago,Düsseldorf,Associate/Mid-Level,2,"When travelers are searching for a hotel, we w..."
1225,Senior Data Scientist * Generative AI,valantic Software & Technology Innovations GmbH,Eschborn,Senior,2,Beschreibung\nWir suchen einen Senior Data Sci...
1331,Senior Data Scientist * Generative AI,valantic Software & Technology Innovations GmbH,Eschborn,Senior,3,Die valantic Software & Technology Innovations...

In [55]:
# Store original index for upcoming aggregation
df["index_pre_agg"] = df.index
df["index_agg_list"] = df.index # to store all ids that were aggregated into 1 row

In [56]:
group_by_columns = ["title_clean", "company_clean", "location_clean"]

# set aggregation functions to: 
# - max for numeric values (except index), 
# - first for object types (except source, which will be stored in a set)
aggregation_functions = {col: "first" if df[col].dtype == "O" else "max" for col in df.columns}
aggregation_functions.update(index_pre_agg = min)
aggregation_functions.update(index_agg_list = list)
aggregation_functions.update(source_id = list)

df_len_pre = len(df)
print("number of rows before aggregation:", df_len_pre)

# Aggregate; Restore original index and order
df = df.groupby(group_by_columns, as_index=False).agg(aggregation_functions).reset_index(drop=True)
df.index = df["index_pre_agg"].to_list()
df = df.sort_index()

print(f"number of rows after aggregation: {len(df)} (dif: {df_len_pre - len(df)})")

number of rows before aggregation: 1614
number of rows after aggregation: 1468 (dif: 146)

In [57]:
df.head()

,title,company,location,salary,seniority_level,date_posted,date_accessed,days_online,number_applicants,job_type_Vollzeit,...,job_description_anonymized,source_id,location_clean,company_clean_ish,company_clean,title_clean,seniority_level_new,seniority_level_5,index_pre_agg,index_agg_list
0,Data Science Graduate,Visa,Berlin,None,Associate,2024-11-22,2024-12-09,17.0,200.0,1,...,Company DescriptionFascinated by the future an...,[1],Berlin,VISA,Visa,Data Science Graduate,Associate/Mid-Level,Associate/Mid-Level,0,[0]
1,Junior Data Scientist,Xsolla,Berlin,None,Entry level,2024-11-30,2024-12-09,9.0,200.0,1,...,Xsolla is looking for a Junior Data Scientist ...,"[1, 2]",Berlin,XSOLLA,Xsolla,Junior Data Scientist,Junior,Entry level,1,"[1, 1183]"
2,Data Scientist,Global Market Solutions - Germany,Frankfurt am Main,None,Mid-Senior level,2024-11-13,2024-12-09,26.0,200.0,1,...,GMS is an operational consultancy with experti...,"[1, 1]",Frankfurt am Main,GLOBAL MARKET SOLUTIONS GERMANY,Global Market Solutions - Germany,Data Scientist,Associate/Mid-Level,Associate/Mid-Level,2,"[2, 19]"
3,Data Scientist Intern,MeloTech,Berlin,None,Entry level,2024-01-31,2024-12-09,313.0,200.0,1,...,Your missionPropose innovative solutions by ex...,"[1, 2]",Berlin,MELOTECH,MeloTech,Data Scientist Intern,Intern,Entry level,3,"[3, 1105]"
4,Data Scientist (f/m/d),vent.io,Frankfurt am Main,None,Associate,2024-11-20,2024-12-09,19.0,200.0,1,...,The target of vent.io is to accelerate the gro...,[1],Frankfurt am Main,VENT IO,vent.io,Data Scientist,Associate/Mid-Level,Associate/Mid-Level,4,[4]

In [58]:
# Transform source into string again.
df["source_id"].value_counts()

source_id
[1]          683
[2]          340
[3]          306
[1, 2]        70
[2, 3]        29
[2, 2]        13
[1, 3]        11
[1, 1]         9
[1, 2, 3]      4
[1, 2, 2]      2
[2, 2, 3]      1
Name: count, dtype: int64

### Flag duplicates using job descriptions

The Levenshtein algorithm is used as it is recommended for comparing strings of different lenghts.
 Also, in a preceeding test run, the similarity ratios were calculated around 20 times faster
 compared to the SequenceMatcher ratio applied by the difflib package (Lev: 2.4 sec, difflib: 55.3 sec)

Rows will be flagged if similarity score is larger than pre-defined thresholds, and location as well as seniority are not identical.
(As mentioned before, one job could be listed targeting different seniority levels or locations)
Store/concatenate indices in both listings to compare in later stage.

In [59]:
df_indices = df.index.to_list()

# Define thresholds to be flagged
similarity_thresholds = [0.90, 0.93, 0.95, 0.97]

# Initialize dictionary to store results in
col_names_suffix = [str(f"{s:.2f}").replace(".", "_") for s in similarity_thresholds]
col_names = [f"similarity_results_{t}" for t in col_names_suffix]

similarity_results = pd.DataFrame(
        {col: [[] for _ in range(len(df))] for col in col_names},
        index=df_indices
    )

# Initialize iterator to be used to flag multiple listings 
merge_group_iterator = 0

for ind_nr, index1 in enumerate(df_indices):
    if ind_nr > 0 and ind_nr % 100 == 0:
        print(f"Now comparing at index1: {ind_nr}/{len(df)}")
    loc1 = df["location_clean"][index1]
    sen1 = df["seniority_level_new"][index1]
    str1 = df["job_description_anonymized"][index1]

    for index2 in df_indices:
        # Skip comparison if rows have already been compared
        if index1 >= index2:
            continue
        # Skip comparison if location is different.
        loc2 = df["location_clean"][index2]
        if loc1 != loc2:
            continue
        # Skip comparison if seniority level is different.
        sen2 = df["seniority_level_new"][index2]
        if sen1 != sen2:
            continue
        
        # Compute similarity
        str2 = df["job_description_anonymized"][index2]
        similarity = Levenshtein.ratio(str1, str2)
        
        # Check value against each threshold and store results in respective cells
        for threshold_id, threshold in enumerate(similarity_thresholds):
            if similarity >= threshold:
                # print(f"Similar results found at index1: {index1}, index2: {index2} (threshold: {threshold}).")
                col = col_names[threshold_id]
                # Use merge_group if existing, otherwise grab from iterator
                if len(similarity_results.loc[index1, col]) > 0:
                    merge_group = similarity_results.loc[index1, col][-1][-1]
                elif len(similarity_results.loc[index2, col]) > 0:
                    merge_group = similarity_results.loc[index2, col][-1][-1]
                else:
                    merge_group = merge_group_iterator
                    merge_group_iterator += 1
                    
                sim1 = tuple([index2, round(similarity, 3), merge_group])
                sim2 = tuple([index1, round(similarity, 3), merge_group])
                
                similarity_results[col][index1].append(sim1)
                similarity_results[col][index2].append(sim2)

# this took 8:22 minutes
# this took 0:38 minutes (with location check)
# this took 0:18 minutes (with location and seniority check)

Now comparing at index1: 100/1468
Now comparing at index1: 200/1468
Now comparing at index1: 300/1468
Now comparing at index1: 400/1468
Now comparing at index1: 500/1468
Now comparing at index1: 600/1468
Now comparing at index1: 700/1468
Now comparing at index1: 800/1468
Now comparing at index1: 900/1468
Now comparing at index1: 1000/1468
Now comparing at index1: 1100/1468
Now comparing at index1: 1200/1468
Now comparing at index1: 1300/1468
Now comparing at index1: 1400/1468

In [60]:
# similarity_results["similarity_results_0_90"].map(lambda x: len(x)==0, pd.NA).isna().sum()
print(similarity_results["similarity_results_0_90"].map(lambda x: len(x)>0).sum())
print(similarity_results["similarity_results_0_93"].map(lambda x: len(x)>0).sum())
print(similarity_results["similarity_results_0_95"].map(lambda x: len(x)>0).sum())
print(similarity_results["similarity_results_0_97"].map(lambda x: len(x)>0).sum())

# CHECKS                             0_90   0_93    0_95    0_97
# Without location check:            315    -       265     229
# With location check:               153    -       97      75
# With location and seniority check: 125    94      86      69

125
94
86
69

In [61]:
# merge results to dataframe
df = df.merge(similarity_results, left_index=True, right_index=True)
df.head()

,title,company,location,salary,seniority_level,date_posted,date_accessed,days_online,number_applicants,job_type_Vollzeit,...,company_clean,title_clean,seniority_level_new,seniority_level_5,index_pre_agg,index_agg_list,similarity_results_0_90,similarity_results_0_93,similarity_results_0_95,similarity_results_0_97
0,Data Science Graduate,Visa,Berlin,None,Associate,2024-11-22,2024-12-09,17.0,200.0,1,...,Visa,Data Science Graduate,Associate/Mid-Level,Associate/Mid-Level,0,[0],[],[],[],[]
1,Junior Data Scientist,Xsolla,Berlin,None,Entry level,2024-11-30,2024-12-09,9.0,200.0,1,...,Xsolla,Junior Data Scientist,Junior,Entry level,1,"[1, 1183]",[],[],[],[]
2,Data Scientist,Global Market Solutions - Germany,Frankfurt am Main,None,Mid-Senior level,2024-11-13,2024-12-09,26.0,200.0,1,...,Global Market Solutions - Germany,Data Scientist,Associate/Mid-Level,Associate/Mid-Level,2,"[2, 19]",[],[],[],[]
3,Data Scientist Intern,MeloTech,Berlin,None,Entry level,2024-01-31,2024-12-09,313.0,200.0,1,...,MeloTech,Data Scientist Intern,Intern,Entry level,3,"[3, 1105]",[],[],[],[]
4,Data Scientist (f/m/d),vent.io,Frankfurt am Main,None,Associate,2024-11-20,2024-12-09,19.0,200.0,1,...,vent.io,Data Scientist,Associate/Mid-Level,Associate/Mid-Level,4,[4],[],[],[],[]

In [62]:
print(len(df))
print(sum(df["similarity_results_0_90"].apply(lambda x: len(x)>0)))
print(sum(df["similarity_results_0_93"].apply(lambda x: len(x)>0)))
print(sum(df["similarity_results_0_95"].apply(lambda x: len(x)>0)))
print(sum(df["similarity_results_0_97"].apply(lambda x: len(x)>0)))

1468
125
94
86
69

In [63]:
# Extract merge group from tuple
def get_last_merge_group(x: tuple) -> int:
    if len(x) > 0: 
        return x[-1][-1]
    return pd.NA

df["similarity_results_0_90_mgroup"] = df["similarity_results_0_90"].apply(get_last_merge_group)
df["similarity_results_0_93_mgroup"] = df["similarity_results_0_93"].apply(get_last_merge_group)
df["similarity_results_0_95_mgroup"] = df["similarity_results_0_95"].apply(get_last_merge_group)
df["similarity_results_0_97_mgroup"] = df["similarity_results_0_97"].apply(get_last_merge_group)

In [64]:
df[df["similarity_results_0_97_mgroup"].isna() == False].filter(like="similarity_").head()

,similarity_results_0_90,similarity_results_0_93,similarity_results_0_95,similarity_results_0_97,similarity_results_0_90_mgroup,similarity_results_0_93_mgroup,similarity_results_0_95_mgroup,similarity_results_0_97_mgroup
57,"[(1228, 0.987, 0)]","[(1228, 0.987, 1)]","[(1228, 0.987, 2)]","[(1228, 0.987, 3)]",0,1,2,3
59,"[(256, 0.981, 4)]","[(256, 0.981, 5)]","[(256, 0.981, 6)]","[(256, 0.981, 7)]",4,5,6,7
78,"[(744, 0.919, 8), (1142, 0.979, 8)]","[(1142, 0.979, 9)]","[(1142, 0.979, 10)]","[(1142, 0.979, 11)]",8,9,10,11
82,"[(247, 1.0, 12), (424, 1.0, 12)]","[(247, 1.0, 13), (424, 1.0, 13)]","[(247, 1.0, 14), (424, 1.0, 14)]","[(247, 1.0, 15), (424, 1.0, 15)]",12,13,14,15
86,"[(1089, 0.976, 16)]","[(1089, 0.976, 17)]","[(1089, 0.976, 18)]","[(1089, 0.976, 19)]",16,17,18,19

#### Perform manual checks

In [65]:
#df.to_excel("TEMP_CHECK_CUPLIKATES_SAME_LOC_SAME_SEN_ALL4_MGROUPS2.xlsx", index=True, header=True)

In [66]:
# Having checked the data in excel, the performance of each threshold can be expressed in a confusion matrix.
#  (This is a very simplified approach, as listing were only swiftly checked.)
confusion_matrix = pd.DataFrame(
    {"090": {"FP": 26, "TN":  0, "FN":  0, "TP": 30+69},
     "093": {"FP":  9, "TN": 17, "FN": 14, "TP": 16+69},
     "095": {"FP":  7, "TN": 19, "FN": 18, "TP": 12+69},
     "097": {"FP":  0, "TN": 26, "FN": 30, "TP":  0+69}},
).T

confusion_matrix

     FP  TN  FN  TP
090  26   0   0  99
093   9  17  14  85
095   7  19  18  81
097   0  26  30  69

It is of no surprise that the more conservative threshold (0.97) does not falsely detect any duplicates, while the lowest threshold yields the most duplicates in absolute values, but also flags a lot of listings as duplicate which are in fact not duplicates.

In [67]:
# Copmute performance metrices based on data in confusion matrix
confusion_matrix["n"] = confusion_matrix.sum(axis=1)

confusion_matrix["precision"] = confusion_matrix["TP"] / (confusion_matrix["TP"] + confusion_matrix["FP"])
confusion_matrix["recall"] = confusion_matrix["TP"] / (confusion_matrix["TP"] + confusion_matrix["FN"])
confusion_matrix["f1"] = (2 * confusion_matrix["precision"] * confusion_matrix["recall"]) / (confusion_matrix["precision"] + confusion_matrix["recall"])
confusion_matrix["accuracy"] = (confusion_matrix["TP"] + confusion_matrix["TN"]) / (confusion_matrix["n"])
confusion_matrix["specificity"] = confusion_matrix["TN"] / (confusion_matrix["TN"] + confusion_matrix["FP"])

confusion_matrix.round(2)

     FP  TN  FN  TP    n  precision  recall    f1  accuracy  specificity
090  26   0   0  99  125       0.79    1.00  0.88      0.79         0.00
093   9  17  14  85  125       0.90    0.86  0.88      0.82         0.65
095   7  19  18  81  125       0.92    0.82  0.87      0.80         0.73
097   0  26  30  69  125       1.00    0.70  0.82      0.76         1.00

#### Conclusion

This approach is not perfect. There are listings being flagged as duplicates albeit differing slightly in job title or job description. 
E.g. there are listings that have similarity scores of 1.0 but different job titles: Data Scientist/Data Analyst/Data Engineer. 

Some listings that are surely identical show similarity scores of only 0.93, potentially due to "noise" in the description originating from e.g. headlines provided on the different job platforms.

With a threshold of 0.97, the comparison is therefore perhaps too strict. A threshold of 0.90 does however result in some listings beeing incorrectly flagged as duplicates.

In this case, the individual datapoints are pretty valuable. The error of dropping unique job postings that might potentially be _the_ position for an applicant outweighs keeping 2 identical postings that ultimately would only marginally affect the percentage values of job statistics displayed.

Hence, the most conservative threshold of 0.97 will be selected, which most reliably guarantees not dropping unique postings.

#### Aggregate duplicates

In [68]:
# split df into rows without any flags, and those being flagged as duplicates.
print(f"No. rows pre splitting: {len(df)}")
df_duplicates = df[df["similarity_results_0_97_mgroup"].isna() == False].copy()
print(f"No. rows in duplicates df: {len(df_duplicates)}")
df_no_duplicates = df[df["similarity_results_0_97_mgroup"].isna()].copy()
print(f"No. rows in non-duplicates df: {len(df_no_duplicates)}")

No. rows pre splitting: 1468
No. rows in duplicates df: 69
No. rows in non-duplicates df: 1399

In [69]:
df_duplicates.sort_values(by="similarity_results_0_97_mgroup").tail(6)

,title,company,location,salary,seniority_level,date_posted,date_accessed,days_online,number_applicants,job_type_Vollzeit,...,index_pre_agg,index_agg_list,similarity_results_0_90,similarity_results_0_93,similarity_results_0_95,similarity_results_0_97,similarity_results_0_90_mgroup,similarity_results_0_93_mgroup,similarity_results_0_95_mgroup,similarity_results_0_97_mgroup
1014,Senior Scientist Machine Learning – Risikomode...,HUK-COBURG Versicherungsgruppe,Coburg,None,None,None,2024-12-12,NaN,NaN,1,...,1014,[1014],"[(421, 0.903, 94), (571, 0.912, 94), (987, 0.9...","[(987, 0.983, 146), (1050, 0.99, 146)]","[(987, 0.983, 147), (1050, 0.99, 147)]","[(987, 0.983, 148), (1050, 0.99, 148)]",94,146,147,148
1050,Senior Scientist Machine Learning – Causal Mac...,HUK-COBURG Versicherungsgruppe,Coburg,None,None,None,2024-12-12,NaN,NaN,1,...,1050,[1050],"[(421, 0.912, 94), (571, 0.903, 94), (987, 0.9...","[(987, 0.982, 146), (1014, 0.99, 146)]","[(987, 0.982, 147), (1014, 0.99, 147)]","[(987, 0.982, 148), (1014, 0.99, 148)]",94,146,147,148
1596,Data Analytics Consultant (m/w/d),rheindata GmbH,Köln,None,None,2024-12-05,2024-12-13,8.0,NaN,1,...,1596,[1596],"[(1597, 1.0, 167)]","[(1597, 1.0, 168)]","[(1597, 1.0, 169)]","[(1597, 1.0, 170)]",167,168,169,170
1597,Data Analytics Consultant Frontend (m/w/d),rheindata GmbH,Köln,None,None,2024-12-05,2024-12-13,8.0,NaN,1,...,1597,[1597],"[(1596, 1.0, 167)]","[(1596, 1.0, 168)]","[(1596, 1.0, 169)]","[(1596, 1.0, 170)]",167,168,169,170
1611,"Principal, Same Day, Long-term planning",Amazon Europe Core,Luxembourg,None,None,2024-12-12,2024-12-13,1.0,NaN,1,...,1611,[1611],"[(1612, 0.988, 171)]","[(1612, 0.988, 172)]","[(1612, 0.988, 173)]","[(1612, 0.988, 174)]",171,172,173,174
1612,"Principal, Same Day Long-Term Planning",Amazon Europe Core,Luxembourg,None,None,2024-12-12,2024-12-13,1.0,NaN,1,...,1612,[1612],"[(1611, 0.988, 171)]","[(1611, 0.988, 172)]","[(1611, 0.988, 173)]","[(1611, 0.988, 174)]",171,172,173,174

In [70]:
# Keep all original columns. Use similar aggregation functions as before.
group_by_columns = ["similarity_results_0_97_mgroup"]

# set aggregation to max for numeric values (except index), 
# and first for object types (except source, which will be concatenated)
aggregation_functions = {col: "first" if df_duplicates[col].dtype == "O" else "max" for col in df_duplicates.columns}

aggregation_functions.update(index_pre_agg = min)
aggregation_functions.update(index_agg_list = sum)
aggregation_functions.update(source_id = sum)

aggregation_functions

{'title': 'first',
 'company': 'first',
 'location': 'first',
 'salary': 'first',
 'seniority_level': 'first',
 'date_posted': 'first',
 'date_accessed': 'first',
 'days_online': 'max',
 'number_applicants': 'max',
 'job_type_Vollzeit': 'max',
 'job_type_Teilzeit': 'max',
 'job_type_Festanstellung': 'max',
 'job_type_BefristeterVertrag': 'max',
 'job_type_Homeoffice': 'max',
 'job_type_FreieMitarbeit': 'max',
 'job_type_Traineeprogramm': 'max',
 'job_type_Berufsausbildung': 'max',
 'job_type_Praktikum': 'max',
 'job_type_Werkstudent': 'max',
 'job_description_anonymized': 'first',
 'source_id': <function sum(iterable, /, start=0)>,
 'location_clean': 'first',
 'company_clean_ish': 'first',
 'company_clean': 'first',
 'title_clean': 'first',
 'seniority_level_new': 'first',
 'seniority_level_5': 'first',
 'index_pre_agg': <function min>,
 'index_agg_list': <function sum(iterable, /, start=0)>,
 'similarity_results_0_90': 'first',
 'similarity_results_0_93': 'first',
 'similarity_results_0_95': 'first',
 'similarity_results_0_97': 'first',
 'similarity_results_0_90_mgroup': 'first',
 'similarity_results_0_93_mgroup': 'first',
 'similarity_results_0_95_mgroup': 'first',
 'similarity_results_0_97_mgroup': 'first'}

In [71]:
df_len_pre = len(df_duplicates)
print("number of rows before aggregation:", df_len_pre)

# Aggregate; Restore original index and order
df_duplicates = df_duplicates.groupby(group_by_columns, as_index=False) \
    .agg(aggregation_functions).reset_index(drop=True)
df_duplicates.index = df_duplicates["index_pre_agg"].to_list()
df_duplicates = df_duplicates.sort_index()

print(f"number of rows after aggregation: {len(df_duplicates)} (dif: {df_len_pre - len(df_duplicates)})")

number of rows before aggregation: 69
number of rows after aggregation: 33 (dif: 36)

In [72]:
df_duplicates.tail()

,title,company,location,salary,seniority_level,date_posted,date_accessed,days_online,number_applicants,job_type_Vollzeit,...,index_pre_agg,index_agg_list,similarity_results_0_90,similarity_results_0_93,similarity_results_0_95,similarity_results_0_97,similarity_results_0_90_mgroup,similarity_results_0_93_mgroup,similarity_results_0_95_mgroup,similarity_results_0_97_mgroup
798,"Applied Scientist, Amazon Nova",Amazon Development Center Germany GmbH,Aachen,None,None,None,2024-12-12,NaN,NaN,1,...,798,"[798, 924]","[(924, 1.0, 131)]","[(924, 1.0, 132)]","[(924, 1.0, 133)]","[(924, 1.0, 134)]",131,132,133,134
957,(Senior) Data Scientist (m/w/d) – Schwerpunkt ...,Ausbildung.de,Bochum,55.000 € – 80.000 € pro Jahr,None,2024-12-11,2024-12-12,2.0,NaN,1,...,957,"[957, 1314, 1171]","[(1171, 0.974, 142)]","[(1171, 0.974, 143)]","[(1171, 0.974, 144)]","[(1171, 0.974, 145)]",142,143,144,145
987,Senior Scientist Machine Learning / Deep Learn...,HUK-COBURG Versicherungsgruppe,Coburg,None,None,None,2024-12-12,NaN,NaN,1,...,987,"[987, 1014, 1050]","[(1014, 0.983, 94), (1050, 0.982, 94)]","[(1014, 0.983, 146), (1050, 0.982, 146)]","[(1014, 0.983, 147), (1050, 0.982, 147)]","[(1014, 0.983, 148), (1050, 0.982, 148)]",94,146,147,148
1596,Data Analytics Consultant (m/w/d),rheindata GmbH,Köln,None,None,2024-12-05,2024-12-13,8.0,NaN,1,...,1596,"[1596, 1597]","[(1597, 1.0, 167)]","[(1597, 1.0, 168)]","[(1597, 1.0, 169)]","[(1597, 1.0, 170)]",167,168,169,170
1611,"Principal, Same Day, Long-term planning",Amazon Europe Core,Luxembourg,None,None,2024-12-12,2024-12-13,1.0,NaN,1,...,1611,"[1611, 1612]","[(1612, 0.988, 171)]","[(1612, 0.988, 172)]","[(1612, 0.988, 173)]","[(1612, 0.988, 174)]",171,172,173,174

In [73]:
# Merge aggregated df_duplicate with df again
print(len(df))
df = pd.concat([df_no_duplicates, df_duplicates])
print(len(df))

1468
1432

In [74]:
df.head()

,title,company,location,salary,seniority_level,date_posted,date_accessed,days_online,number_applicants,job_type_Vollzeit,...,index_pre_agg,index_agg_list,similarity_results_0_90,similarity_results_0_93,similarity_results_0_95,similarity_results_0_97,similarity_results_0_90_mgroup,similarity_results_0_93_mgroup,similarity_results_0_95_mgroup,similarity_results_0_97_mgroup
0,Data Science Graduate,Visa,Berlin,None,Associate,2024-11-22,2024-12-09,17.0,200.0,1,...,0,[0],[],[],[],[],<NA>,<NA>,<NA>,<NA>
1,Junior Data Scientist,Xsolla,Berlin,None,Entry level,2024-11-30,2024-12-09,9.0,200.0,1,...,1,"[1, 1183]",[],[],[],[],<NA>,<NA>,<NA>,<NA>
2,Data Scientist,Global Market Solutions - Germany,Frankfurt am Main,None,Mid-Senior level,2024-11-13,2024-12-09,26.0,200.0,1,...,2,"[2, 19]",[],[],[],[],<NA>,<NA>,<NA>,<NA>
3,Data Scientist Intern,MeloTech,Berlin,None,Entry level,2024-01-31,2024-12-09,313.0,200.0,1,...,3,"[3, 1105]",[],[],[],[],<NA>,<NA>,<NA>,<NA>
4,Data Scientist (f/m/d),vent.io,Frankfurt am Main,None,Associate,2024-11-20,2024-12-09,19.0,200.0,1,...,4,[4],[],[],[],[],<NA>,<NA>,<NA>,<NA>

#### Clean up source column

In [75]:
df["source_id"].value_counts()

source_id
[1]          640
[2]          319
[3]          302
[1, 2]        84
[2, 3]        28
[1, 1]        21
[2, 2]        14
[1, 3]        11
[1, 2, 3]      4
[1, 2, 2]      2
[3, 3]         2
[2, 2, 3]      1
[1, 1, 1]      1
[1, 1, 2]      1
[2, 3, 2]      1
[2, 2, 2]      1
Name: count, dtype: int64

In [76]:
df["source_id"] = df["source_id"].apply(lambda x: ", ".join(map(str, set(x))))

df["source_id"].value_counts()

source_id
1          662
2          334
3          304
1, 2        87
2, 3        30
1, 3        11
1, 2, 3      4
Name: count, dtype: int64

## Job Titles 2 - Categorization

### Use ChatGPT to categorize job titles

In [77]:
# Export pre-cleaned job title column where gender-specifications (e.g. "m/w/d") were removed.
# This reduces redundant characters in the strings and potentially eases the categorization.
df["title_clean"].value_counts()

title_clean
Data Scientist                             85
Senior Data Scientist                      44
Data Analyst                               21
Data Engineer                              21
Machine Learning Engineer                  15
                                           ..
Data Engineer / Analyst                     1
Head of / VP - Data Experience              1
Trainee Analytics Engineer                  1
Business Intelligence Workshop              1
Principal, Same Day, Long-term planning     1
Name: count, Length: 1062, dtype: int64

In [78]:
job_titles = pd.Series(df["title_clean"].unique(), name="job_titles")
#job_titles.to_csv("_ChatGPT/job_titles.csv", header=True, index=False)

#### ChatGPT prompt: 
"I will attach a csv file with around 1000 job titles associated with data focused work in the first column. 
I would like you to categorize these into 10 categories including a category "other", and store these in the second column of the attached csv file."

**Response:**

Understood! Please attach the CSV file, and I will process it for you. I’ll analyze the job titles, assign one of 10 categories to each (including "Other" for ambiguous or uncategorizable titles), and update the second column with the assigned category.
The uploaded file contains a single column labeled **"job_titles"** with job titles related to data-focused work. I’ll proceed by categorizing these titles into 10 categories, including an "Other" category for uncategorizable titles. Here’s how I’ll organize it:

Tentative Categories:
- Data Scientist
- Data Analyst
- Machine Learning Engineer
- Data Engineer
- Business Intelligence (BI)
- Research Scientist
- Statistician
- AI/ML Specialist
- Data Consultant
- Other

Let me categorize them now. ​​

The job titles have been categorized, and a new "Category" column has been added to the DataFrame. For example:
- Junior Data Scientist → Data Scientist
- Applied Scientist, Fintech (Fraud) → Other

I’ll now save the updated CSV file with these categories. ​​

The categorized job titles have been saved. You can download the updated file using the link below:

In [79]:
job_titles_with_categories = pd.read_csv("_ChatGPT/job_titles_with_categories.csv")

In [80]:
# explore provided results
job_titles_with_categories.head()

                           job_titles        Category
0               Data Science Graduate           Other
1               Junior Data Scientist  Data Scientist
2                      Data Scientist  Data Scientist
3               Data Scientist Intern  Data Scientist
4  Applied Scientist, Fintech (Fraud)           Other

In [81]:
job_titles_with_categories["Category"].value_counts()

Category
Other                         342
Data Scientist                200
Data Engineer                 145
Data Analyst                  128
AI/ML Specialist               72
Machine Learning Engineer      69
Research Scientist             47
Data Consultant                35
Business Intelligence (BI)     24
Statistician                    1
Name: count, dtype: int64

#### Inspect ChatGPT's analysis

In [82]:
# Load the uploaded CSV file
#job_titles_df = pd.read_csv(file_path)
job_titles_df = pd.DataFrame(job_titles)

# Define a function to categorize job titles
def categorize_job_title(title):
    title_lower = title.lower()
    
    if "data scientist" in title_lower:
        return "Data Scientist"
    elif "analyst" in title_lower:
        return "Data Analyst"
    elif "machine learning" in title_lower or "ml engineer" in title_lower:
        return "Machine Learning Engineer"
    elif "data engineer" in title_lower or "engineer" in title_lower:
        return "Data Engineer"
    elif "business intelligence" in title_lower or "bi " in title_lower:
        return "Business Intelligence (BI)"
    elif "research scientist" in title_lower or "research" in title_lower:
        return "Research Scientist"
    elif "statistician" in title_lower or "statistics" in title_lower:
        return "Statistician"
    elif "ai" in title_lower or "artificial intelligence" in title_lower:
        return "AI/ML Specialist"
    elif "consultant" in title_lower:
        return "Data Consultant"
    else:
        return "Other"

# Apply the categorization function to the job titles
job_titles_df['Category'] = job_titles_df['job_titles'].apply(categorize_job_title)
job_titles_df.head()

                           job_titles        Category
0               Data Science Graduate           Other
1               Junior Data Scientist  Data Scientist
2                      Data Scientist  Data Scientist
3               Data Scientist Intern  Data Scientist
4  Applied Scientist, Fintech (Fraud)           Other

#### Apply function to existing dataframe

In [83]:
# Use function to add new column to existing data frame
df["title_short_ChatGPT"] = df["title_clean"].apply(categorize_job_title)

In [84]:
df.filter(like="title").head()

                    title            title_clean title_short_ChatGPT
0   Data Science Graduate  Data Science Graduate               Other
1   Junior Data Scientist  Junior Data Scientist      Data Scientist
2          Data Scientist         Data Scientist      Data Scientist
3   Data Scientist Intern  Data Scientist Intern      Data Scientist
4  Data Scientist (f/m/d)         Data Scientist      Data Scientist

In [85]:
df["title_short_ChatGPT"].value_counts()

title_short_ChatGPT
Data Scientist                394
Other                         369
Data Engineer                 205
Data Analyst                  161
Machine Learning Engineer      93
AI/ML Specialist               84
Research Scientist             50
Data Consultant                50
Business Intelligence (BI)     25
Statistician                    1
Name: count, dtype: int64

#### Fine-Tuning 1:

Can you update your code such that e.g. "Data Science Intern" will also be categorized as "Data Scientist"? And can you please refine the condition for "data analyst", since "analyst" alone will also trigger e.g. "Business Analyst".

**Response:**

Got it! I'll refine the code to ensure more accurate categorization. Here's what I'll adjust:

1. "Data Science Intern" and similar titles will be categorized as "Data Scientist."
2. Refined categorization for "Data Analyst":
- Only match titles that explicitly mention "Data Analyst" instead of just "analyst" (to avoid misclassifications like "Business Analyst").

Let me implement these refinements now.

In [86]:
# Refine the categorization function
def refined_categorize_job_title(title):
    title_lower = title.lower()
    
    if "data scientist" in title_lower or "data science" in title_lower:
        return "Data Scientist"
    elif "data analyst" in title_lower:
        return "Data Analyst"
    elif "machine learning" in title_lower or "ml engineer" in title_lower:
        return "Machine Learning Engineer"
    elif "data engineer" in title_lower:
        return "Data Engineer"
    elif "business intelligence" in title_lower or "bi " in title_lower:
        return "Business Intelligence (BI)"
    elif "research scientist" in title_lower or "research" in title_lower:
        return "Research Scientist"
    elif "statistician" in title_lower or "statistics" in title_lower:
        return "Statistician"
    elif "ai" in title_lower or "artificial intelligence" in title_lower:
        return "AI/ML Specialist"
    elif "consultant" in title_lower:
        return "Data Consultant"
    else:
        return "Other"

# Apply the refined categorization function to the job titles
# updated_job_titles_df['Category'] = updated_job_titles_df['job_titles'].apply(refined_categorize_job_title)

# Preview the updated DataFrame with refined categories
# updated_job_titles_df.head()

In [87]:
df["title_short_ChatGPT2"] = df["title_clean"].apply(refined_categorize_job_title)

In [88]:
df.filter(like="title")[(df["title_short_ChatGPT"] != df["title_short_ChatGPT2"])]

,title,title_clean,title_short_ChatGPT,title_short_ChatGPT2
0,Data Science Graduate,Data Science Graduate,Other,Data Scientist
9,AI Engineer,AI Engineer,Data Engineer,AI/ML Specialist
13,Data Science Intern,Data Science Intern,Other,Data Scientist
24,AI&Business Analyst / Consultant (Remote Inter...,AI&Business Analyst / Consultant (Remote Inter...,Data Analyst,AI/ML Specialist
27,AI Engineer (Intern),AI Engineer (Intern),Data Engineer,AI/ML Specialist
...,...,...,...,...
1613,Solutions Engineer,Solutions Engineer,Data Engineer,Other
120,Bachelor of Science (m/w/d) Data Science und K...,Bachelor of Science Data Science und Künstlic...,Other,Data Scientist
213,Research Associate for the Project “DASHH - Da...,Research Associate for the Project “DASHH - Da...,Research Scientist,Data Scientist
250,Senior Software Engineer (Python),Senior Software Engineer (Python),Data Engineer,Other
293,Praktikum: Data Science (w/m/d),Praktikum: Data Science,Other,Data Scientist

In [89]:
df.loc[(df["title_short_ChatGPT"] != df["title_short_ChatGPT2"]), "title_short_ChatGPT2"].value_counts()

title_short_ChatGPT2
Other                         113
Data Scientist                106
AI/ML Specialist               46
Business Intelligence (BI)     23
Research Scientist              7
Data Engineer                   1
Data Consultant                 1
Name: count, dtype: int64

In [90]:
df.loc[(df["title_short_ChatGPT"] != df["title_short_ChatGPT2"]), "title_short_ChatGPT"].value_counts()

title_short_ChatGPT
Data Engineer                 130
Data Analyst                   74
Other                          57
AI/ML Specialist               21
Data Consultant                 8
Machine Learning Engineer       2
Research Scientist              2
Business Intelligence (BI)      2
Statistician                    1
Name: count, dtype: int64

In [91]:
# The provided category "AI/ML Specialist" seems a bit inflated and not too accurate.
# -> There do exist many jobs titled "AI Engineer"
df.loc[df["title_short_ChatGPT2"] == "AI/ML Specialist", "title"].sort_values().unique()

array(['(Junior) AI Engineer (m/w/d)',
       '(Junior) Consultant | Gen AI Finance (m/w/d)',
       '(Senior) Consultant AI Specialist (m/w/d)',
       '(Senior) Consultant Tech & AI Implementation (m/w/d)',
       '(Senior) Data & AI PreSales Consultant (m/w/d)',
       'AI & Data - Analyst',
       'AI (Agent) Engineer (f/m/d) | Jobs at VisionAI - Jobs',
       'AI Architect & Optimization Specialist (m/w/d)',
       'AI Cloud Engineer', 'AI Consultant', 'AI Developer',
       'AI Developer (m/w/d)', 'AI Engineer', 'AI Engineer (Intern)',
       'AI Engineer (Senior)', 'AI Engineer (m/w/d)',
       'AI Engineer - Germany (Remote)',
       'AI Engineer / AI Developer (m/w/d) bei einem SaaS-Unternehmen aus Würzburg (Full-Remote oder vor Ort)',
       'AI Engineer for AI Startup',
       'AI Engineer mit Schwerpunkt NLP (m/w/d)', 'AI Lead',
       'AI Platform Engineer (all genders)',
       'AI Software Developer in Test (f/m/d)', 'AI Software Engineer',
       'AI Software Engineer (w/m/x)', 'AI consultant  - Energy',
       'AI&Business Analyst / Consultant (Remote Internship)',
       'AI-Engineer/Vollzeit', "Aignostics' Talent Community",
       'Applied Scientist II (L5), AFT AI, Amazon AFT AI',
       'Artificial Intelligence Engineer',
       'Artificial Intelligence Specialist',
       'Artificial Intelligence Specialist (w/m/d)',
       'Associate / (Senior) AI Technology Consultant (m/w/d)',
       'Chief AI Engineer', 'Chief Commercial Officer - AI (Berlin)',
       'Consultant AI & Analytics',
       'Consultant Künstliche Intelligenz / Artificial Intelligence Energy (m/w/d)',
       'Consultant im Bereich Energy, Transformation & Sustainability (m/w/x)',
       'Controlling & Analytics Trainee (m/w/d)',
       'Data & AI Business Consultant (m/w/d)', 'Data & AI Scientist',
       'Data & AI Scientist Personalized Computational Genomics (all genders)',
       'Data & AI Strategist (m/f/d)',
       'Data Analytics Training & Internship',
       'Data Architect AI/ML (m/w/d) | Jobs bei Pexon Consulting GmbH',
       'Data and AI Director', 'Data and AI Partner',
       'DevOps & Cloud Engineer - Data Analytics & AI',
       'Director of AI Engineering', 'Engagement Manager (Data & AI)',
       'Engineer AI (m/w/d)',
       'Engineering Manager - Applied Generative AI (all genders) @ Babbel | NGP Capital Job Board',
       'GOglobal Trainee Data & AI (all genders)',
       'Generative AI Engineer',
       'Generative AI Explorer (Stable Diffusion, ControlNet...)',
       'Google Cloud AI/ML Consultant (m/w/d)',
       'Government Affairs Specialist', 'Head of AI',
       'Head of AI (all genders)', 'Head of AI (m / f / d)',
       'Head of Artificial Intelligence',
       'Innovation Cup 2025 - Team Neuroinspired AI inference acceleration (all genders)',
       'Intern AI-based Recommender Systems (f/m/x)',
       'Intern Artificial Intelligence (m/f/d)*',
       'Junior AI Platform Engineer or Working Student (all genders)',
       'Junior Techno-Economic & Sustainability Analyst',
       'Lead AI Engineer | Jobs at ES-Tec GmbH',
       'Lead Consultant AI (Ref:IgLWy)',
       'ML / AI Engineer Intern (m/f/d)',
       'Postdoctoral Scientist for Artificial Intelligence in Oncology',
       'Product Analytics Associate (Based in Dubai)',
       'Python Developer (m/f/d) in the field of ML and AI',
       'Robotics and Autonomous Systems / Robotics and AI Engineer',
       'Scientist Biotic Stress Trait Development (m/f/d)',
       'Scientist at innoFSPEC, AIP Technology Transfer',
       'Senior AI Developer f/m/d', 'Senior AI Engineer',
       'Senior AI Engineer (m/f/d)',
       'Senior AI Scientist (f/m/d): SAP Business AI - SAP Knowledge Graph',
       'Senior ML / AI Engineer', 'Senior Staff AI Engineer',
       'Software & AI Engineer in Health (all genders)',
       'Sr Scientist I, AI / ML', 'Staff ML / AI Engineer',
       'Supply- Chain- Daten Analyst:in (m/w/d) - unbefristet',
       'Trainee AI Engineer (m/w/d) - 12 Monate',
       'Trainee Analytics Engineer', 'Trainee Data Analytics (m/w/d)',
       'Werkstudent AI & Digital Transformation (m/w/d)',
       'Werkstudent AI Developer- Taktile Robot Skills (m/w/d)',
       'Working Student (Sustainability)',
       'Working Student - ML/AI Developer – Document Understanding (m/w/d)',
       'Working Student AI (m/f/x)',
       'Working Student AI/ML (all genders) - (Any location in Germany)',
       'Working Student Artificial Intelligence (m/w/d)'], dtype=object)

In [92]:
# Also, provided category "Statistician" does not appear anymore.
df["title_short_ChatGPT2"].value_counts()

title_short_ChatGPT2
Data Scientist                500
Other                         425
AI/ML Specialist              109
Machine Learning Engineer      91
Data Analyst                   87
Data Engineer                  76
Research Scientist             55
Business Intelligence (BI)     46
Data Consultant                43
Name: count, dtype: int64

#### Fine-Tuning 2:
Can you drop the category "Statistician" and instead include the category "AI Engineer"?


**Response:**

Understood! I will update the code to:

1. Remove the "Statistician" category.
2. Add an "AI Engineer" category to classify relevant titles such as those mentioning "AI Engineer" or similar terms.
Let me make these changes now.

The categorization function has been updated:

1. "Statistician" category removed.
2. Added "AI Engineer" category for relevant titles like "AI Engineer" or "AI" with "Engineer."

The updated categories are now applied to the job titles. I’ll save this refined file for you. ​

In [93]:
# Update the categorization function to remove "Statistician" and add "AI Engineer"
def updated_categorize_job_title(title):
    title_lower = title.lower()
    
    if "data scientist" in title_lower or "data science" in title_lower:
        return "Data Scientist"
    elif "data analyst" in title_lower:
        return "Data Analyst"
    elif "machine learning" in title_lower or "ml engineer" in title_lower:
        return "Machine Learning Engineer"
    elif "data engineer" in title_lower:
        return "Data Engineer"
    elif "business intelligence" in title_lower or "bi " in title_lower:
        return "Business Intelligence (BI)"
    elif "research scientist" in title_lower or "research" in title_lower:
        return "Research Scientist"
    elif "ai engineer" in title_lower or ("ai" in title_lower and "engineer" in title_lower):
        return "AI Engineer"
    elif "ai" in title_lower or "artificial intelligence" in title_lower:
        return "AI/ML Specialist"
    elif "consultant" in title_lower:
        return "Data Consultant"
    else:
        return "Other"

# Apply the updated categorization function to the job titles
# updated_job_titles_df['Category'] = updated_job_titles_df['job_titles'].apply(updated_categorize_job_title)

# # Preview the updated DataFrame
# updated_job_titles_df.head()

In [94]:
df["title_short_ChatGPT3"] = df["title_clean"].apply(updated_categorize_job_title)

In [95]:
df.filter(like="title")[(df["title_short_ChatGPT3"] != df["title_short_ChatGPT2"])]

,title,title_clean,title_short_ChatGPT,title_short_ChatGPT2,title_short_ChatGPT3
9,AI Engineer,AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
27,AI Engineer (Intern),AI Engineer (Intern),Data Engineer,AI/ML Specialist,AI Engineer
31,ML / AI Engineer Intern (m/f/d),ML / AI Engineer Intern,Data Engineer,AI/ML Specialist,AI Engineer
52,AI Engineer for AI Startup,AI Engineer for AI Startup,Data Engineer,AI/ML Specialist,AI Engineer
72,(Junior) AI Engineer (m/w/d),(Junior) AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
87,AI Engineer,AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
105,AI Engineer - Germany (Remote),AI Engineer - Germany (Remote),Data Engineer,AI/ML Specialist,AI Engineer
112,Robotics and Autonomous Systems / Robotics and...,Robotics and Autonomous Systems / Robotics and...,Data Engineer,AI/ML Specialist,AI Engineer
117,AI Engineer,AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
160,AI Engineer mit Schwerpunkt NLP (m/w/d),AI Engineer mit Schwerpunkt NLP,Data Engineer,AI/ML Specialist,AI Engineer
164,AI Software Engineer,AI Software Engineer,Data Engineer,AI/ML Specialist,AI Engineer
179,AI Engineer (Senior),AI Engineer (Senior),Data Engineer,AI/ML Specialist,AI Engineer
203,Junior AI Platform Engineer or Working Student...,Junior AI Platform Engineer or Working Student,Data Engineer,AI/ML Specialist,AI Engineer
294,Chief AI Engineer,Chief AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
302,Senior Staff AI Engineer,Senior Staff AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
349,Engineer AI (m/w/d),Engineer AI,Data Engineer,AI/ML Specialist,AI Engineer
351,Trainee AI Engineer (m/w/d) - 12 Monate,Trainee AI Engineer - 12 Monate,Data Engineer,AI/ML Specialist,AI Engineer
427,AI-Engineer/Vollzeit,AI-Engineer/Vollzeit,Data Engineer,AI/ML Specialist,AI Engineer
442,Senior AI Engineer (m/f/d),Senior AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
463,Senior AI Engineer,Senior AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
475,Generative AI Engineer,Generative AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
478,AI Software Engineer (w/m/x),AI Software Engineer,Data Engineer,AI/ML Specialist,AI Engineer
495,AI Engineer (m/w/d),AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
545,AI Platform Engineer (all genders),AI Platform Engineer,Data Engineer,AI/ML Specialist,AI Engineer
563,Trainee Analytics Engineer,Trainee Analytics Engineer,Data Engineer,AI/ML Specialist,AI Engineer
572,AI Engineer (m/w/d),AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
604,Software & AI Engineer in Health (all genders),Software & AI Engineer in Health,Data Engineer,AI/ML Specialist,AI Engineer
674,Director of AI Engineering,Director of AI Engineering,Data Engineer,AI/ML Specialist,AI Engineer
712,AI Engineer (m/w/d),AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
760,AI Engineer / AI Developer (m/w/d) bei einem S...,AI Engineer / AI Developer bei einem SaaS-Unt...,Data Engineer,AI/ML Specialist,AI Engineer
762,Senior ML / AI Engineer,Senior ML / AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
766,AI Engineer,AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
1048,Staff ML / AI Engineer,Staff ML / AI Engineer,Data Engineer,AI/ML Specialist,AI Engineer
1359,DevOps & Cloud Engineer - Data Analytics & AI,DevOps & Cloud Engineer - Data Analytics & AI,Data Engineer,AI/ML Specialist,AI Engineer
1377,AI Cloud Engineer,AI Cloud Engineer,Data Engineer,AI/ML Specialist,AI Engineer
1409,Lead AI Engineer | Jobs at ES-Tec GmbH,Lead AI Engineer | Jobs at ES-Tec GmbH,Data Engineer,AI/ML Specialist,AI Engineer
1410,AI (Agent) Engineer (f/m/d) | Jobs at VisionAI...,AI (Agent) Engineer | Jobs at VisionAI - Jobs,Data Engineer,AI/ML Specialist,AI Engineer
1412,Engineering Manager - Applied Generative AI (a...,Engineering Manager - Applied Generative AI @...,Data Engineer,AI/ML Specialist,AI Engineer

In [96]:
df["title_short_ChatGPT3"].value_counts()

title_short_ChatGPT3
Data Scientist                500
Other                         425
Machine Learning Engineer      91
Data Analyst                   87
Data Engineer                  76
AI/ML Specialist               71
Research Scientist             55
Business Intelligence (BI)     46
Data Consultant                43
AI Engineer                    38
Name: count, dtype: int64

In [97]:
# See if category "Other" could potentially be further classified (does not seem to be the case).
df.loc[df["title_short_ChatGPT3"] == "Other", "title_clean"].sort_values().unique()

array(['(Advanced) Data Developer', '(Junior) Data Product Associate',
       '(Junior) Digital Produktmanager  AurumCars',
       '(Junior) Digital Produktmanager  Mietwagen',
       '(Junior) Digital Produktmanager  Payment Mietwagen',
       '(Junior) Online-Marketing Produktmanager  Mietwagen',
       '(Junior) Product Manager Financial Services',
       '(Junior) Produktmanager  Chatbot Mietwagen',
       '(Junior) Produktmanager  Operations Analytics Mietwagen',
       '(Junior) Produktmanager  SEO-Automatisierung Mietwagen',
       '(Junior) Produktmanager / Operationsmanager  Automatisierung Mietwagen',
       '(Junior) Specialist ESG Reporting',
       '(Junior) Technischer Produktmanager  Partnermanagement Mietwagen',
       '(Senior) Biochemist / Biopyhsicist',
       '(Senior) Data & Survey Engineer , Quantitative Marktforschung',
       '(Senior) DevOps Data Integration Engineer',
       '(Senior) Scientist Primary Pharmacology of the Target Incubator Unit',
       '(Senior-) Software Engineer', '1D/2D MATERIAL SCIENTIST',
       '2025 Applied Scientist Internship, Amazon University Talent Acquisition',
       'Abschlussarbeit im Bereich Datenstrategie und Künstliche Intelligenz',
       'Abschlussarbeit im Bereich: KI basierte Generierung von Schiffsgeräuschen',
       'Abschlussarbeit zum Thema: „Generative KI"',
       'Account Manager:in für Sound Branding, Podcasts und Audiospots',
       'Analyst  Short Term Trading in Renewable Energies',
       'Analyst & Marketing Technology Manager',
       'Analytics & Insights Internship', 'Analytics Engineer',
       'Analytics Engineer - Graduate (Hybrid;/d)',
       'Analytics Engineering Lead',
       'Analytics and Insight Professional, Amazon Advertising, Analytics and Insights',
       'Applied Scientist, Amazon Nova',
       'Applied Scientist, Amazon Robotics R&D',
       'Applied Scientist, Artificial General Intelligence, AGI Information',
       'Applied Scientist, Content Systems Science and Engineering, Amazon',
       'Applied Scientist, Fintech (Fraud)',
       'Assistant  Databases and Data Analysis',
       'Associate - Index Operations',
       'Associate Special Project, Esports',
       'Atomic, Molecular, and Optical Physicist',
       'Bachelor-/Master Thesis »Full-field Thermo-mechanical Characterization of Glass Materials«',
       'Bachelor/ Master Thesis: Methane leak localization from ambient data',
       'Backend Developer', 'Backend Software Engineer - Remote',
       'Battery Scientist', 'Bench Scientist',
       'Beschäftigte/r Qualitätsmanagement und Datenanalyse',
       'Big Data Architect', 'Big Data DevOps Engineer  | (DSIDMG)',
       'Bilanzmathematiker / Statistiker', 'Bioinformatician',
       'Bioinformatician  Immunogenetics',
       'Bioinformatician  in immunopeptidomics',
       'Bloomwell - Working Student Data & Analytics *',
       'Breeding Informatics Analyst  Full Time - in Tübingen',
       'Business  Development Manger', 'Business Analyst',
       'Business Analyst  – Data Analytics Vertriebsplanung | Banking',
       'Business Analyst - Marketing Planning und Forecasting',
       'Business Analyst / Controller',
       'Business Analyst Data Management', 'Business Analyst Intern',
       'Business Analyst – Data Quality',
       'Business Process Analyst – Marketing & Sales',
       'COMPUTATIONAL GENOMICS SCIENTIST , Referenz: „51004-24-05-WAPRO“',
       'CRA/SCRA', 'CRM Data Specialist *', 'Carbon Project Risk Analyst',
       'Certified Strength and Conditioning Specialist',
       'Chemical Technical Assistant', 'Chief Data Officer',
       'Chief Technology Officer',
       'Chief Technology Officer - Must be based in Germany',
       'Climate Risk Intern *', 'Cloud Engineer',
       'Computational Biologist', 'Computational Chemist Lead',
       'Computational Materials Scientist*',
       'Computer Scientist | InformatikerIn | Software EntwicklerIn für klinische KI-Forschung und Anwendung',
       'Computer Scientist – Mendel Verlag', 'Computer Vision Engineer',
       'Consulting & Analytics Summer Intern',
       'Create a DataCamp Course - Cloud (Part-Time, Freelance)',
       'DWH Analyst', 'DWH-Entwickler', 'Data / Analytics Engineer',
       'Data Analysis Expert Battery Test Field',
       'Data Analysis, Modeling & Simulation Engineer',
       'Data Analytics Architect', 'Data Analytics Engineer',
       'Data Analytics Specialist', 'Data Architect', 'Data Architekt',
       'Data Assimilation Scientist', 'Data Enthusiast',
       'Data Integrity Specialist Pharma', 'Data Product Manager',
       'Data Quality Manager', 'Data Reporting Analyst',
       'Data Solutions Specialist', 'Data Specialist',
       'Data Steward SAP S/4HANA - "Business Partner"',
       'Data Team Manager', 'Data and Reporting Analyst', 'Data-Analyst',
       'Data-Scientist/MLOps - KI-basiertes Recycling',
       'Data/Software Engineer', 'Datenanalyst',
       'Datenanalyst  im Bereich Energiewirtschaft',
       'Datenanalyst  im Vertriebsmanagement',
       'Datenanalyst für Logistikprozesse', 'Datenanalyst:in Metering',
       'Datenanalysten/in  für Modelle in der konjunkturstatistischen Erhebung im Gastgewerbe',
       'Datenarchitekt Versicherungsplattform', 'Decision Scientist',
       'Detector Calibration and Characterisation Scientist',
       'Deutsche Bank Graduate Programme  Technology, Data & Innovation 2025',
       'Digital Marketing & Data Analytics Manager',
       'Digital Trust and Safety Analyst with German',
       'Director, Clinical Scientist',
       'Doktorand für die Konzipierung und Implementierung von KI-gestützten Produktionssystemen',
       'Dr. rer. nat. Physik / Chemie / Materialwissenschaften - Teamleitung & Projektmanagement',
       'E-Commerce Analyst & Marketing Support Manager (Kaufmann/-frau - E-Commerce)',
       'EMEA - Solutions Engineer',
       'ERP Business Analyst, Microsoft Business Central  Digital Development',
       'ERP Business Analyst, SAP  Digital Development',
       'ETL-Entwickler  Azure Data Factory',
       'Economic Modeller / Contract Role  Full Remote',
       'Electrical Engineer or Computer Scientist  in Technical Support / Automation Technology',
       'Enterprise Solutions Engineer, Germany',
       'Experte für Fahrzeug Telematikdaten und Datenanalysen',
       'Experte für Fahrzeug-Telematikdaten und Datenanalysen  - hybrides Arbeiten (Remote & Präsenz)',
       'Fachkraft für den Bereich Einnahmeaufteilung & Statistik',
       'Fachreferent/in für Künstliche Intelligenz A13/E13',
       'Field Application Scientist, EMEA',
       'Financial Analyst - Intern (Remote Internship - Finance)',
       'Financial Analyst Intern',
       'Financial Data Specialist  Corporate Actions Shares & Funds',
       'Financial Data Specialist  – Masterdata Shares / Funds',
       'Financial Data Specialist – Bonds / Wertpapiere',
       'Financial Engineer', 'Financial Engineer Expert',
       'Founding Software Engineer', 'Fraud Analyst',
       'Fraud Fighter Wanted', 'Fraud Operations Specialist',
       'Full Stack Entwickler',
       'Global Engineer - Real World Evidence - Europe',
       'Gruppenleiter  Sach-Firmen SF - Strategie, Steuerung, Pricing und Produktmanagement für das Geschäftsfeld Sach-Firmen',
       'HR Analytics Specialist', 'HR Business Partner',
       'HR Data Analytics  - Gigafactory Berlin-Brandenburg',
       'Head Applied Data & Genetics Science – Seeds Field Crops Europe',
       'Head of / VP - Data Experience',
       'Head of Clinical Data Management & IT', 'Head of Data',
       'Head of Data & Analytics',
       'Head of Data & Analytics - Medical Cannabis Industry',
       'Head of IoT', 'Head of ML Platform & Developer Productivity',
       'Head of R&D', 'INTERDISCIPLINARY ENGINEER/SCIENTIST',
       'IT Projektleiter / Projektmanager (mwd) DevOps',
       'Informatiker*in  für den Bereich High Performance Computing (HPC) / Infrastruktur',
       'Ingenieur  technische Integritätsbewertung und Datenanalyse',
       'Ingenieur / Data-Scientist', 'Initiativbewerbung',
       'Initiativbewerbung Graduates Consulting @ MHP – A Porsche Company',
       'Initiativbewerbung: Wissenschaftliche Mitarbeitende',
       'Insights Analyst',
       'Instrument Scientist (Gamma Rays and UV) in Astroparticle Physics',
       'Intern - Global Data and Analytics',
       'Intern Business Analytics - Web & Commerce',
       'Intern automation and computer vision in microscopy',
       'Interns Epidemic Risk Solutions *',
       'Internship - Credit Risk Analyst',
       'Internship - Investment Product Analyst',
       'Internship Battery Analytics', 'Internship Data Analytics',
       'Internship Program Autumn 2025',
       'Internship for Battery Data Analysis and Lab Automation',
       'Internship in Customer Preferences & Vehicle Recommendations starting February/March 2025',
       'Internship on Business and Data Analysis',
       'Job Offer: Account Manager  * - Lipotype GmbH',
       'Junior / Medior Model Validator – Credit Risk',
       'Junior Business Analyst Risikomanagement',
       'Junior Cloud Engineer', 'Junior Credit Analyst',
       'Junior Data & Survey Engineer , Quantitative Marktforschung',
       'Junior Data-Scientist', 'Junior KI-Entwickler',
       'Junior Prozessmanager  InsurTech',
       'Junior Quality Lab Scientist Microbiology',
       'Junior Scientist (DEL), Bachelor/Master',
       'KI-Entwickler/in - Mitarbeiter/in Künstliche Intelligenz',
       'Lab Working Student', 'Laboratory management',
       'Leitung  für den Sachbereich Personalmanagement und Zentralaufgaben',
       'Life Scientist as Global Technical Support Specialist  French Speaking',
       'ML Architect Engineer', 'ML Ops Engineer - Berlin',
       'MLOps Engineer', 'MLOps Engineer  100% remote', 'MRI Scientist',
       'MRI Working Student/Intern', 'Machine Vision Engineer (Halcon)',
       'Master Data Assistant',
       'Master Data Operator (Schwerpunkt: Liquor, Tobacco & Confectionary)',
       'Master of Science (M.Sc.)  Start 2025 Location Berlin-Potsdam (VT/STAR)',
       'Masterarbeit',
       'Masterarbeit: Schnelleres Erkennen unbekannter Gegenstände unter Wasser dank Few Shot Learning',
       'Material Development Engineer, Formulation Scientist',
       'Mathematiker:in / Physiker:in Aktuarielles Controlling',
       'Mitarbeiter Datenanalyse im HomeOffice',
       'Mitarbeiter im Qualitätsmanagement  (Fachinformatiker/in - Daten- und Prozessanalyse)',
       'Mitarbeiter/-in Projektmanagement digitaler Service / Datenanalyse',
       'Mitarbeiterin/Mitarbeiter im Bereich Zahlen- und Datenanalyse',
       'NLP Engineer', 'Network Engineers',
       'Off-Cycle Analyst Intern - Hamburg',
       'Operations & Marketing Associate',
       'Performance Engineer - Laundry Care', 'PhD Candidate',
       'PhD Candidate : Spatial Metabolomics',
       'Physicist Dosimetry Expert',
       'Planer*in  für das Sachgebiet -Räumliche Entwicklungsplanung- im Amt für Stadtentwicklung und Statistik',
       'Portfolio Analyst',
       'PostDoc in "A system-wide view of processes driving recent observed Southern Ocean change"',
       'PostDoc in atmospheric physics on deep learning / foundational modelling of clouds',
       'Postdoc',
       'Postdoc for the investigation of biomaterial structural properties',
       'Postdoctoral Scientist - Metabolomics Specialist for Drug Safety - all genders - (Fixed-term contract 24 months)',
       'Postdoctoral Scientist Chemistry Innovations for Oligonucleotide Delivery',
       'Postdoctoral Scientist Position',
       'Postdoctoral Scientist, Amazon Robotics',
       'Postdoctoral scientist, Atmospheric global observing system simulations',
       'Postdoctural Scientist  for detector calibration and optimisation',
       'Postdoktorand:in', 'Praktikum Data Analytics', 'Pricing Actuary',
       'Principal Applied Scientist - Network Optimization',
       'Principal Applied Scientist - Payments',
       'Principal Applied Scientist - Transactions Risk Management',
       'Principal Software Engineer',
       'Principal, Same Day, Long-term planning',
       'Process Development Engineer',
       'Process Engineer (relocation to St. Gallen, Switzerland)',
       'Product Analyst', 'Product Analyst - Shopping Experience',
       'Product Analyst - Social Discovery app',
       'Product Analyst – Business Data & Insights', 'Product Associate',
       'Product Lead, Platform Products', 'Product Lead, Pricing',
       'Product Lead, Search', 'Product Manager',
       'Product Manager (DeFi / Earn) - Web3',
       'Product Manager Pricing & Analytics', 'Product Manager, DashOps',
       'Product Owner  - Buchhaltung & Berichte',
       'Product Safety Specialist *', 'Production Technology Engineer',
       'Produkt- und Datenanalyst/in  (Kaufmann/-frau - Versicherungen u. Finanzen - Versicherung)',
       'Program/Product Manager Intern',
       'Project Management Assistant (Real World Data)',
       'Projektleiter:in Künstliche Intelligenz',
       'Prozess-und Betriebsdatenspezialist  (Berufsspezialist/in - Datenanalyse)',
       'Python Developer', 'Python Full Stack Developer',
       'Quant Developer', 'Quantitative Power Trading Analyst',
       'Quantum Scientist - Superconducting Qubits (remote-ish)',
       'R&D Scientist', 'Referent Netzplanungsdatenmanagement',
       'Robotics Software Engineer all levels', 'SAP Analytics Architect',
       'SAP Analytics Expert', 'SAP Business Analyst  Data Migrations',
       'Sales / Vertrieb Weiterbildung  - Jobchance für Remote-Workers (Teilzeit)',
       'Sales Manager / Sales Development Representative',
       'Scientific Data Architect / Senior Scientific Data Architect- EMEA Remote',
       'Scientific Software Engineer',
       'Scientist  Bioprocess Development RDI-Projects',
       'Scientist  for the area Immunoassays (full-time)',
       'Scientist  in vitro DMPK',
       'Scientist (Postdoc) for Scanning Microprobe Endstation at Beamline P25, PETRA III',
       'Scientist - In vivo Pharmacology',
       'Scientist - LC-MS: Drug Product Characterization for Biopharmaceuticals',
       'Scientist - Protein Analytics',
       'Scientist / Postdoc : Analysis of Microscopic BIOMedical Images (AMBIOM)',
       'Scientist / Postdoc in bioinformatics  Institute Molekularbiologie',
       'Scientist / Study Director',
       'Scientist Digital Imaging , Referenz: „51001-24-03-WAPRO“',
       'Scientist III, Field Applications',
       'Scientist Viral Vector Production',
       'Scientist in the field of fiber drawing technology for active fibers',
       'Scientist in the field of fiber drawing technology for active fluoride fibers',
       'Scientist in the field of fiber preform development for active fibers',
       'Scientist – DNA-, RNA- Oligonucleotide Synthesis',
       'Scientist – Optical Design and Simulation',
       'Scientist/DevOps Position in EScience Section',
       'Scientist/DevOps in EScience Section', 'Semantics Engineer',
       'Senior Analyst / Engineer  im Bereich IT Data Analytics & Integration',
       'Senior Analytical Scientist', 'Senior Analytics Engineer',
       'Senior Applied Scientist - Fulfilment Planning',
       'Senior Applied Scientist, ATS Science and Technology',
       'Senior Applied Scientist, Amazon Robotics R&D',
       'Senior Applied Scientist, Artificial General Intelligence',
       'Senior Applied Scientist, Logistics',
       'Senior Applied Scientist- Network Optimization',
       'Senior Associate Quantitative Analyse',
       'Senior Backend Developer',
       'Senior Controller Projektmanagement  [JR105408]',
       'Senior Data / Machine-Learning Engineer', 'Senior Data Architect',
       'Senior Manager, Safety Scientist', 'Senior Product Manager',
       'Senior Product Manager - Fraud Prevention',
       'Senior Python Developer (LLM-based applications, SME)',
       'Senior Quant Developer', 'Senior Regional Marketing Manager',
       'Senior Remote Sensing Scientist', 'Senior Scientist',
       'Senior Scientist  Molecular Complex Development',
       'Senior Scientist - Mass Spectrometry',
       'Senior Scientist / Platform Lead  Process Cheese - Temporary contract until 28.02.2027',
       'Senior Scientist R&D  Life Science MS',
       'Senior Sensory Scientist', 'Senior Software Developer Data & ML',
       'Senior Software Engineer', 'Senior Software Engineer (Python)',
       'Senior/Principal Scientist Systems Pharmacology',
       'Senior/Principal Scientist Systems Pharmacology PBPK /...',
       'Software Engineer  – Data Lake Architect',
       'Software Engineer (Data & Python)', 'Software Engineer (Python)',
       'Softwareentwickler/Data-Scientist für MES Integration  im Bereich Li-Ion Large Cells',
       'Solutions Engineer', 'Spezialist Customer Data Governance',
       'Spezialist für Verkehrsdatenanalyse', 'Sports Scientist',
       'Staff Scientist', 'Staff Scientist Cell Therapy-Type 1 Diabetes',
       'Strategy Manager Life Science',
       'TOP TECHNOLOGIES CONSULTING GmbH – Berater (Mensch) Data Lifecycle Management',
       'Talent Day - Explore a Tech Career with Netlight', 'Talent Pool',
       'Teamlead Data Intelligence',
       'Technical Assistant - Biotechnology',
       'Technical Solutions Engineer - Data (Remote)',
       'Unsolicited Application / Initiativbewerbung',
       'Unsolicited application (Full time)',
       'Unterstützung im Bereich Einnahmeaufteilung & Statistik',
       'VP of Data & Analytics', 'Venture Development Tech Analyst',
       'Visiting Analyst (January 2025 and onwards)',
       'Werkstudent  Data Analytics',
       'Werkstudent  Data Management AurumCars',
       'Werkstudent  Digital Produktmanagement AurumCars',
       'Werkstudent  Digital Produktmanagement Mietwagen',
       'Werkstudent  Digital Produktmanagement Web & App – Mietwagen Spanien',
       'Werkstudent  Operations & Digital Project Management Mietwagen',
       'Werkstudent  Technisches Produktmanagement / Partnermanagement Mietwagen',
       'Werkstudent  im Bereich Datenmanagement',
       'Werkstudent Analytics: Editorial Intelligence',
       'Werkstudent Data Analytics',
       'Werkstudent Insights / Analytics  ab Februar 2025',
       'Werkstudent Java-Entwickler',
       'Werkstudent Softwareentwicklung ML Computer Vision im KI Startup',
       'Werkstudent:in / Studentische Hilfskraft im Bereich Energie, Verkehr und Infrastruktur',
       'Werkstudent:in Datascience',
       'Werkstudent:in – Business Analyst (Energy)',
       'Wirtschaftsinformatiker für Demand Planning Diagnostics',
       'Wissenschaftliche/r Mitarbeiter/in  | Thermomechanische Simulation',
       'Wissenschaftlicher Mitarbeiter  Pharmakovigilanz',
       'Working Student  Digital Product Management AurumCars',
       'Working Student  Partner Management AurumCars',
       'Working Student  – Customer Intelligence',
       'Working Student (part-time) or Internship (full-time) QA and Testing',
       'Working Student - Data Annotator',
       'Working Student - Patient Insights',
       'Working Student - Software Development',
       'Working Student Data Analytics  SURU',
       'Working Student PV Performance Engineering',
       'Working student in Clinical Data Management',
       'Working student software development',
       '_Softwareentwicklung Jobs im Landkreis Bodenseekreis'],
      dtype=object)

In [98]:
# Check if category "Data Scientist" is accurate (seems to be the case!)
df.loc[df["title_short_ChatGPT3"] == "Data Scientist", "title_clean"].sort_values().unique()

array(['(Associate) Consultant (Gen) AI & Data Scientist | AI Garage',
       '(Junior) Consultant Data Science & Artificial Intelligence',
       '(Junior) Data Scientist', '(Sen.) Data Scientist',
       '(Senior) Consultant Data Science & MLOp/m',
       '(Senior) Consultant Data Science Time-Series & Forecasting  (Data Scientist)',
       '(Senior) Data Analyst / Data Scientist  in Data Division',
       '(Senior) Data Scientist',
       '(Senior) Data Scientist  Internationales Team',
       '(Senior) Data Scientist  in München',
       '(Senior) Data Scientist  with Spanish language skills',
       '(Senior) Data Scientist  – Schwerpunkt Predictive Modelling und GenAI ab 01.04.25',
       '(Senior) Data Scientist (Analytics), Merchant',
       '(Senior) Data Scientist - Document and Text Analytics',
       '(Senior) Data Scientist / ML Engineer',
       '(Senior) Data Scientist / Researcher',
       '(Senior) Data Scientist Analytics',
       '(Senior) Data Scientist Health Data Lab',
       '(Senior) Data Scientist with focus Clinical Statistics - part/full-time)',
       '(Senior) Data Scientist with focus SAS programming - part/full-time)',
       '(Senior) Fraud Data Scientist / Data Analyst',
       '(Senior) Machine Learning Data Scientist',
       '(Senior)Machine Learning Data Scientist',
       '(Senior-) Digital Transformation Engineer - Data Science',
       '(Wirtschafts-)Mathematiker, Statistiker, Data Scientist für die Tarifentwicklung Komposit',
       'ACTUARIAL DATA SCIENTIST', 'AI Engineer / Data Scientist',
       'AI Engineer // Data Scientist',
       'Aktuar (DAV)/Data Scientist  - Krankenversicherungen & Data Warehouse',
       'Analyst - Fokus Data Science / AI',
       'Associate Data Science & Management Consultant',
       'BI Manager  Data Science/Data Analytics',
       'Bachelor  of Science - Data Science und Künstliche Intelligenz - Start 01.09.2025',
       'Bachelor  of Science - Wirtschaftsinformatik - Data Science - Start 01.09.2025',
       'Bachelor of Science  - Data Science und Künstliche Intelligenz ab 01.09.2025',
       'Bachelor of Science  Data Science und Künstliche Intelligenz, Start 2026',
       'Bachelor of Science (DHBW) Data Science / Künstliche Intelligenz  am Standort Winnenden 2025',
       'Bachelor of Science (DHBW) Wirtschaftsinformatik - Data Science am Standort Obersontheim 2025',
       'Binance Accelarator Program - LLM Data Scientist',
       'Business Analyst  - im Team Data Science Solutions',
       'Business Relationship Manager BI and Data Science',
       'CO-Data Scientist',
       'Consultant AI & Data Analytics / Data Science',
       'Consultant AI & Data Analytics / Data Science  in Berlin',
       'Consultant AI & Data Analytics / Data Science  in Frankfurt (Main)',
       'Consultant AI & Data Analytics / Data Science  in Hamburg',
       'Consultant AI & Data Analytics / Data Science  in München',
       'Consultant Data Science Credit Risk  in Berlin',
       'Consultant | Senior Consultant  Data Scientist in Credit Risk Management',
       'DATA SCIENCE MANAGER*', 'DATA SCIENTIST',
       'DATA SCIENTIST  SMART PROCESS AUTOMATION',
       'DATA SCIENTIST ENGINEER  DIGITAL SOLUTIONS – BRAUNSCHWEIG, BERLIN',
       'DH-STUDIERENDE FÜR DATA SCIENCE & KÜNSTLICHE INTELLIGENZ 2025',
       'Data Analysis / Data Engineering / Data Science',
       'Data Analyst / Data Scientist',
       'Data Architekt / Data Engineer / Data Scientist',
       'Data Engineer / Data Scientist',
       'Data Science & Engineering Lehrassistent:in (Pflichtpraktikum, Werkstudententätigkeit)',
       'Data Science Analyst', 'Data Science Consultant',
       'Data Science Consultant - QuantumBlack, AI by McKinsey',
       'Data Science Graduate', 'Data Science Intern',
       'Data Science Intern - Intelligence Automation (Remote)',
       'Data Science Intern - Summer 2025, EMEA (Remote)',
       'Data Science Lead - Credit Risk',
       'Data Science and AI Mentor (Freelance, Remote)',
       'Data Science und KI - Smart Operations Management',
       'Data Scientist', 'Data Scientist  (Data Scientist)',
       'Data Scientist  (Job-ID 2023061)', 'Data Scientist  (Junior)',
       'Data Scientist  - Schwerpunkt Customer Intelligence',
       'Data Scientist  - Sektion für Hämatologische Spezialdiagnostik',
       'Data Scientist  Short-Term Asset Trading',
       'Data Scientist  Smart Process Automation',
       'Data Scientist  in Hamburg | EPROFESSIONAL',
       'Data Scientist  in den Bereichen NLP und LLM (Entwicklung/ Betrieb, Kompetenzaufbau und Support)',
       'Data Scientist  mit Fokus auf Big Data und KI',
       'Data Scientist  zur Auswertung und Analyse von komplexen Messdaten',
       'Data Scientist & Machine Learning Engineer',
       'Data Scientist (Growth Team)',
       'Data Scientist (alle Geschlechter)',
       'Data Scientist (jun. / sen.)', 'Data Scientist (mwd)',
       'Data Scientist - 24 month contract',
       'Data Scientist - Consumer (Global Discovery)',
       'Data Scientist - Customer Data Platform',
       'Data Scientist - Customer Success Projects (ValueWorks)',
       'Data Scientist - Data Engineering',
       'Data Scientist - Datenmanagement - AOK Bayern - Die Gesundheitskasse',
       'Data Scientist - LLM', 'Data Scientist - Lexware Office',
       'Data Scientist - Portfolio Analyst & Product Owner *',
       'Data Scientist - Process Mining', 'Data Scientist - Ranking',
       'Data Scientist - Startup Berlin',
       'Data Scientist - Supply Chain & Procurement',
       'Data Scientist - Time Estimations, Logistics',
       'Data Scientist / AI Developer', 'Data Scientist / Analyst',
       'Data Scientist / Biostatistician',
       'Data Scientist / Data Analyst',
       'Data Scientist / Data Engineer (Python)',
       'Data Scientist / Engineer',
       'Data Scientist / Engineer mit LLM-Fokus',
       'Data Scientist / ML Engineer',
       'Data Scientist / Machine Learning Expert',
       'Data Scientist / Softwareentwickler', 'Data Scientist 100%',
       'Data Scientist Automotive', 'Data Scientist Consultant',
       'Data Scientist Datenmanagement',
       'Data Scientist Digital Health ‒ Strategie, Analyse & Infrastruktur',
       'Data Scientist Intern',
       'Data Scientist Lead and Team Lead "Customer Intelligence Team"',
       'Data Scientist NLP and Text Mining',
       'Data Scientist Natural Language Processing',
       'Data Scientist Online Analytics',
       'Data Scientist Optical Spectroscopy',
       'Data Scientist Pathologisches Institut',
       'Data Scientist Trainee Life and Health Reinsurance, 1792',
       'Data Scientist als Modellentwickler Einsatzplanung Energiesysteme',
       'Data Scientist and Process Mining Architect',
       'Data Scientist für das Pathologische Institut',
       'Data Scientist in Energy Tech Start Up - hybrid Berlin based',
       'Data Scientist mit Fokus auf datengetriebenes Marketing',
       'Data Scientist mit Schwerpunkt Datenarbeit',
       'Data Scientist mit Schwerpunkt Operationalisierung',
       'Data Scientist with focus Clinical Statistics - part/full-time)',
       'Data Scientist – AI Engineer',
       'Data Scientist – CRM / Kundenbeziehungsmanagement',
       'Data Scientist – Supply & Demand Modelling', 'Data Scientist*in',
       'Data Scientist*in  - remote oder Karlsruhe',
       'Data Scientist*in/Data Analyst*in',
       'Data Scientist, Germany - BCG X',
       'Data Scientist, Internship, Germany - BCG X',
       'Data Scientist, Mathematiker - Dateningenieur - AOK Bayern - Die Gesundheitskasse',
       'Data Scientist/ AI-Architekt',
       'Data Scientist/Analyst prüfungsnahe Beratung/Quants - Assurance (Financial Services)',
       'Data Scientist/Bioinformatiker im Team Molekulargenetik',
       'Data Scientist/ML Engineer', 'Digital Data Scientist',
       'Director of Data Science',
       'Doktorand:in – Untersuchung der Rolle zukünftiger Energietechnologien mit Hilfe von Natural Language Processing und Data Science',
       'Duales Studium Bachelor of Science in Data Science und Künstlicher Intelligenz , ab 09/2025',
       'Duales Studium – Data Science und Künstliche Intelligenz',
       'Forecasting Data Scientist SCM',
       'Full-Stack Data Analytics/Data Science Expert im Competence Center Digital Accelerator /x)',
       'GenAI-Developer/Data Scientist', 'Genomics Data Scientist',
       'Geospatial Data Scientist with focus on remote sensing',
       'Gesundheitsökonom / Data Scientist im Gesundheitswesen',
       'Head of Data Science', 'Head of Data Science and AI',
       'IT Entwickler / Data Scientist  – Systembetrieb (befristet auf 2 Jahre)',
       'Initiativbewerbung Data Science /BI',
       'Intern  - Data Science in a Smart Energy Startup',
       'Intern Consultant Data Science and AI *',
       'Intern Data Science & AI',
       'Intern Data Science - Digital Product Offering',
       'Intern Data Science - Vehicle Testing Strategies',
       'Intern Data Science - Web & Commerce Analytics',
       'Intern/WS - Product Data Science',
       'Internship Clinical Data Science with focus on Bayesian Statistics',
       'Internship Data Science & Data Visualization',
       'Junior Aktuar / Data Scientist für das Pricing Aktuariat',
       'Junior Aktuar/Actuarial Data Scientist Non-Motor Köln',
       'Junior Blockchain Data Scientist', 'Junior Data Scientist',
       'Junior Data Scientist  - Tableau', 'Junior Data Scientist  Reise',
       'Junior Data Scientist (Data Scientist)',
       'Junior Data Scientist / AI Developer',
       'Junior Data Scientist Controller',
       'Junior Data Scientist Controller  [JR105592]',
       'KI Data Scientist', 'Lead Data Scientist',
       'Lead Data Scientist (Deep Learning)', 'Lead Data Scientist NLP',
       'Lead Data Scientist, Insurance - BCG X',
       'ML Software Engineer / Data Scientist',
       'Masterarbeit im Bereich Data Science und AI Development ab Januar 2025',
       'Masterprogramm Data Science & Business Analytics',
       'PRAKTIKUM / PRAXISSEMESTER IM BEREICH DATA SCIENCE',
       'Post Doc - Data Science in Drug Discovery',
       'Praktikant  Data Science',
       'Praktikant Data Science/Data Analytics',
       'Praktikant*in Data Engineer / Data Scientist Cloud Analytics',
       'Praktikant:in  im Bereich Data Science und Prozesssoptimierung',
       'Praktikum Data Science (Schwerpunkt Machine Learning)',
       'Praktikum Data Science / Analytics',
       'Praktikum Data Science im Bereich Preis-, Immobilienmarkt- und Konjunkturstatistiken',
       'Praktikum Data Scientist im Produktkomplexitätsmanagement',
       'Praktikum im Bereich Data Science / Data Analytics',
       'Praktikum: Data Science', 'Praktikum: Data Science und KI',
       'Principal Data Scientist',
       'Principal Data Scientist - Media Measurement',
       'Principal Data Scientist \\u007C Pricing',
       'Product Data Science Managers', 'Professor for Data Science',
       'Projektingenieur - Data Scientist',
       'Projektmanager AI & Data Science',
       'Publicis Media - (Junior) Data Scientist',
       'Python Developer / Data Scientist - Remote or Berlin based',
       'R&D Internship – Data Science, ML and AI',
       'Remote (Sr.) Python Data Scientist',
       'Research Associate for the Project “DASHH - Data Science in Hamburg - Helmholtz Graduate School for the Structure of Matter, dAIbetes” § 28 Subsection 3 HmbHG',
       'Research assistant  - Department of Mathematics and Natural Science - Mathematics of Data Science Group - ID 142/2024',
       'SENIOR DATA SCIENTIST', 'Senior AI & Data Science Consultant',
       'Senior Consultant / Manager (Gen) AI & Data Scientist | AI Garage',
       'Senior Controlling Data Scientist',
       'Senior Data Science Consultant', 'Senior Data Scientist',
       'Senior Data Scientist  - Business Intelligence Application',
       'Senior Data Scientist  - ID: 233',
       'Senior Data Scientist  - Large-scale Machine Learning',
       'Senior Data Scientist  NLP in München',
       'Senior Data Scientist  im Automotive Bereich',
       'Senior Data Scientist  | hybrid (office/remote)',
       'Senior Data Scientist  – Risikomodelle',
       'Senior Data Scientist (Recommendation Systems Expert)',
       'Senior Data Scientist (SOC / carbon modelling)',
       'Senior Data Scientist (mwd)',
       'Senior Data Scientist * Generative AI',
       'Senior Data Scientist - Conversational AI (German Speaking) - AI Teams',
       'Senior Data Scientist - Data & AI',
       'Senior Data Scientist - Fraud & Credit Risk',
       'Senior Data Scientist - Operations Research',
       'Senior Data Scientist - Remote from Germany',
       'Senior Data Scientist - Time Estimations, Logistics',
       'Senior Data Scientist / AI Developer',
       'Senior Data Scientist / Senior Software Technology Engineer',
       'Senior Data Scientist / Senior Software Technology Engineer*',
       'Senior Data Scientist Generative AI',
       'Senior Data Scientist NLP/GenAI',
       'Senior Data Scientist for Innovative Digital Product',
       'Senior Data Scientist mit Schwerpunkt Ökonometrie/ Predictive Analytics',
       'Senior Data Scientist – Energy Storage / Li-ion / Battery Technologies',
       'Senior Data Scientist – Supply & Demand Modelling',
       'Senior Data Scientist, AI-Experte für Natural Language Processing',
       'Senior Data Scientist, Campaigns',
       'Senior Data Scientist, Payments Product',
       'Senior Data Scientist, gTech Ads',
       'Senior Data Scientist- Optimization',
       'Senior Essential Adoption Service Consultant  - Data Science, Automation & Technology',
       'Senior Full-Stack Data Analytics/Data Science Expert*in im Competence Center Digital Accelerator im Mercedes-Benz Management Consulting /x)',
       'Senior Machine Learning Data Scientist',
       'Senior People Data Scientist (All genders) - Global People Analytics team',
       'Senior Specialist/Data Scientist OSS Analytics in Voll- und Teilzeit',
       'Software Engineer mit Data Science Background',
       'Spezialist  Data Engineering & Data Science',
       'Spezialist Risikocontrolling CO2-Accounting / Data Scientist',
       'Sr Data Scientist - LLM', 'Staff Data Scientist',
       'Staff Data Scientist - Ad Tech',
       'Staff Data Scientist - Consumer Insights & Marketing Technology (CIMT) ( All genders )',
       'Staff Data Scientist, Investment Modelling',
       'Student Data Scientist',
       'Student Engineering, Natural Sciences, Data Science or similar',
       'Team Lead Data Scientist',
       'Teamlead Data Science und Data Engineering',
       'Technical Investigator / Data Scientist - AI Safety',
       'Trainee  - Data Analyst / Data Scientist',
       'Trainee Data Science  - 12 Monate',
       'Trainee Data Science  – Fokus NLP',
       'Trainee Data Scientist Personen-Rückversicherung',
       'Trainee Data Scientist Personen-Rückversicherung, 1792',
       'VPP Modeling Engineer / Data Scientist',
       'WERKSTUDENT*IN IM BEREICH DATA SCIENCE',
       'Werkstudent  Data Science', 'Werkstudent Data Science',
       'Werkstudent Data Science & Machine Learning - IIoT Projekte',
       'Werkstudent Data Science / Data Engineering',
       'Werkstudent Data Scientist',
       'Werkstudent Fixed Income Data Scientist',
       'Werkstudent Python im Bereich Data Science',
       'Werkstudent/Praktikant im Bereich Data Science/Analytics & AI',
       'Werkstudent:in  im Bereich Data Science und Prozesssoptimierung',
       'Werkstudent:in Data Science',
       'Werkstudententätigkeit als Business Data Scientist',
       'Werkstudierende - Tutoring im Data Science',
       'Working Student  Data Science',
       'Working Student  Trading & Risk Management Data Scientist',
       'Working Student - Data Scientist and Process Mining Architect',
       'Working Student / Internship – Data Scientist',
       'Working Student Aerospace Data Science',
       'Working Student Data Science & Data Engineering',
       'Working Student Data Science - Aerospace',
       'Working Student Data Science and Data Engineering',
       'Working Student: Data Science and Data Analytics',
       'Working student in Data Science starting January 2025',
       'eine/n Data Scientist/in'], dtype=object)

### Conclusion

After refining the initial prompt twice, the resulting categorization seems satisfactory for my use-case. 

Hence, the final function *updated_categorize_job_title* will be used (results stored in df["title_short_ChatGPT3"])

## Number of days online (grouped)

In [99]:
def days_online_grouping(x):
    if x <= 7: return "0-7"
    if x <= 14: return "8-14"
    if x <= 21: return "15-21"
    if x <= 28: return "22-28"
    if x > 28: return "29+"
    if pd.isna(x): return "N/A"

df["days_online_grouped"] = df["days_online"].apply(days_online_grouping)
df["days_online_grouped"].value_counts()

days_online_grouped
0-7      389
N/A      334
8-14     233
29+      204
15-21    177
22-28     95
Name: count, dtype: int64

## Tech Stack

In [100]:
df["job_description_anonymized"].head()

0    Company DescriptionFascinated by the future an...
1    Xsolla is looking for a Junior Data Scientist ...
2    GMS is an operational consultancy with experti...
3    Your missionPropose innovative solutions by ex...
4    The target of vent.io is to accelerate the gro...
Name: job_description_anonymized, dtype: object

In [101]:
# Clean white space characters (e.g. "\n") and non-word characters (i.e. "?/!/:/./...")
df["job_description_for_search"] = df["job_description_anonymized"].replace(r"[\s\W]", " ", regex=True)

In [102]:
df["job_description_for_search"].head()

0    Company DescriptionFascinated by the future an...
1    Xsolla is looking for a Junior Data Scientist ...
2    GMS is an operational consultancy with experti...
3    Your missionPropose innovative solutions by ex...
4    The target of vent io is to accelerate the gro...
Name: job_description_for_search, dtype: object

In [103]:
# Define search terms and create a dummy-variable for each tech stack.
search_terms_clear = [
    "python",
    "julia",
    "spss",
    "stata",
    "javascript",
    "sql|postgre",
    "azure",
    "gcp|google cloud",
    "powerbi|power bi",
    "tableau",
    "qlik",
    "alteryx",
    "docker",
]

# Some search terms are ambigous, i.e. undesired search results may appear.
# These will be wrapped in blanks to ensure that the term matches exact.
search_terms_ambiguous = [
    "rust",             # e.g. "trust"
    "sas",
    "excel",            # e.g. "excellent"
    "aws|amazon web",   # e.g. "laws"
    "git|github",
    "java",             # "javascript"
]

# combine all search terms, specify search mode
search_terms = {search_term: "clear" for search_term in search_terms_clear}
search_terms.update({search_term: "ambigous" for search_term in search_terms_ambiguous})


# Run search / column creation:
for search_term, search_mode in search_terms.items():
    # determine column name; if multiple terms are listed, use first one
    if len(search_term.split("|")) > 0:
        col_name = f"tech_stack_{search_term.split('|')[0]}"
    else:
        col_name = f"tech_stack_{search_term}"
    # determine search mode; if ambigous, wrap searchterm in blanks
    if search_mode == "clear":
        search_string = f"{search_term}"
    else:
        search_string = f" {search_term} "

    df[col_name] = df["job_description_for_search"].str.lower().str.contains(search_string, regex=True).astype(int)

    print(f"{search_string.strip():18}{sum(df[col_name])}")

# R
df["tech_stack_r"] = df["job_description_for_search"].str.contains(" R ").astype(int)
print(f'{"R":18}{sum(df["tech_stack_r"])}')

python            891
julia             19
spss              9
stata             5
javascript        52
sql|postgre       548
azure             236
gcp|google cloud  160
powerbi|power bi  199
tableau           161
qlik              59
alteryx           11
docker            110
rust              11
sas               42
excel             148
aws|amazon web    285
git|github        157
java              146
R                 309

In [104]:
pd.DataFrame({"n": df.filter(like="tech_stack").sum(),
              "%": df.filter(like="tech_stack").mean()})

                         n         %
tech_stack_python      891  0.622207
tech_stack_julia        19  0.013268
tech_stack_spss          9  0.006285
tech_stack_stata         5  0.003492
tech_stack_javascript   52  0.036313
tech_stack_sql         548  0.382682
tech_stack_azure       236  0.164804
tech_stack_gcp         160  0.111732
tech_stack_powerbi     199  0.138966
tech_stack_tableau     161  0.112430
tech_stack_qlik         59  0.041201
tech_stack_alteryx      11  0.007682
tech_stack_docker      110  0.076816
tech_stack_rust         11  0.007682
tech_stack_sas          42  0.029330
tech_stack_excel       148  0.103352
tech_stack_aws         285  0.199022
tech_stack_git         157  0.109637
tech_stack_java        146  0.101955
tech_stack_r           309  0.215782

## Methods / Concepts (TBD)

In [105]:
# Include search words like "pytorch", "random forest", "deep learning", "ML", "AI", "NLP", ...

## Location 2 - Geodata

### Get long and lat for locations

In [106]:
# REQUIREMENTS (for using Nominatim)

# No heavy uses (an absolute maximum of 1 request per second).
# Provide a valid HTTP Referer or User-Agent identifying the application (stock User-Agents as set by http libraries will not do).
# Clearly display attribution as suitable for your medium.
# Data is provided under the ODbL license which requires to share alike (although small extractions are likely to be covered by fair usage / fair dealing).

# Source: https://operations.osmfoundation.org/policies/nominatim/

To minimize requests, the following lines of code will be executed only once. Results will be stored.

In [107]:
# geolocator = Nominatim(user_agent='job_detail_analysis')

# locations = df["location"].unique()

# location_long_lat_dict = {loc: None for loc in locations}

# for nr, loc in enumerate(locations):
#     if nr % 10 == 0: print(f"Grabbing geodata for location {nr}/{len(locations)}")
#     location = geolocator.geocode(loc)
#     long_lat = tuple([location.latitude, location.longitude])
#     location_long_lat_dict[loc] = long_lat
#     time.sleep(1)

# location_long_lat_dict

In [108]:
# Store geodata as pkl in order to not have to run the geolocator above again

# with open(f'location_long_lat_dict.pkl', 'wb') as f:
#        pickle.dump(location_long_lat_dict, f)

### Load geodata

In [109]:
# open geodata
with open(f'location_long_lat_dict.pkl', 'rb') as f:
    location_long_lat_dict = pickle.load(f)

location_long_lat_dict

{'Berlin': (52.510885, 13.3989367),
 'Frankfurt am Main': (50.1106444, 8.6820917),
 'Bremen': (53.0758196, 8.8071646),
 'Coburg': (50.2582226, 10.964561),
 'Tübingen': (48.5203263, 9.053596),
 'Hamburg': (53.550341, 10.000654),
 'München': (48.1371079, 11.5753822),
 'Deutschland': (51.1638175, 10.4478313),
 'Freiburg': (47.9960901, 7.8494005),
 'Leipzig': (51.3406321, 12.3747329),
 'Heidelberg': (49.4093582, 8.694724),
 'Hessen': (50.6080651, 9.0284647),
 'Dresden': (51.0493286, 13.7381437),
 'Heilbronn': (49.142291, 9.218655),
 'Schwalbach': (50.1490109, 8.5357434),
 'Eschborn': (50.1504737, 8.5607767),
 'Kronberg': (50.1907271, 8.5194693),
 'Hannover': (52.3744779, 9.7385532),
 'Potsdam': (52.4009309, 13.0591397),
 'Nordrhein-Westfalen': (51.4789205, 7.5543751),
 'Düsseldorf': (51.2254018, 6.7763137),
 'Hürth': (50.8807379, 6.876568),
 'Aschheim': (48.1713481, 11.7160347),
 'Köln': (50.938361, 6.959974),
 'Karlsruhe': (49.0068705, 8.4034195),
 'Essen': (51.4582235, 7.0158171),
 'Weil am Rhein': (47.5932802, 7.6116133),
 'Holm': (54.8333047, 8.8666675),
 'Sulzbach': (48.0356915, 7.2011423),
 'Weikersheim': (49.4806, 9.905),
 'Ottobrunn': (48.0648406, 11.6647814),
 'Baden-Württemberg': (48.53775, 9.041169),
 'Stuttgart': (48.7784485, 9.1800132),
 'Saarbrücken': (49.234362, 6.996379),
 'Detmold': (51.936284, 8.8791526),
 'Bad Salzuflen': (52.0771518, 8.7554739),
 'Fürth': (49.488571050000004, 10.95872031326412),
 'Darmstadt': (49.8851869, 8.6736295),
 'Würzburg': (49.7780356, 9.943476907125579),
 'Fellbach': (48.8181556, 9.278085),
 'Dorsten': (51.6604071, 6.9647431),
 'Wuppertal': (51.264018, 7.1780374),
 'Dortmund': (51.5142273, 7.4652789),
 'Aachen': (50.776351, 6.083862),
 'Wesel': (51.6576909, 6.617087),
 'Grünheide': (52.4262298, 13.8226458),
 'Lampertheim': (48.6503574, 7.7003567),
 'Kiel': (54.3227085, 10.135555),
 'Mannheim': (49.4892913, 8.4673098),
 'Winnenden': (48.8754571, 9.3978478),
 'Bielefeld': (52.0191005, 8.531007),
 'Bad Homburg': (50.2363508, 8.5980265),
 'Neuenstadt am Kocher': (49.2361584, 9.3293362),
 'Bonn': (50.7352621, 7.1024635),
 'Lübbecke': (52.3027209, 8.6183054),
 'Ludwigshafen': (49.4704113, 8.4381568),
 'Schrobenhausen': (48.5613407, 11.2654488),
 'Arnstorf': (48.5635093, 12.8173993),
 'Lübeck': (53.866444, 10.684738),
 'Ilmenau': (50.6867695, 10.9142385),
 'Nürnberg': (49.453872, 11.077298),
 'Krailling': (48.0992621, 11.4050891),
 'Neuried': (48.466604, 7.817298),
 'Salzgitter': (52.1503721, 10.3593147),
 'Erlangen': (49.589157099999994, 10.98120719922546),
 'Augsburg': (48.3690341, 10.8979522),
 'Clausthal-Zellerfeld': (51.8070405, 10.3364483),
 'Verl': (51.8830037, 8.5093149),
 'Weeze': (51.6267298, 6.2011559),
 'Weinheim': (49.5462349, 8.6717458),
 'Neuwied': (50.4302393, 7.466302),
 'Mülheim an der Ruhr': (51.4272925, 6.8829192),
 'Bergisch Gladbach': (50.9929303, 7.1277379),
 'Esch': (49.8975651, 6.8502714),
 'Bayreuth': (49.9427202, 11.5763079),
 'Konstanz': (47.659216, 9.1750718),
 'Bremerhaven': (53.5505392, 8.5851945),
 'Mailand': (45.4641943, 9.1896346),
 'Kassel': (51.3157833, 9.4978479),
 'Ulm': (48.3984968, 9.9912458),
 'Münster': (51.9625101, 7.6251879),
 'Straubing': (48.8839157, 12.595577296431395),
 'Zweibrücken': (49.248655, 7.3641981),
 'Obersontheim': (49.057508, 9.8981122),
 'Mainz': (49.9995205, 8.2736253),
 'Immenstadt': (47.55911, 10.2137986),
 'Attenkirchen': (48.5057366, 11.7601946),
 'Oldenburg': (53.1389753, 8.2146017),
 'Braunschweig': (52.2646577, 10.5236066),
 'Gütersloh': (51.9063997, 8.3782078),
 'Sankt Augustin': (50.7752776, 7.1895507),
 'Ingelfingen': (49.3014449, 9.6513353),
 'Kempten': (47.7267063, 10.3168835),
 'Offingen': (48.482932, 10.3639517),
 'Garching': (48.2513878, 11.6509662),
 'Gerlingen': (48.7983947, 9.0624386),
 'Hechingen': (48.3525529, 8.9642047),
 'Regensburg': (49.0195333, 12.0974869),
 'Ebermannstadt': (49.7802113, 11.1875112),
 'Ingolstadt': (48.7630165, 11.4250395),
 'Gunzenhausen': (49.1147095, 10.7545933),
 'Duisburg': (51.434999, 6.759562),
 'Biberach an der Riß': (48.0984413, 9.7899938),
 'Burgdorf': (47.0571316, 7.6237466),
 'Vallendar': (50.4001381, 7.6142479),
 'Urbar': (50.1309049, 7.7197143),
 'Buch': (50.2051609, 7.8759628),
 'Gießen': (50.5862066, 8.6742306),
 'Büren': (51.5525333, 8.5591919),
 'Penzberg': (47.7518502, 11.3763014),
 'Neuherberg': (48.221767, 11.5876284),
 'Norderstedt': (53.7089898, 9.9891914),
 'Gotha': (50.9494849, 10.7014435),
 'Siegen': (50.8751175, 8.0256131),
 'Königstein im Taunus': (50.195133, 8.4628165),
 'Schwäbisch Gmünd': (48.7999036, 9.7977584),
 'Bayern': (48.9467562, 11.4038717),
 'Wiesbaden': (50.0820384, 8.2416556),
 'Lingen': (52.5224659, 7.316584),
 'Starnberg': (47.9986851, 11.3410791),
 'Ilsenburg': (51.8667349, 10.6831785),
 'Damme': (51.2514978, 3.281482),
 'Jena': (50.9281717, 11.5879359),
 'Marburg an der Lahn': (50.8008565, 8.763151908261287),
 'Siegburg': (50.7928332, 7.2070774),
 'Rosenberg': (49.0815718, 19.3034168),
 'Böblingen': (48.684969, 9.0113444),
 'Koblenz': (50.3533278, 7.5943951),
 'Homeoffice': (47.4137417, 8.5605328),
 'Zeuthen': (52.3507952, 13.629328),
 'Bad Berleburg': (51.0478493, 8.3917759),
 'Stephanskirchen': (47.8594257, 12.158035),
 'Hameln': (52.1039941, 9.3561569),
 'Grünwald': (48.0486558, 11.5300727),
 'Paderborn': (51.7177044, 8.752653),
 'Oberschleißheim': (48.2549383, 11.5546058),
 'Harsewinkel': (51.9617153, 8.2252425),
 'Schenefeld': (54.0484989, 9.4703368),
 'Minden': (52.2881045, 8.9168852),
 'Martinsried': (48.10882, 11.4508007),
 'Kirchentellinsfurt': (48.5337887, 9.1507197),
 'Bochum': (51.4818111, 7.2196635),
 'Einbeck': (51.8185067, 9.8678465),
 'Grafing bei München': (48.0453808, 11.966071),
 'Bad Homburg vor der Höhe': (50.2363508, 8.5980265),
 'Straße': (50.8705357, 7.4943548),
 'Planegg': (48.103742, 11.4220029),
 'Rust': (47.8037042, 16.689014287384975),
 'Künsebeck': (52.0366241, 8.3845242),
 'Oberkochen': (48.7840324, 10.1060512),
 'Trittau': (53.6117462, 10.4043947),
 'Coesfeld': (51.9458943, 7.1691108),
 'Schwarzenbruck': (49.3554558, 11.2410609),
 'Bad Nauheim': (50.3681107, 8.7473608),
 'Großwallstadt': (49.8778629, 9.1588408),
 'Göttingen': (51.5328328, 9.9351811),
 'Obertshausen': (50.0731304, 8.8732839),
 'Kulmbach': (50.1008448, 11.4479149),
 'Bad Gandersheim': (51.8704732, 10.0297839),
 'Hanau': (50.132881, 8.9169797),
 'Offenburg': (48.4695984, 7.9429235),
 'Nördlingen': (48.8516578, 10.4885873),
 'Görlitz': (51.1563185, 14.991018),
 'Saterland': (53.0845859, 7.6937446),
 'Offenbach': (50.1055002, 8.7610698),
 'Ostseebad Kühlungsborn': (54.1483764, 11.7441876),
 'Aalen': (48.8375607, 10.0929593),
 'Langenselbold': (50.1780814, 9.04333),
 'Maintal': (50.1438711, 8.8371266),
 'Rosenheim': (47.8539273, 12.127262),
 'Puchheim': (48.1704908, 11.3526351),
 'Mühlheim am Main': (50.1080582, 8.8467138),
 'Rodgau': (50.0176771, 8.8853392),
 'Krefeld': (51.3331205, 6.5623343),
 'Unterföhring': (48.1950385, 11.6449251),
 'Coesfeld-Lette': (51.8986559, 7.1919384),
 'Remscheid': (51.1798706, 7.1943544),
 'Osnabrück': (52.2719595, 8.047635),
 'Frankfurt': (50.1106444, 8.6820917),
 'Ettlingen': (48.9414188, 8.4076347),
 'Luxembourg': (49.6112768, 6.129799),
 'Ahrensburg': (53.6736529, 10.2358999),
 'St. Leon-Rot': (49.2671326, 8.6142616),
 'Freiburg im Breisgau': (47.9960901, 7.8494005),
 'Tettnang': (47.6716558, 9.5891158),
 'Wolfsburg': (52.4205588, 10.7861682),
 'Jülich': (50.9220931, 6.3611015),
 'Schweinfurt': (50.051855200000006, 10.222092114223383),
 'Leimen': (49.3491417, 8.6909951),
 'Sindelfingen': (48.7084162, 9.0035455),
 'Lüneburg': (53.248706, 10.407855),
 'Bad Ems': (50.3352062, 7.7128538),
 'Neuss': (51.1981778, 6.6916476),
 'Innsbruck': (47.2654296, 11.3927685),
 'Bensheim': (49.6977, 8.6288),
 'Burghausen': (48.1588645, 12.8329419),
 'Solingen': (51.1721629, 7.0845893),
 'Langenhagen': (52.443118, 9.738994),
 'Schwabmünchen': (48.1805562, 10.7578121),
 'Kornwestheim': (48.8611498, 9.1873875),
 'Gladbeck': (51.5718665, 6.9877343),
 'Fischach': (48.2902043, 10.6554555),
 'Heidenheim': (48.6767637, 10.152923),
 'Hoisdorf': (53.6530061, 10.3186485),
 'Monheim am Rhein': (51.0909476, 6.8812387),
 'Rheda-Wiedenbrück': (51.8428202, 8.2985615),
 'Unterschleißheim': (48.2730686, 11.5702716),
 'Traunreut': (47.9623271, 12.5924162),
 'Bargteheide': (53.7279671, 10.2618075),
 'Westerstede': (53.2575197, 7.9273367),
 'Taufkirchen': (48.0459958, 11.6151899),
 'Seligenstadt': (50.0347055, 8.9593719),
 'Großenlüder': (50.5753618, 9.5502218),
 'Münchberg': (50.1911369, 11.7913908)}

In [110]:
df["location_lat_long"] = df["location_clean"].map(location_long_lat_dict)

In [111]:
df.filter(like="location")

               location     location_clean        location_lat_long
0                Berlin             Berlin  (52.510885, 13.3989367)
1                Berlin             Berlin  (52.510885, 13.3989367)
2     Frankfurt am Main  Frankfurt am Main  (50.1106444, 8.6820917)
3                Berlin             Berlin  (52.510885, 13.3989367)
4     Frankfurt am Main  Frankfurt am Main  (50.1106444, 8.6820917)
...                 ...                ...                      ...
798              Aachen             Aachen    (50.776351, 6.083862)
957              Bochum             Bochum  (51.4818111, 7.2196635)
987              Coburg             Coburg  (50.2582226, 10.964561)
1596               Köln               Köln    (50.938361, 6.959974)
1611         Luxembourg         Luxembourg   (49.6112768, 6.129799)

[1432 rows x 3 columns]

In [112]:
# Split columns into lat and long
df["location_lat"] = df["location_lat_long"].map(lambda x: x[0])
df["location_long"] = df["location_lat_long"].map(lambda x: x[1])

In [113]:
df.filter(like="location").sample(5, random_state=42)

,location,location_clean,location_lat_long,location_lat,location_long
133,Deutschland,Deutschland,"(51.1638175, 10.4478313)",51.163818,10.447831
1408,Tettnang,Tettnang,"(47.6716558, 9.5891158)",47.671656,9.589116
498,München,München,"(48.1371079, 11.5753822)",48.137108,11.575382
378,Köln,Köln,"(50.938361, 6.959974)",50.938361,6.959974
1205,Berlin,Berlin,"(52.510885, 13.3989367)",52.510885,13.398937

## Store final dataset

In [114]:
df.columns

Index(['title', 'company', 'location', 'salary', 'seniority_level',
       'date_posted', 'date_accessed', 'days_online', 'number_applicants',
       'job_type_Vollzeit', 'job_type_Teilzeit', 'job_type_Festanstellung',
       'job_type_BefristeterVertrag', 'job_type_Homeoffice',
       'job_type_FreieMitarbeit', 'job_type_Traineeprogramm',
       'job_type_Berufsausbildung', 'job_type_Praktikum',
       'job_type_Werkstudent', 'job_description_anonymized', 'source_id',
       'location_clean', 'company_clean_ish', 'company_clean', 'title_clean',
       'seniority_level_new', 'seniority_level_5', 'index_pre_agg',
       'index_agg_list', 'similarity_results_0_90', 'similarity_results_0_93',
       'similarity_results_0_95', 'similarity_results_0_97',
       'similarity_results_0_90_mgroup', 'similarity_results_0_93_mgroup',
       'similarity_results_0_95_mgroup', 'similarity_results_0_97_mgroup',
       'title_short_ChatGPT', 'title_short_ChatGPT2', 'title_short_ChatGPT3',
       'days_online_grouped', 'job_description_for_search',
       'tech_stack_python', 'tech_stack_julia', 'tech_stack_spss',
       'tech_stack_stata', 'tech_stack_javascript', 'tech_stack_sql',
       'tech_stack_azure', 'tech_stack_gcp', 'tech_stack_powerbi',
       'tech_stack_tableau', 'tech_stack_qlik', 'tech_stack_alteryx',
       'tech_stack_docker', 'tech_stack_rust', 'tech_stack_sas',
       'tech_stack_excel', 'tech_stack_aws', 'tech_stack_git',
       'tech_stack_java', 'tech_stack_r', 'location_lat_long', 'location_lat',
       'location_long'],
      dtype='object')

In [115]:
columns_selected = [
    'title', 'title_short_ChatGPT3',
    'company', 'company_clean', 
    'location_clean', 'location_lat', 'location_long',
    'salary', 'seniority_level_new', 'seniority_level_5',
    'days_online', 'days_online_grouped', 'number_applicants', 
    'source_id', 'date_posted', 'date_accessed',
    
    'job_description_anonymized',
    
    'job_type_Vollzeit', 'job_type_Teilzeit', 'job_type_Festanstellung',
    'job_type_BefristeterVertrag', 'job_type_Homeoffice',
    'job_type_FreieMitarbeit', 'job_type_Traineeprogramm',
    'job_type_Berufsausbildung', 'job_type_Praktikum',
    'job_type_Werkstudent',

    'tech_stack_python', 'tech_stack_julia',
    'tech_stack_spss', 'tech_stack_stata', 'tech_stack_javascript',
    'tech_stack_sql', 'tech_stack_azure', 'tech_stack_gcp',
    'tech_stack_powerbi', 'tech_stack_tableau', 'tech_stack_qlik',
    'tech_stack_alteryx', 'tech_stack_docker', 'tech_stack_rust',
    'tech_stack_sas', 'tech_stack_excel', 'tech_stack_aws',
    'tech_stack_git', 'tech_stack_java', 'tech_stack_r', 

    'index_agg_list']

In [116]:
df_out = df.filter(columns_selected).copy()

In [117]:
# check if all selected columns are present in export df
set(columns_selected) - set(df_out.columns)

set()

In [118]:
df_out = df_out.rename(columns={"seniority_level_new": "seniority_level_8",
                                "title_short_ChatGPT3": "title_cat_ChatGPT"})

In [119]:
df_out.head()

,title,title_cat_ChatGPT,company,company_clean,location_clean,location_lat,location_long,salary,seniority_level_8,seniority_level_5,...,tech_stack_alteryx,tech_stack_docker,tech_stack_rust,tech_stack_sas,tech_stack_excel,tech_stack_aws,tech_stack_git,tech_stack_java,tech_stack_r,index_agg_list
0,Data Science Graduate,Data Scientist,Visa,Visa,Berlin,52.510885,13.398937,None,Associate/Mid-Level,Associate/Mid-Level,...,0,0,0,0,0,0,0,0,0,[0]
1,Junior Data Scientist,Data Scientist,Xsolla,Xsolla,Berlin,52.510885,13.398937,None,Junior,Entry level,...,0,0,0,0,0,1,0,0,1,"[1, 1183]"
2,Data Scientist,Data Scientist,Global Market Solutions - Germany,Global Market Solutions - Germany,Frankfurt am Main,50.110644,8.682092,None,Associate/Mid-Level,Associate/Mid-Level,...,0,0,0,0,0,0,0,0,0,"[2, 19]"
3,Data Scientist Intern,Data Scientist,MeloTech,MeloTech,Berlin,52.510885,13.398937,None,Intern,Entry level,...,0,0,0,0,0,0,0,0,0,"[3, 1105]"
4,Data Scientist (f/m/d),Data Scientist,vent.io,vent.io,Frankfurt am Main,50.110644,8.682092,None,Associate/Mid-Level,Associate/Mid-Level,...,0,0,0,0,0,0,0,0,0,[4]

In [120]:
df_out.isna().sum()

title                             0
title_cat_ChatGPT                 0
company                           0
company_clean                     0
location_clean                    0
location_lat                      0
location_long                     0
salary                         1410
seniority_level_8                 0
seniority_level_5                 0
days_online                     334
days_online_grouped               0
number_applicants               668
source_id                         0
date_posted                     334
date_accessed                     0
job_description_anonymized        0
job_type_Vollzeit                 0
job_type_Teilzeit                 0
job_type_Festanstellung           0
job_type_BefristeterVertrag       0
job_type_Homeoffice               0
job_type_FreieMitarbeit           0
job_type_Traineeprogramm          0
job_type_Berufsausbildung         0
job_type_Praktikum                0
job_type_Werkstudent              0
tech_stack_python                 0
tech_stack_julia                  0
tech_stack_spss                   0
tech_stack_stata                  0
tech_stack_javascript             0
tech_stack_sql                    0
tech_stack_azure                  0
tech_stack_gcp                    0
tech_stack_powerbi                0
tech_stack_tableau                0
tech_stack_qlik                   0
tech_stack_alteryx                0
tech_stack_docker                 0
tech_stack_rust                   0
tech_stack_sas                    0
tech_stack_excel                  0
tech_stack_aws                    0
tech_stack_git                    0
tech_stack_java                   0
tech_stack_r                      0
index_agg_list                    0
dtype: int64

In [121]:
# Store as xlsx and csv
df_out.to_csv("../job_data.csv", index=True, header=True)
df_out.to_excel("job_data.xlsx", index=True, header=True)

## Transform Data into Long-Format for Streamlit Filters

In [122]:
df_out.head()

,title,title_cat_ChatGPT,company,company_clean,location_clean,location_lat,location_long,salary,seniority_level_8,seniority_level_5,...,tech_stack_alteryx,tech_stack_docker,tech_stack_rust,tech_stack_sas,tech_stack_excel,tech_stack_aws,tech_stack_git,tech_stack_java,tech_stack_r,index_agg_list
0,Data Science Graduate,Data Scientist,Visa,Visa,Berlin,52.510885,13.398937,None,Associate/Mid-Level,Associate/Mid-Level,...,0,0,0,0,0,0,0,0,0,[0]
1,Junior Data Scientist,Data Scientist,Xsolla,Xsolla,Berlin,52.510885,13.398937,None,Junior,Entry level,...,0,0,0,0,0,1,0,0,1,"[1, 1183]"
2,Data Scientist,Data Scientist,Global Market Solutions - Germany,Global Market Solutions - Germany,Frankfurt am Main,50.110644,8.682092,None,Associate/Mid-Level,Associate/Mid-Level,...,0,0,0,0,0,0,0,0,0,"[2, 19]"
3,Data Scientist Intern,Data Scientist,MeloTech,MeloTech,Berlin,52.510885,13.398937,None,Intern,Entry level,...,0,0,0,0,0,0,0,0,0,"[3, 1105]"
4,Data Scientist (f/m/d),Data Scientist,vent.io,vent.io,Frankfurt am Main,50.110644,8.682092,None,Associate/Mid-Level,Associate/Mid-Level,...,0,0,0,0,0,0,0,0,0,[4]

### Melt df seperately for job_type and tech_stack, then merge.

#### Job type

In [123]:
# Job Type
cols_for_long_df_job_type = ["location_clean", "title_cat_ChatGPT", "seniority_level_5", "days_online_grouped"]
cols_for_long_df_job_type.extend(df_out.filter(like="job_type_").columns.to_list())

df_for_long_format_job_type = df_out.filter(cols_for_long_df_job_type)
df_for_long_format_job_type["id"] = df_for_long_format_job_type.index

id_vars = ["id", "location_clean", "title_cat_ChatGPT", "seniority_level_5", "days_online_grouped"]
value_vars = df_out.filter(like="job_type_").columns.to_list()

df_for_long_format_job_type = pd.melt(df_for_long_format_job_type, 
                                      id_vars=id_vars, 
                                      value_vars=value_vars, 
                                      var_name="job_type",
                                      value_name="job_type_value").sort_values(by="id")
df_for_long_format_job_type

,id,location_clean,title_cat_ChatGPT,seniority_level_5,days_online_grouped,job_type,job_type_value
0,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,job_type_Vollzeit,1
11456,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,job_type_Praktikum,0
2864,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,job_type_Festanstellung,0
10024,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,job_type_Berufsausbildung,0
12888,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,job_type_Werkstudent,0
...,...,...,...,...,...,...,...
8558,1624,München,Other,Senior,0-7,job_type_FreieMitarbeit,0
9990,1624,München,Other,Senior,0-7,job_type_Traineeprogramm,0
11422,1624,München,Other,Senior,0-7,job_type_Berufsausbildung,0
1398,1624,München,Other,Senior,0-7,job_type_Vollzeit,1
5694,1624,München,Other,Senior,0-7,job_type_BefristeterVertrag,0

In [124]:
print("#rows:", len(df), "* #vars:", len(value_vars), "should yield:", len(df)*len(value_vars), "rows")
print("#rows in melted df:", len(df_for_long_format_job_type))

print("sum of all value columns =", df.filter(value_vars).sum().sum())
print("#rows in df if only 1s are kept =", sum(df_for_long_format_job_type["job_type_value"] == 1))

#rows: 1432 * #vars: 10 should yield: 14320 rows
#rows in melted df: 14320
sum of all value columns = 2045
#rows in df if only 1s are kept = 2045

In [125]:
df_for_long_format_job_type = df_for_long_format_job_type[df_for_long_format_job_type["job_type_value"] == 1]
df_for_long_format_job_type

,id,location_clean,title_cat_ChatGPT,seniority_level_5,days_online_grouped,job_type,job_type_value
0,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,job_type_Vollzeit,1
1,1,Berlin,Data Scientist,Entry level,8-14,job_type_Vollzeit,1
2,2,Frankfurt am Main,Data Scientist,Associate/Mid-Level,22-28,job_type_Vollzeit,1
11459,3,Berlin,Data Scientist,Entry level,29+,job_type_Praktikum,1
3,3,Berlin,Data Scientist,Entry level,29+,job_type_Vollzeit,1
...,...,...,...,...,...,...,...
4261,1623,München,Other,Senior,8-14,job_type_Festanstellung,1
1397,1623,München,Other,Senior,8-14,job_type_Vollzeit,1
4262,1624,München,Other,Senior,0-7,job_type_Festanstellung,1
7126,1624,München,Other,Senior,0-7,job_type_Homeoffice,1
1398,1624,München,Other,Senior,0-7,job_type_Vollzeit,1

#### Tech Stack

In [126]:
# Tech Stack
cols_for_long_df_tech_stack = ["location_clean", "title_cat_ChatGPT", "seniority_level_5", "days_online_grouped"]
cols_for_long_df_tech_stack.extend(df_out.filter(like="tech_stack_").columns.to_list())

df_for_long_format_tech_stack = df_out.filter(cols_for_long_df_tech_stack)
df_for_long_format_tech_stack["id"] = df_for_long_format_tech_stack.index

id_vars = ["id", "location_clean", "title_cat_ChatGPT", "seniority_level_5", "days_online_grouped"]
value_vars = df_out.filter(like="tech_stack_").columns.to_list()

df_for_long_format_tech_stack = pd.melt(df_for_long_format_tech_stack, 
                                        id_vars=id_vars, 
                                        value_vars=value_vars, 
                                        var_name="tech_stack",
                                        value_name="tech_stack_value").sort_values(by="id")
df_for_long_format_tech_stack

,id,location_clean,title_cat_ChatGPT,seniority_level_5,days_online_grouped,tech_stack,tech_stack_value
0,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_python,1
25776,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_java,0
17184,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_docker,0
2864,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_spss,0
8592,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_azure,0
...,...,...,...,...,...,...,...
7126,1624,München,Other,Senior,0-7,tech_stack_javascript,0
5694,1624,München,Other,Senior,0-7,tech_stack_stata,0
4262,1624,München,Other,Senior,0-7,tech_stack_spss,0
2830,1624,München,Other,Senior,0-7,tech_stack_julia,0
12854,1624,München,Other,Senior,0-7,tech_stack_powerbi,0

In [127]:
print("#rows:", len(df), "* #vars:", len(value_vars), "should yield:", len(df)*len(value_vars), "rows")
print("#rows in melted df:", len(df_for_long_format_tech_stack))

print("sum of all value columns =", df.filter(value_vars).sum().sum())
print("#rows in df if only 1s are kept =", sum(df_for_long_format_tech_stack["tech_stack_value"] == 1))

#rows: 1432 * #vars: 20 should yield: 28640 rows
#rows in melted df: 28640
sum of all value columns = 3558
#rows in df if only 1s are kept = 3558

In [128]:
df_for_long_format_tech_stack = df_for_long_format_tech_stack[df_for_long_format_tech_stack["tech_stack_value"] == 1]
df_for_long_format_tech_stack

,id,location_clean,title_cat_ChatGPT,seniority_level_5,days_online_grouped,tech_stack,tech_stack_value
0,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_python,1
7160,0,Berlin,Data Scientist,Associate/Mid-Level,15-21,tech_stack_sql,1
8593,1,Berlin,Data Scientist,Entry level,8-14,tech_stack_azure,1
22913,1,Berlin,Data Scientist,Entry level,8-14,tech_stack_aws,1
7161,1,Berlin,Data Scientist,Entry level,8-14,tech_stack_sql,1
...,...,...,...,...,...,...,...
1392,1618,Großenlüder,Data Engineer,Senior,8-14,tech_stack_python,1
9984,1618,Großenlüder,Data Engineer,Senior,8-14,tech_stack_azure,1
1393,1619,Münchberg,Data Engineer,Senior,8-14,tech_stack_python,1
22875,1621,München,Other,Associate/Mid-Level,0-7,tech_stack_excel,1
1397,1623,München,Other,Senior,8-14,tech_stack_python,1

#### Merge DFs

In [129]:
df_out_long_merged = df_for_long_format_job_type.combine_first(df_for_long_format_tech_stack)
df_out_long_merged

,days_online_grouped,id,job_type,job_type_value,location_clean,seniority_level_5,tech_stack,tech_stack_value,title_cat_ChatGPT
0,15-21,0,job_type_Vollzeit,1.0,Berlin,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
1,8-14,1,job_type_Vollzeit,1.0,Berlin,Entry level,tech_stack_python,1.0,Data Scientist
2,22-28,2,job_type_Vollzeit,1.0,Frankfurt am Main,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
3,29+,3,job_type_Vollzeit,1.0,Berlin,Entry level,tech_stack_python,1.0,Data Scientist
4,15-21,4,job_type_Vollzeit,1.0,Frankfurt am Main,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
...,...,...,...,...,...,...,...,...,...
28614,8-14,191,NaN,NaN,Berlin,Associate/Mid-Level,tech_stack_r,1.0,Data Analyst
28617,29+,293,NaN,NaN,Hamburg,Entry level,tech_stack_r,1.0,Data Scientist
28629,15-21,549,NaN,NaN,Hamburg,Director,tech_stack_r,1.0,Data Scientist
28632,29+,638,NaN,NaN,Darmstadt,Associate/Mid-Level,tech_stack_r,1.0,AI/ML Specialist
28636,0-7,957,NaN,NaN,Bochum,Senior,tech_stack_r,1.0,Data Scientist

#### Check results

Job Type

In [130]:
df_out_long_merged["job_type"].value_counts()

job_type
job_type_Vollzeit              1162
job_type_Festanstellung         363
job_type_Homeoffice             216
job_type_Teilzeit               151
job_type_Praktikum               75
job_type_Werkstudent             33
job_type_BefristeterVertrag      20
job_type_FreieMitarbeit          19
job_type_Traineeprogramm          3
job_type_Berufsausbildung         3
Name: count, dtype: int64

In [131]:
df.filter(like="job_type").sum()

job_type_Vollzeit              1162
job_type_Teilzeit               151
job_type_Festanstellung         363
job_type_BefristeterVertrag      20
job_type_Homeoffice             216
job_type_FreieMitarbeit          19
job_type_Traineeprogramm          3
job_type_Berufsausbildung         3
job_type_Praktikum               75
job_type_Werkstudent             33
dtype: int64

Tech Stack

In [132]:
df_out_long_merged["tech_stack"].value_counts()

tech_stack
tech_stack_python        891
tech_stack_sql           548
tech_stack_r             309
tech_stack_aws           285
tech_stack_azure         236
tech_stack_powerbi       199
tech_stack_tableau       161
tech_stack_gcp           160
tech_stack_git           157
tech_stack_excel         148
tech_stack_java          146
tech_stack_docker        110
tech_stack_qlik           59
tech_stack_javascript     52
tech_stack_sas            42
tech_stack_julia          19
tech_stack_alteryx        11
tech_stack_rust           11
tech_stack_spss            9
tech_stack_stata           5
Name: count, dtype: int64

In [133]:
df.filter(like="tech_stack").sum()

tech_stack_python        891
tech_stack_julia          19
tech_stack_spss            9
tech_stack_stata           5
tech_stack_javascript     52
tech_stack_sql           548
tech_stack_azure         236
tech_stack_gcp           160
tech_stack_powerbi       199
tech_stack_tableau       161
tech_stack_qlik           59
tech_stack_alteryx        11
tech_stack_docker        110
tech_stack_rust           11
tech_stack_sas            42
tech_stack_excel         148
tech_stack_aws           285
tech_stack_git           157
tech_stack_java          146
tech_stack_r             309
dtype: int64

Job Title

In [134]:
df_out_long_merged.groupby("id").agg({"title_cat_ChatGPT": "first"}).value_counts()

title_cat_ChatGPT
Data Scientist                495
Other                         412
Machine Learning Engineer      91
Data Analyst                   87
Data Engineer                  76
AI/ML Specialist               71
Research Scientist             53
Business Intelligence (BI)     46
Data Consultant                43
AI Engineer                    38
Name: count, dtype: int64

In [135]:
df_out["title_cat_ChatGPT"].value_counts()

title_cat_ChatGPT
Data Scientist                500
Other                         425
Machine Learning Engineer      91
Data Analyst                   87
Data Engineer                  76
AI/ML Specialist               71
Research Scientist             55
Business Intelligence (BI)     46
Data Consultant                43
AI Engineer                    38
Name: count, dtype: int64

In [136]:
# There n=20 ads without any job type or tech stack match...

In [137]:
df_out_long_merged_ids = set(df_out_long_merged["id"])
df_out_ids = set(df_out.index)

print("#ids in long df:", len(df_out_long_merged_ids))
print("#ids in wide df:", len(df_out_ids))

#ids in long df: 1412
#ids in wide df: 1432

In [138]:
ids_not_in_long = sorted(list(df_out_ids - df_out_long_merged_ids))
ids_not_in_long

[590,
 930,
 997,
 1000,
 1004,
 1020,
 1023,
 1044,
 1055,
 1059,
 1100,
 1124,
 1136,
 1169,
 1179,
 1182,
 1204,
 1211,
 1227,
 1272]

In [139]:
df.filter(like="tech_stack").loc[ids_not_in_long].sum()

tech_stack_python        0
tech_stack_julia         0
tech_stack_spss          0
tech_stack_stata         0
tech_stack_javascript    0
tech_stack_sql           0
tech_stack_azure         0
tech_stack_gcp           0
tech_stack_powerbi       0
tech_stack_tableau       0
tech_stack_qlik          0
tech_stack_alteryx       0
tech_stack_docker        0
tech_stack_rust          0
tech_stack_sas           0
tech_stack_excel         0
tech_stack_aws           0
tech_stack_git           0
tech_stack_java          0
tech_stack_r             0
dtype: int64

In [140]:
df.filter(like="job_type").loc[ids_not_in_long].sum()

job_type_Vollzeit              0
job_type_Teilzeit              0
job_type_Festanstellung        0
job_type_BefristeterVertrag    0
job_type_Homeoffice            0
job_type_FreieMitarbeit        0
job_type_Traineeprogramm       0
job_type_Berufsausbildung      0
job_type_Praktikum             0
job_type_Werkstudent           0
dtype: int64

As expected, those IDs do not show any positive value in any of these columns and were therefore filtered out.

They will be added to the long-format dataframe again.

In [141]:
id_vars = ["location_clean", "title_cat_ChatGPT", "seniority_level_5", "days_online_grouped"]

In [142]:
df_out_long_merged_add_ids = df_out.loc[ids_not_in_long, id_vars]
df_out_long_merged_add_ids["id"] = df_out_long_merged_add_ids.index
df_out_long_merged_add_ids.tail()

,location_clean,title_cat_ChatGPT,seniority_level_5,days_online_grouped,id
1182,Karlsruhe,Other,Associate/Mid-Level,N/A,1182
1204,Göttingen,Other,Postdoc,N/A,1204
1211,Berlin,Other,Associate/Mid-Level,N/A,1211
1227,Berlin,Other,Associate/Mid-Level,N/A,1227
1272,Hamburg,Other,Senior,N/A,1272

In [143]:
df_out_long_merged_all_ids = pd.concat([df_out_long_merged, df_out_long_merged_add_ids])
df_out_long_merged_all_ids.tail()

,days_online_grouped,id,job_type,job_type_value,location_clean,seniority_level_5,tech_stack,tech_stack_value,title_cat_ChatGPT
1182,N/A,1182,NaN,NaN,Karlsruhe,Associate/Mid-Level,NaN,NaN,Other
1204,N/A,1204,NaN,NaN,Göttingen,Postdoc,NaN,NaN,Other
1211,N/A,1211,NaN,NaN,Berlin,Associate/Mid-Level,NaN,NaN,Other
1227,N/A,1227,NaN,NaN,Berlin,Associate/Mid-Level,NaN,NaN,Other
1272,N/A,1272,NaN,NaN,Hamburg,Senior,NaN,NaN,Other

In [144]:
print(len(set(df_out_long_merged_all_ids["id"])))

1432

In [145]:
df_out_long_merged_all_ids.groupby(by="id").agg({"title_cat_ChatGPT": "first"}).value_counts()

title_cat_ChatGPT
Data Scientist                500
Other                         425
Machine Learning Engineer      91
Data Analyst                   87
Data Engineer                  76
AI/ML Specialist               71
Research Scientist             55
Business Intelligence (BI)     46
Data Consultant                43
AI Engineer                    38
Name: count, dtype: int64

In [146]:
df_out["title_cat_ChatGPT"].value_counts()

title_cat_ChatGPT
Data Scientist                500
Other                         425
Machine Learning Engineer      91
Data Analyst                   87
Data Engineer                  76
AI/ML Specialist               71
Research Scientist             55
Business Intelligence (BI)     46
Data Consultant                43
AI Engineer                    38
Name: count, dtype: int64

...Looks better

### Clean job_type and tech_stack columns

In [147]:
df_out_long_merged_all_ids.head()

,days_online_grouped,id,job_type,job_type_value,location_clean,seniority_level_5,tech_stack,tech_stack_value,title_cat_ChatGPT
0,15-21,0,job_type_Vollzeit,1.0,Berlin,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
1,8-14,1,job_type_Vollzeit,1.0,Berlin,Entry level,tech_stack_python,1.0,Data Scientist
2,22-28,2,job_type_Vollzeit,1.0,Frankfurt am Main,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
3,29+,3,job_type_Vollzeit,1.0,Berlin,Entry level,tech_stack_python,1.0,Data Scientist
4,15-21,4,job_type_Vollzeit,1.0,Frankfurt am Main,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist

#### Job Type

In [148]:
df_out_long_merged_all_ids["job_type"] = df_out_long_merged_all_ids["job_type"].str.replace("job_type_", "")

In [149]:
df_out_long_merged_all_ids["job_type"].value_counts(dropna=False)

job_type
NaN                   2810
Vollzeit              1162
Festanstellung         363
Homeoffice             216
Teilzeit               151
Praktikum               75
Werkstudent             33
BefristeterVertrag      20
FreieMitarbeit          19
Traineeprogramm          3
Berufsausbildung         3
Name: count, dtype: int64

In [150]:
job_type_dict = {
    "Vollzeit"           : "Full-time",     
    "Festanstellung"     : "Permanent",    
    "Homeoffice"         : "Homeoffice",        
    "Teilzeit"           : "Part-time",          
    "Praktikum"          : "Internship",         
    "Werkstudent"        : "Working student",       
    "BefristeterVertrag" : "Fixed-term",
    "FreieMitarbeit"     : "Freelance",    
    "Traineeprogramm"    : "Traineeprogram", 
    "Berufsausbildung"   : "Vocational training", 
}

df_out_long_merged_all_ids["job_type"] = df_out_long_merged_all_ids["job_type"].map(job_type_dict)

In [151]:
df_out_long_merged_all_ids.head()

,days_online_grouped,id,job_type,job_type_value,location_clean,seniority_level_5,tech_stack,tech_stack_value,title_cat_ChatGPT
0,15-21,0,Full-time,1.0,Berlin,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
1,8-14,1,Full-time,1.0,Berlin,Entry level,tech_stack_python,1.0,Data Scientist
2,22-28,2,Full-time,1.0,Frankfurt am Main,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist
3,29+,3,Full-time,1.0,Berlin,Entry level,tech_stack_python,1.0,Data Scientist
4,15-21,4,Full-time,1.0,Frankfurt am Main,Associate/Mid-Level,tech_stack_python,1.0,Data Scientist

#### Tech Stack

In [152]:
df_out_long_merged_all_ids["tech_stack"] = df_out_long_merged_all_ids["tech_stack"].str.replace("tech_stack_", "").str.capitalize()

In [153]:
df_out_long_merged_all_ids["tech_stack"].value_counts()

tech_stack
Python        891
Sql           548
R             309
Aws           285
Azure         236
Powerbi       199
Tableau       161
Gcp           160
Git           157
Excel         148
Java          146
Docker        110
Qlik           59
Javascript     52
Sas            42
Julia          19
Alteryx        11
Rust           11
Spss            9
Stata           5
Name: count, dtype: int64

In [154]:
tech_stack_dict = {
    "Sql"       : "SQL",
    "Aws"       : "AWS",
    "Powerbi"   : "Power BI",
    "Gcp"       : "GCP",
    "Javascript": "JavaScript",
    "Sas"       : "SAS",
    "Spss"      : "SPSS",
}

def clean_tech_stack(x):
    if x in tech_stack_dict:
        return tech_stack_dict[x]
    return x

df_out_long_merged_all_ids["tech_stack"] = df_out_long_merged_all_ids["tech_stack"].apply(clean_tech_stack)
df_out_long_merged_all_ids["tech_stack"].value_counts()

tech_stack
Python        891
SQL           548
R             309
AWS           285
Azure         236
Power BI      199
Tableau       161
GCP           160
Git           157
Excel         148
Java          146
Docker        110
Qlik           59
JavaScript     52
SAS            42
Julia          19
Alteryx        11
Rust           11
SPSS            9
Stata           5
Name: count, dtype: int64

### Store final long-format dataframe

In [155]:
keep_cols = ["id", "location_clean", "title_cat_ChatGPT", "seniority_level_5", "days_online_grouped", "job_type", "tech_stack"]

df_out_long_merged_all_ids_out = df_out_long_merged_all_ids.filter(keep_cols)
df_out_long_merged_all_ids_out = df_out_long_merged_all_ids_out.fillna("-")
df_out_long_merged_all_ids_out.sample(10, random_state=42)

,id,location_clean,title_cat_ChatGPT,seniority_level_5,days_online_grouped,job_type,tech_stack
24428,92,Hamburg,Machine Learning Engineer,Associate/Mid-Level,29+,-,Git
4231,1586,Köln,Machine Learning Engineer,Associate/Mid-Level,0-7,Permanent,-
27245,38,Schwalbach,Data Scientist,Entry level,15-21,-,R
1364,1583,Stuttgart,Other,Associate/Mid-Level,0-7,Full-time,-
4003,1348,Rosenheim,Data Scientist,Entry level,8-14,Permanent,-
24389,46,Hannover,Data Scientist,Associate/Mid-Level,0-7,-,Git
22875,1621,München,Other,Associate/Mid-Level,0-7,-,Excel
1381,1604,Mannheim,Other,Associate/Mid-Level,8-14,Full-time,-
23005,101,Frankfurt am Main,Other,Director,0-7,-,AWS
4093,1445,Rosenheim,Data Engineer,Associate/Mid-Level,15-21,Permanent,-

In [156]:
df_out_long_merged_all_ids_out.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4855 entries, 0 to 1272
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   4855 non-null   int64
 1   location_clean       4855 non-null   object
 2   title_cat_ChatGPT    4855 non-null   object
 3   seniority_level_5    4855 non-null   object
 4   days_online_grouped  4855 non-null   object
 5   job_type             4855 non-null   object
 6   tech_stack           4855 non-null   object
dtypes: int64(1), object(6)
memory usage: 303.4+ KB

In [157]:
# Save as csv
df_out_long_merged_all_ids_out.to_csv("../job_data_long.csv", header=True, index=False)